acount-operator-register.html
<!DOCTYPE html>
<head>
  <!--
  Basic Page Needs
  ==================================================
  -->
  <title>Listeo</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <!--
  CSS
  ==================================================
  -->
  <link rel="stylesheet" href="css/style.min.css">
  <link id="custom" rel="stylesheet" href="css/custom.min.css">
  <link rel="stylesheet" href="css/jquery-ui.min.css">
</head>
<body>
  <!-- Wrapper-->
  <div id="wrapper">
    <!--
    Header Container
    ==================================================
    -->
    <header class="fixed fullwidth dashboard" id="header-container">
      <!-- Header-->
      <div class="not-sticky" id="header">
        <div class="container">
          <!-- Left Side Content-->
          <div class="left-side">
            <!-- Logo-->
            <div id="logo"><a href="index.html"><img src="images/logo.png" alt=""></a></div>
          </div>
          <!-- Left Side Content / End-->
          <!-- Right Side Content / End-->
          <div class="right-side">
            <!-- Header Widget-->
            <div class="header-widget">
              <!-- User Menu-->
              <div class="user-menu mobile-hidden">
                <div class="user-name"><span></span>Janusz Nowakowski</div>
              </div><a class="button border with-icon"> Wyloguj</a>
            </div>
            <!-- Header Widget / End-->
          </div>
          <!-- Right Side Content / End-->
        </div>
      </div>
      <!-- Header / End-->
    </header>
    <div class="clearfix"></div>
    <!-- Header Container / End-->
    <!-- Dashboard-->
    <div id="dashboard">
      <!--
      Navigation
      ==================================================
      -->
      <!-- Responsive Navigation Trigger--><a class="dashboard-responsive-nav-trigger" href="#"> Panel Użytkownika</a>
      <div class="dashboard-nav">
        <div class="dashboard-nav-inner">
          <ul data-submenu-title="Nawigacja">
            <li class="active"><a href="acount-operator-workers.html"><i class="sl sl-icon-settings"></i> Wyszukaj w bazie</a></li>
            <li><a href="acount-operator-list.html"><i class="im im-icon-Business-Mens"></i> Pacjenci</a></li>
            <li><a href="acount-operator-specs.html"><i class="im im-icon-Bulleted-List"></i> Specjalizacje</a></li>
            <li><a href="acount-operator-places.html"><i class="im im-icon-Hospital"></i> Poradnie</a></li>
            <li><a href="acount-operator-items.html"><i class="im im-icon-Chemical-3"></i> Usługi</a></li>
            <li><a href="acount-operator-zdrowia.html"><i class="im im-icon-Heart-2"></i> Dodaj do prog. Zdrowia</a></li>
            <li><a href="acount-operator-register.html"><i class="im im-icon-Phone"></i> Umów pacjenta</a></li>
            <li><a href="acount-operator-services.html"><i class="sl sl-icon-user"></i>  Dodaj Zlecenie</a></li>
            <li><a href="acount-operator-contact.html"><strong>Kontakt GMP</strong></a></li>
          </ul>
        </div>
      </div>
      <!-- Navigation / End-->
      <!--
      Content
      ==================================================
      -->
      <div class="dashboard-content">
        <!-- Titlebar-->
        <div id="titlebar">
          <div class="row">
            <div class="col-md-12">
              <h2>Umów pacjenta</h2>
              <!-- Breadcrumbs-->
              <nav id="breadcrumbs">
                <ul>
                  <li><a href="index.html">Strona główna</a></li>
                  <li><a href="acount-settings.html">Umów pacjenta</a></li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
        <div class="row">
          <!-- Profile-->
          <div class="col-lg-12 col-md-12">
            <div class="dashboard-list-box">
              <h4 class="gray">Umów pacjenta</h4>
              <div class="dashboard-list-box-static">
                <!-- Details-->
                <form class="form with-forms">
                  <div class="row padding-top-20">
                    <div class="col-md-6">
                      <label>Województwo :</label>
                      <select class="chosen-select-no-single">
                        <option>Małopolskie</option>
                        <option>Wielkopolskie</option>
                      </select>
                    </div>
                    <div class="col-md-6">
                      <label>Miasto :</label>
                      <select class="chosen-select-no-single">
                        <option>Tarnów</option>
                        <option>Kraków</option>
                      </select>
                    </div>
                  </div>
                  <div class="row padding-top-20">
                    <div class="col-md-6">
                      <label>Język:
                        <select class="admin-single" name="language">
                          <option value="Data">Data</option>
                          <option value="Data 2">Data 2</option>
                        </select>
                      </label>
                    </div>
                    <div class="col-md-6">
                      <label>Specjalizacja:
                        <select class="admin-single" name="specs">
                          <option value="Data">Data</option>
                          <option value="Data 2">Data 2</option>
                        </select>
                      </label>
                    </div>
                  </div>
                  <div class="row padding-top-20">
                    <div class="col-md-12">
                      <label>Typ usługi:</label>
                      <p>
                        <input type="radio" id="payment" name="payment">
                        <label for="payment"> NFZ</label><br>
                        <input type="radio" id="private" name="payment">
                        <label for="private"> Prywatnie</label>
                      </p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                      <label for="amount">Wiek przyjmowania dzieci:</label>
                      <input id="amount" type="text" readonly="" style="border:0; color:#f6931f; font-weight:bold;">
                      <div class="margin-top-70" id="slider-range"></div>
                    </div>
                    <div class="col-md-4">
                      <label for="amount2">Wiek przyjmowania dorosłych:</label>
                      <input id="amount2" type="text" readonly="" style="border:0; color:#f6931f; font-weight:bold;">
                      <div class="margin-top-70" id="slider-range2"></div>
                    </div>
                    <div class="col-md-4">
                      <label for="amount3">Godziny pracy placówki:</label>
                      <input id="amount3" type="text" readonly="" style="border:0; color:#f6931f; font-weight:bold;">
                      <div class="margin-top-70" id="slider-range3"></div>
                    </div>
                  </div>
                  <!-- More Search Options / End-->
                  <button class="button fullwidth margin-top-30" type="submit">Wyszukaj</button>
                </form>
              </div>
            </div>
            <div class="padding-bottom-50"></div>
            <h3>Wyniki wyszukiwania :</h3>
            <div class="padding-bottom-50"></div>
            <!-- start-->
            <div class="col-md-12 col-md-12 doctor-single margin-bottom-50">
              <div class="row background-doctor-title">
                <div class="col-md-2 mobile-hidden"><img src="https://dummyimage.com/125x100/000/fff"></div>
                <div class="col-md-10 col-sm-12">
                  <h3 class="doctor-title"><strong>
                      <u><a href="#">Lek med. Monika Szmit</a></u></strong></h3><span> Lekarz Ogólny / Medycyna Pracy</span>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="row padding-bottom-30">
                    <div class="col-sm-6 col-md-6">
                      <div class="padding-left-25"><strong> Termin Wizyty :</strong>
                        <div style="font-size:32px;padding-top:40px;"> 11 marca 2017</div>
                        <div class="padding-top-10 margin-bottom-20"><a href="#"><i>Kolejny Termin >></i></a></div>
                      </div>
                    </div>
                    <div class="col-sm-6 col-md-6">
                      <div><strong>Wybierz godzinę wizyty:</strong></div>
                      <div class="margin-top-30 margin-bottom-30">
                        <div class="fc-event-simple">11:00</div>
                        <div class="fc-event-simple">13:00</div>
                        <div class="fc-event-simple">14:00</div>
                        <div class="fc-event-simple">16:00</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row doctor-info">
                <div class="col-md-12">
                  <div class="row padding-bottom-10">
                    <div class="col-sm-6 col-md-6">
                      <div class="padding-left-25"><strong> Nazwa  Placówki:</strong>
                        <p> Centermed Tarnów</p>
                      </div>
                    </div>
                    <div class="col-sm-6 col-md-6">
                      <div><strong> Adres:</strong>
                        <p> Ulica Szujskiego 33</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- end-->
            <!-- start-->
            <div class="col-md-12 col-md-12 doctor-single margin-bottom-50">
              <div class="row background-doctor-title">
                <div class="col-md-2 mobile-hidden"><img src="https://dummyimage.com/125x100/000/fff"></div>
                <div class="col-md-10 col-sm-12">
                  <h3 class="doctor-title"><strong>
                      <u><a href="#">Lek med. Monika Szmit</a></u></strong></h3><span> Lekarz Ogólny / Medycyna Pracy</span>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="row padding-bottom-30">
                    <div class="col-sm-6 col-md-6">
                      <div class="padding-left-25"><strong> Termin Wizyty :</strong>
                        <div style="font-size:32px;padding-top:40px;"> 11 marca 2017</div>
                        <div class="padding-top-10 margin-bottom-20"><a href="#"><i>Kolejny Termin >></i></a></div>
                      </div>
                    </div>
                    <div class="col-sm-6 col-md-6">
                      <div><strong>Wybierz godzinę wizyty:</strong></div>
                      <div class="margin-top-30 margin-bottom-30">
                        <div class="fc-event-simple">11:00</div>
                        <div class="fc-event-simple">13:00</div>
                        <div class="fc-event-simple">14:00</div>
                        <div class="fc-event-simple">16:00</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row doctor-info">
                <div class="col-md-12">
                  <div class="row padding-bottom-10">
                    <div class="col-sm-6 col-md-6">
                      <div class="padding-left-25"><strong> Nazwa  Placówki:</strong>
                        <p> Centermed Tarnów</p>
                      </div>
                    </div>
                    <div class="col-sm-6 col-md-6">
                      <div><strong> Adres:</strong>
                        <p> Ulica Szujskiego 33</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- end-->
          </div>
          <div class="col-md-12">
            <div class="copyrights">© 2017 Grupa Medycyna Polska</div>
          </div>
        </div>
      </div>
      <!-- Content / End-->
    </div>
    <!-- Dashboard / End-->
  </div>
  <!-- Wrapper / End-->
  <!--
  Scripts
  ==================================================
  -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.0.js"></script>
  <script type="text/javascript" src="scripts/jpanelmenu.min.js"></script>
  <script type="text/javascript" src="scripts/chosen.min.js"></script>
  <script type="text/javascript" src="scripts/slick.min.js"></script>
  <script type="text/javascript" src="scripts/rangeslider.min.js"></script>
  <script type="text/javascript" src="scripts/waypoints.min.js"></script>
  <script type="text/javascript" src="scripts/jquery-ui.min.js"></script>
  <script type="text/javascript" src="scripts/placeholders.jquery.js"></script>
  <script type="text/javascript" src="scripts/select2.min.js"></script>
  <script type="text/javascript" src="scripts/custom.js"></script>
  <script type="text/javascript" src="scripts/rangeslider.min.js"></script>
  <script>
    $(function () {
        $("#slider-range").slider({
            range: true,
            min: 0,
            max: 17,
            values: [0, 12],
            slide: function (event, ui) {
                $("#amount").val(ui.values[0] + " - " + ui.values[1]);
            }
        });
        $("#amount").val($("#slider-range").slider("values", 0) +
            " - " + $("#slider-range").slider("values", 1));
        $("#slider-range2").slider({
            range: true,
            min: 18,
            max: 110,
            values: [18, 75],
            slide: function (event, ui) {
                $("#amount2").val(ui.values[0] + " - " + ui.values[1]);
            }
        });
        $("#amount2").val($("#slider-range2").slider("values", 0) +
            " - " + $("#slider-range2").slider("values", 1));
    
        $("#slider-range3").slider({
            range: true,
            min: 0,
            max: 24,
            values: [6, 18],
            slide: function (event, ui) {
                $("#amount3").val(ui.values[0] + " - " + ui.values[1]);
            }
        });
        $("#amount3").val($("#slider-range3").slider("values", 0) +
            " - " + $("#slider-range3").slider("values", 1));
    
        $(".admin-single").select2({
            placeholder: 'Wybierz jezyk',
            allowClear: true,
            theme: 'admin',
        });
    
        $(".admin-single2").select2({
            placeholder: 'Wybierz specjalizacje',
            allowClear: true,
            theme: 'admin',
        });
    
    });
  </script>
</body>

acount-operator-register.pug
include header.pug
body
    // Wrapper
    #wrapper
        include menu-admin.pug
        // Dashboard
        #dashboard
            //
              Navigation
              ==================================================
            // Responsive Navigation Trigger
            include acount-operator-menu
            // Navigation / End
            //
              Content
              ==================================================
            .dashboard-content
                // Titlebar
                #titlebar
                    .row
                        .col-md-12
                            h2 Umów pacjenta
                            // Breadcrumbs
                            nav#breadcrumbs
                                ul
                                    li
                                        a(href='index.html') Strona główna
                                    li
                                        a(href='acount-settings.html') Umów pacjenta
                .row
                    // Profile
                    .col-lg-12.col-md-12
                        .dashboard-list-box
                            h4.gray Umów pacjenta
                            .dashboard-list-box-static
                                // Details
                                form.form.with-forms
                                    .row.padding-top-20
                                        .col-md-6
                                            label Województwo :
                                            select.chosen-select-no-single
                                                option Małopolskie
                                                option Wielkopolskie
                                        .col-md-6
                                            label Miasto :
                                            select.chosen-select-no-single
                                                option Tarnów
                                                option Kraków
                                    .row.padding-top-20
                                        .col-md-6
                                            label Język:
                                                select(name='language').admin-single
                                                    option( value='Data') Data
                                                    option( value='Data 2') Data 2
                                        .col-md-6

                                            label Specjalizacja:
                                                select(name='specs').admin-single
                                                    option( value='Data') Data
                                                    option( value='Data 2') Data 2
                                    .row.padding-top-20
                                        .col-md-12
                                           label Typ usługi:
                                           p
                                               input(type='radio' id='payment' name='payment')
                                               label(for='payment')  NFZ
                                               br
                                               input(type='radio' id='private' name='payment')
                                               label(for='private')  Prywatnie
                                    .row
                                        .col-md-4
                                            label(for='amount') Wiek przyjmowania dzieci:
                                            input#amount(type='text', readonly='', style='border:0; color:#f6931f; font-weight:bold;')
                                            #slider-range.margin-top-70
                                        .col-md-4
                                            label(for='amount2') Wiek przyjmowania dorosłych:
                                            input#amount2(type='text', readonly='', style='border:0; color:#f6931f; font-weight:bold;')
                                            #slider-range2.margin-top-70
                                        .col-md-4
                                            label(for='amount3') Godziny pracy placówki:
                                            input#amount3(type='text', readonly='', style='border:0; color:#f6931f; font-weight:bold;')
                                            #slider-range3.margin-top-70
                                    // More Search Options / End
                                    button(type="submit").button.fullwidth.margin-top-30 Wyszukaj
                        .padding-bottom-50
                        h3 Wyniki wyszukiwania :
                        .padding-bottom-50
                        // start
                        .col-md-12.col-md-12.doctor-single.margin-bottom-50
                           .row.background-doctor-title
                               .col-md-2.mobile-hidden
                                   img(src='https://dummyimage.com/125x100/000/fff')
                               .col-md-10.col-sm-12
                                   h3.doctor-title
                                       strong
                                           u
                                               a(href="#") Lek med. Monika Szmit
                                   span  Lekarz Ogólny / Medycyna Pracy
                           .row
                               .col-md-12
                                   .row.padding-bottom-30
                                       .col-sm-6.col-md-6
                                           div.padding-left-25
                                               strong
                                                   |  Termin Wizyty :
                                               div(style="font-size:32px;padding-top:40px")
                                                   |  11 marca 2017
                                               div.padding-top-10.margin-bottom-20
                                                   a(href="#")
                                                       i Kolejny Termin >>
                                       .col-sm-6.col-md-6
                                           div
                                               strong Wybierz godzinę wizyty:
                                           div.margin-top-30.margin-bottom-30
                                               .fc-event-simple 11:00
                                               .fc-event-simple 13:00
                                               .fc-event-simple 14:00
                                               .fc-event-simple 16:00
                           .row.doctor-info
                               .col-md-12
                                   .row.padding-bottom-10
                                       .col-sm-6.col-md-6
                                           div.padding-left-25
                                               strong
                                                   |  Nazwa  Placówki:
                                               p
                                                   |  Centermed Tarnów
                                       .col-sm-6.col-md-6
                                           div
                                               strong
                                                   |  Adres:
                                               p
                                                   |  Ulica Szujskiego 33
                        // end
                        // start
                        .col-md-12.col-md-12.doctor-single.margin-bottom-50
                           .row.background-doctor-title
                               .col-md-2.mobile-hidden
                                   img(src='https://dummyimage.com/125x100/000/fff')
                               .col-md-10.col-sm-12
                                   h3.doctor-title
                                       strong
                                           u
                                               a(href="#") Lek med. Monika Szmit
                                   span  Lekarz Ogólny / Medycyna Pracy
                           .row
                               .col-md-12
                                   .row.padding-bottom-30
                                       .col-sm-6.col-md-6
                                           div.padding-left-25
                                               strong
                                                   |  Termin Wizyty :
                                               div(style="font-size:32px;padding-top:40px")
                                                   |  11 marca 2017
                                               div.padding-top-10.margin-bottom-20
                                                   a(href="#")
                                                       i Kolejny Termin >>
                                       .col-sm-6.col-md-6
                                           div
                                               strong Wybierz godzinę wizyty:
                                           div.margin-top-30.margin-bottom-30
                                               .fc-event-simple 11:00
                                               .fc-event-simple 13:00
                                               .fc-event-simple 14:00
                                               .fc-event-simple 16:00
                           .row.doctor-info
                               .col-md-12
                                   .row.padding-bottom-10
                                       .col-sm-6.col-md-6
                                           div.padding-left-25
                                               strong
                                                   |  Nazwa  Placówki:
                                               p
                                                   |  Centermed Tarnów
                                       .col-sm-6.col-md-6
                                           div
                                               strong
                                                   |  Adres:
                                               p
                                                   |  Ulica Szujskiego 33
                        // end
                    .col-md-12
                        .copyrights © 2017 Grupa Medycyna Polska
            // Content / End
        // Dashboard / End
    // Wrapper / End
    include scripts
    script(type='text/javascript', src='scripts/rangeslider.min.js')
    script.
        $(function () {
            $("#slider-range").slider({
                range: true,
                min: 0,
                max: 17,
                values: [0, 12],
                slide: function (event, ui) {
                    $("#amount").val(ui.values[0] + " - " + ui.values[1]);
                }
            });
            $("#amount").val($("#slider-range").slider("values", 0) +
                " - " + $("#slider-range").slider("values", 1));
            $("#slider-range2").slider({
                range: true,
                min: 18,
                max: 110,
                values: [18, 75],
                slide: function (event, ui) {
                    $("#amount2").val(ui.values[0] + " - " + ui.values[1]);
                }
            });
            $("#amount2").val($("#slider-range2").slider("values", 0) +
                " - " + $("#slider-range2").slider("values", 1));

            $("#slider-range3").slider({
                range: true,
                min: 0,
                max: 24,
                values: [6, 18],
                slide: function (event, ui) {
                    $("#amount3").val(ui.values[0] + " - " + ui.values[1]);
                }
            });
            $("#amount3").val($("#slider-range3").slider("values", 0) +
                " - " + $("#slider-range3").slider("values", 1));

            $(".admin-single").select2({
                placeholder: 'Wybierz jezyk',
                allowClear: true,
                theme: 'admin',
            });

            $(".admin-single2").select2({
                placeholder: 'Wybierz specjalizacje',
                allowClear: true,
                theme: 'admin',
            });

        });
