acount-hospital.pug
include header
body
        // Wrapper
        #wrapper
            include menu-admin
            #dashboard
                //
                  Navigation
                  ==================================================
                // Responsive Navigation Trigger
                include acount-premium-menu
                // Navigation / End
                //
                  Content
                  ==================================================
                .dashboard-content
                    // Titlebar
                    #titlebar
                        .row
                            .col-md-12
                                h2 Zapytaj placówke
                                // Breadcrumbs
                                nav#breadcrumbs
                                    ul
                                        li
                                            a(href='index.html') Strona główna
                                        li
                                            a(href='acount-basic.html') Zapytaj placówke
                    script.
                        function getFile() {
                            document.getElementById("upload-file").click();
                        }
                        function sub(obj) {
                            var file = obj.value;
                            var fileName = file.split("\\");
                            document.getElementById("input-button").innerHTML = "Dodano plik pomyślnie"
                            event.preventDefault();
                        }

                    .row
                        // Section
                        .add-listing-section.margin-top-45
                            // Headline
                            .add-listing-headline
                                h3
                                    i.sl.sl-icon-docs
                                    |  Formularz kontaktowy
                            form(name="ask-form").form.with-forms
                                // City
                                h5 Wybierz kontakt
                                select(name="hospital").chosen-select-no-single
                                    option( value='GMP') Grupa Medycyna Polska Centrala
                                    option( value='Skargi') Centermed - Skargi

                                h5.padding-top-30 Treśc pytania:
                                textarea(name='content', cols='30', rows='3', spellcheck='true')

                                div(onclick='getFile()')#input-button.upload-button Dodaj Plik
                                div(style="height: 0px;width: 0px; overflow:hidden;")
                                    input(id="upload-file" type="file" value="upload" onchange="sub(this)")

                                button(type='submit').button
                                    | Wyślij
                                    i.fa.fa-arrow-circle-right
                        .col-md-12
                            .copyrights © 2017 Grupa Medycyna Polska
            // Content / End
        // Dashboard / End
        // Wrapper / End
        include scripts

acount-hospital.html
<!DOCTYPE html>
<head>
  <!--
  Basic Page Needs
  ==================================================
  -->
  <title>Listeo</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <!--
  CSS
  ==================================================
  -->
  <link rel="stylesheet" href="css/style.min.css">
  <link id="custom" rel="stylesheet" href="css/custom.min.css">
  <link rel="stylesheet" href="css/jquery-ui.min.css">
</head>
<body>
  <!-- Wrapper-->
  <div id="wrapper">
    <!--
    Header Container
    ==================================================
    -->
    <header class="fixed fullwidth dashboard" id="header-container">
      <!-- Header-->
      <div class="not-sticky" id="header">
        <div class="container">
          <!-- Left Side Content-->
          <div class="left-side">
            <!-- Logo-->
            <div id="logo"><a href="index.html"><img src="images/logo.png" alt=""></a></div>
          </div>
          <!-- Left Side Content / End-->
          <!-- Right Side Content / End-->
          <div class="right-side">
            <!-- Header Widget-->
            <div class="header-widget">
              <!-- User Menu-->
              <div class="user-menu mobile-hidden">
                <div class="user-name"><span></span>Janusz Nowakowski</div>
              </div><a class="button border with-icon"> Wyloguj</a>
            </div>
            <!-- Header Widget / End-->
          </div>
          <!-- Right Side Content / End-->
        </div>
      </div>
      <!-- Header / End-->
    </header>
    <div class="clearfix"></div>
    <!-- Header Container / End-->
    <div id="dashboard">
      <!--
      Navigation
      ==================================================
      -->
      <!-- Responsive Navigation Trigger--><a class="dashboard-responsive-nav-trigger" href="#"> Panel Użytkownika</a>
      <div class="dashboard-nav">
        <div class="dashboard-nav-inner">
          <ul data-submenu-title="Nawigacja">
            <li class="active"><a href="acount-basic.html"><i class="sl sl-icon-settings"></i> Moje wizyty</a></li>
            <li><a href="acount-places.html"><i class="im im-icon-Geo-Star"></i> Moje korzyści i partnerzy</a></li>
            <li><a href="acount-points.html"><i class="im im-icon-Wallet-2"></i> Moje punkty zdrowia</a></li>
            <li><a href="acount-hospital.html"><i class="im im-icon-Hospital"></i> Zapytaj placówke</a></li>
            <li><a href="acount-questions.html"><i class="im im-icon-Phone"></i> Zapytaj konsultanta</a></li>
            <li><a href="index.html"><i class="sl sl-icon-plus"></i> Wyszukaj lekarza</a></li>
          </ul>
          <ul data-submenu-title="Konto">
            <li><a href="acount-premium-settings.html"><i class="sl sl-icon-user"></i>Moje Dane</a></li>
            <li><a href="acount-logout.html"><i class="sl sl-icon-power"></i> Wyloguj</a></li>
          </ul>
        </div>
      </div>
      <!-- Navigation / End-->
      <!--
      Content
      ==================================================
      -->
      <div class="dashboard-content">
        <!-- Titlebar-->
        <div id="titlebar">
          <div class="row">
            <div class="col-md-12">
              <h2>Zapytaj placówke</h2>
              <!-- Breadcrumbs-->
              <nav id="breadcrumbs">
                <ul>
                  <li><a href="index.html">Strona główna</a></li>
                  <li><a href="acount-basic.html">Zapytaj placówke</a></li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
        <script>
          function getFile() {
              document.getElementById("upload-file").click();
          }
          function sub(obj) {
              var file = obj.value;
              var fileName = file.split("\\");
              document.getElementById("input-button").innerHTML = "Dodano plik pomyślnie"
              event.preventDefault();
          }
          
        </script>
        <div class="row">
          <!-- Section-->
          <div class="add-listing-section margin-top-45">
            <!-- Headline-->
            <div class="add-listing-headline">
              <h3><i class="sl sl-icon-docs"></i> Formularz kontaktowy</h3>
            </div>
            <form class="form with-forms" name="ask-form">
              <!-- City-->
              <h5>Wybierz kontakt</h5>
              <select class="chosen-select-no-single" name="hospital">
                <option value="GMP">Grupa Medycyna Polska Centrala</option>
                <option value="Skargi">Centermed - Skargi</option>
              </select>
              <h5 class="padding-top-30">Treśc pytania:</h5>
              <textarea name="content" cols="30" rows="3" spellcheck="true"></textarea>
              <div class="upload-button" onclick="getFile()" id="input-button">Dodaj Plik</div>
              <div style="height: 0px;width: 0px; overflow:hidden;">
                <input id="upload-file" type="file" value="upload" onchange="sub(this)">
              </div>
              <button class="button" type="submit">Wyślij<i class="fa fa-arrow-circle-right"></i></button>
            </form>
          </div>
          <div class="col-md-12">
            <div class="copyrights">© 2017 Grupa Medycyna Polska</div>
          </div>
        </div>
      </div>
    </div>
    <!-- Content / End-->
  </div>
  <!-- Dashboard / End-->
  <!-- Wrapper / End-->
  <!--
  Scripts
  ==================================================
  -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.0.js"></script>
  <script type="text/javascript" src="scripts/jpanelmenu.min.js"></script>
  <script type="text/javascript" src="scripts/chosen.min.js"></script>
  <script type="text/javascript" src="scripts/slick.min.js"></script>
  <script type="text/javascript" src="scripts/rangeslider.min.js"></script>
  <script type="text/javascript" src="scripts/waypoints.min.js"></script>
  <script type="text/javascript" src="scripts/jquery-ui.min.js"></script>
  <script type="text/javascript" src="scripts/placeholders.jquery.js"></script>
  <script type="text/javascript" src="scripts/select2.min.js"></script>
  <script type="text/javascript" src="scripts/custom.js"></script>
</body>
