acount-premium.html
<!DOCTYPE html>
<head>
  <!--
  Basic Page Needs
  ==================================================
  -->
  <title>Listeo</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <!--
  CSS
  ==================================================
  -->
  <link rel="stylesheet" href="css/style.min.css">
  <link id="custom" rel="stylesheet" href="css/custom.min.css">
  <link rel="stylesheet" href="css/jquery-ui.min.css">
</head>
<body>
  <!-- Wrapper-->
  <div id="wrapper">
    <!--
    Header Container
    ==================================================
    -->
    <header class="fixed fullwidth dashboard" id="header-container">
      <!-- Header-->
      <div class="not-sticky" id="header">
        <div class="container">
          <!-- Left Side Content-->
          <div class="left-side">
            <!-- Logo-->
            <div id="logo"><a href="index.html"><img src="images/logo.png" alt=""></a></div>
          </div>
          <!-- Left Side Content / End-->
          <!-- Right Side Content / End-->
          <div class="right-side">
            <!-- Header Widget-->
            <div class="header-widget">
              <!-- User Menu-->
              <div class="user-menu mobile-hidden">
                <div class="user-name"><span></span>Janusz Nowakowski</div>
              </div><a class="button border with-icon"> Wyloguj</a>
            </div>
            <!-- Header Widget / End-->
          </div>
          <!-- Right Side Content / End-->
        </div>
      </div>
      <!-- Header / End-->
    </header>
    <div class="clearfix"></div>
    <!-- Header Container / End-->
    <!-- Dashboard-->
    <div id="dashboard">
      <!--
      Navigation
      ==================================================
      -->
      <!-- Responsive Navigation Trigger--><a class="dashboard-responsive-nav-trigger" href="#"> Panel Użytkownika</a>
      <div class="dashboard-nav">
        <div class="dashboard-nav-inner">
          <ul data-submenu-title="Nawigacja">
            <li class="active"><a href="acount-basic.html"><i class="sl sl-icon-settings"></i> Moje wizyty</a></li>
            <li><a href="acount-places.html"><i class="im im-icon-Geo-Star"></i> Moje korzyści i partnerzy</a></li>
            <li><a href="acount-points.html"><i class="im im-icon-Wallet-2"></i> Moje punkty zdrowia</a></li>
            <li><a href="acount-hospital.html"><i class="im im-icon-Hospital"></i> Zapytaj placówke</a></li>
            <li><a href="acount-questions.html"><i class="im im-icon-Phone"></i> Zapytaj konsultanta</a></li>
            <li><a href="index.html"><i class="sl sl-icon-plus"></i> Wyszukaj lekarza</a></li>
          </ul>
          <ul data-submenu-title="Konto">
            <li><a href="acount-premium-settings.html"><i class="sl sl-icon-user"></i>Moje Dane</a></li>
            <li><a href="acount-logout.html"><i class="sl sl-icon-power"></i> Wyloguj</a></li>
          </ul>
        </div>
      </div>
      <!-- Navigation / End-->
      <!--
      Content
      ==================================================
      -->
      <div class="dashboard-content">
        <!-- Titlebar-->
        <div id="titlebar">
          <div class="row">
            <div class="col-md-12">
              <h2>Historia wizyt</h2>
              <!-- Breadcrumbs-->
              <nav id="breadcrumbs">
                <ul>
                  <li><a href="index.html">Strona główna</a></li>
                  <li><a href="acount-basic.html">Moje wizyty</a></li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
        <div class="row">
          <!-- Notice-->
          <div class="row">
            <div class="col-md-12">
              <div class="notification success closeable margin-bottom-30">
                <p>Pomyślnie zalogowano - Tomasz Kowalski</p><a class="close" href="#"></a>
              </div>
            </div>
          </div>
          <!-- Listings-->
          <div class="col-lg-12 col-md-12">
            <div class="dashboard-list-box margin-top-0">
              <h4><i class="im im-icon-Clock"></i> Najbliższe wizyty lekarskie</h4>
              <ul>
                <li>
                  <div class="list-box-listing">
                    <div class="list-box-content">
                      <div class="inner">
                        <h3> Badanie kardiologiczne - Janusz Nowak</h3>
                        <div class="row">
                          <div class="col-md-12">Data wizyty : 11 października 2017<br>												Godzina: 11:00<br>												Adres : Ulica Szujskiego 33<br>												Podmiot : Centermed Tarnów<br>												Cena badania : 150 pln<br>												Status : zrealizowana<br></div>
                        </div>
                      </div>
                    </div>
                  </div><a class="buttons-to-right close" href="#">
                    <p class="button gray"><i class="sl sl-icon-close"></i> Odwołaj wizytę</p></a>
                </li>
              </ul>
            </div>
          </div>
          <!-- Listings-->
          <div class="col-lg-12 col-md-12">
            <div class="dashboard-list-box margin-top-60">
              <h4><i class="im im-icon-Reload-3"></i> Odbyte wizyty lekarskie</h4>
              <ul>
                <li>
                  <div class="list-box-listing">
                    <div class="list-box-content">
                      <div class="inner">
                        <h3>Badanie ogólne - Mariusz Wycisk</h3>
                        <div class="row">
                          <div class="col-md-12">Data wizyty : 11 października 2017<br>												Godzina: 11:00<br>												Adres : Ulica Szujskiego 33<br>												Podmiot : Centermed Tarnów<br>												Cena badania : 150 pln<br>												Status : zrealizowana<br></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="list-box-listing">
                    <div class="list-box-content">
                      <div class="inner">
                        <h3>Badanie kardiologiczne - Janusz Nowak</h3>
                        <div class="row">
                          <div class="col-md-12">Data wizyty : 11 października 2017<br>												Godzina: 11:00<br>												Adres : Ulica Szujskiego 33<br>												Podmiot : Centermed Tarnów<br>												Cena badania : 150 pln<br>												Status : zrealizowana<br></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="list-box-listing">
                    <div class="list-box-content">
                      <div class="inner">
                        <h3>Badanie dermatologiczne - Marta Tkaczyk</h3>
                        <div class="row">
                          <div class="col-md-12">Data wizyty : 11 października 2017<br>												Godzina: 11:00<br>												Adres : Ulica Szujskiego 33<br>												Podmiot : Centermed Tarnów<br>												Cena badania : 150 pln<br>												Status : zrealizowana<br></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <!-- Copyright-->
          <div class="col-md-12">
            <div class="copyrights">© 2017 Grupa Medycyna Polska</div>
          </div>
        </div>
      </div>
    </div>
    <!-- Content / End-->
  </div>
  <!-- Dashboard / End-->
  <!-- Wrapper / End-->
  <!--
  Scripts
  ==================================================
  -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.0.js"></script>
  <script type="text/javascript" src="scripts/jpanelmenu.min.js"></script>
  <script type="text/javascript" src="scripts/chosen.min.js"></script>
  <script type="text/javascript" src="scripts/slick.min.js"></script>
  <script type="text/javascript" src="scripts/rangeslider.min.js"></script>
  <script type="text/javascript" src="scripts/waypoints.min.js"></script>
  <script type="text/javascript" src="scripts/jquery-ui.min.js"></script>
  <script type="text/javascript" src="scripts/placeholders.jquery.js"></script>
  <script type="text/javascript" src="scripts/select2.min.js"></script>
  <script type="text/javascript" src="scripts/custom.js"></script>
</body>

acount-premium.pug
include header.pug
body
    // Wrapper
    #wrapper
        include menu-admin
        // Dashboard
        #dashboard
            //
              Navigation
              ==================================================
            // Responsive Navigation Trigger
            include acount-premium-menu
            // Navigation / End
            //
              Content
              ==================================================
            .dashboard-content
                // Titlebar
                #titlebar
                    .row
                        .col-md-12
                            h2 Historia wizyt
                            // Breadcrumbs
                            nav#breadcrumbs
                                ul
                                    li
                                        a(href='index.html') Strona główna
                                    li
                                        a(href='acount-basic.html') Moje wizyty
                .row
                    // Notice
                    .row
                        .col-md-12
                            .notification.success.closeable.margin-bottom-30
                                p Pomyślnie zalogowano - Tomasz Kowalski
                                a.close(href='#')
                    // Listings
                    .col-lg-12.col-md-12
                        .dashboard-list-box.margin-top-0
                            h4
                                i.im.im-icon-Clock
                                |  Najbliższe wizyty lekarskie
                            ul
                                li
                                    .list-box-listing
                                        .list-box-content
                                            .inner
                                                h3  Badanie kardiologiczne - Janusz Nowak
                                                .row
                                                    .col-md-12
                                                        | Data wizyty : 11 października 2017
                                                        br
                                                        | 												Godzina: 11:00
                                                        br
                                                        | 												Adres : Ulica Szujskiego 33
                                                        br
                                                        | 												Podmiot : Centermed Tarnów
                                                        br
                                                        | 												Cena badania : 150 pln
                                                        br
                                                        | 												Status : zrealizowana
                                                        br
                                    a(href='#').buttons-to-right.close
                                        p.button.gray
                                            i.sl.sl-icon-close
                                            |  Odwołaj wizytę
                    // Listings
                    .col-lg-12.col-md-12
                        .dashboard-list-box.margin-top-60
                            h4
                                i.im.im-icon-Reload-3
                                |  Odbyte wizyty lekarskie
                            ul
                                li
                                    .list-box-listing
                                        .list-box-content
                                            .inner
                                                h3 Badanie ogólne - Mariusz Wycisk
                                                .row
                                                    .col-md-12
                                                        | Data wizyty : 11 października 2017
                                                        br
                                                        | 												Godzina: 11:00
                                                        br
                                                        | 												Adres : Ulica Szujskiego 33
                                                        br
                                                        | 												Podmiot : Centermed Tarnów
                                                        br
                                                        | 												Cena badania : 150 pln
                                                        br
                                                        | 												Status : zrealizowana
                                                        br

                                li
                                    .list-box-listing
                                        .list-box-content
                                            .inner
                                                h3 Badanie kardiologiczne - Janusz Nowak
                                                .row
                                                    .col-md-12
                                                        | Data wizyty : 11 października 2017
                                                        br
                                                        | 												Godzina: 11:00
                                                        br
                                                        | 												Adres : Ulica Szujskiego 33
                                                        br
                                                        | 												Podmiot : Centermed Tarnów
                                                        br
                                                        | 												Cena badania : 150 pln
                                                        br
                                                        | 												Status : zrealizowana
                                                        br
                                li
                                    .list-box-listing
                                        .list-box-content
                                            .inner
                                                h3 Badanie dermatologiczne - Marta Tkaczyk
                                                .row
                                                    .col-md-12
                                                        | Data wizyty : 11 października 2017
                                                        br
                                                        | 												Godzina: 11:00
                                                        br
                                                        | 												Adres : Ulica Szujskiego 33
                                                        br
                                                        | 												Podmiot : Centermed Tarnów
                                                        br
                                                        | 												Cena badania : 150 pln
                                                        br
                                                        | 												Status : zrealizowana
                                                        br

                    // Copyright
                    .col-md-12
                        .copyrights © 2017 Grupa Medycyna Polska
        // Content / End
    // Dashboard / End
    // Wrapper / End
    include scripts
