acount-settings.html
<!DOCTYPE html>
<head>
  <!--
  Basic Page Needs
  ==================================================
  -->
  <title>Listeo</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <!--
  CSS
  ==================================================
  -->
  <link rel="stylesheet" href="css/style.min.css">
  <link id="custom" rel="stylesheet" href="css/custom.min.css">
  <link rel="stylesheet" href="css/jquery-ui.min.css">
</head>
<body>
  <!-- Wrapper-->
  <div id="wrapper">
    <!--
    Header Container
    ==================================================
    -->
    <header class="fixed fullwidth dashboard" id="header-container">
      <!-- Header-->
      <div class="not-sticky" id="header">
        <div class="container">
          <!-- Left Side Content-->
          <div class="left-side">
            <!-- Logo-->
            <div id="logo"><a href="index.html"><img src="images/logo.png" alt=""></a></div>
          </div>
          <!-- Left Side Content / End-->
          <!-- Right Side Content / End-->
          <div class="right-side">
            <!-- Header Widget-->
            <div class="header-widget">
              <!-- User Menu-->
              <div class="user-menu mobile-hidden">
                <div class="user-name"><span></span>Janusz Nowakowski</div>
              </div><a class="button border with-icon"> Wyloguj</a>
            </div>
            <!-- Header Widget / End-->
          </div>
          <!-- Right Side Content / End-->
        </div>
      </div>
      <!-- Header / End-->
    </header>
    <div class="clearfix"></div>
    <!-- Header Container / End-->
    <!-- Dashboard-->
    <div id="dashboard">
      <!--
      Navigation
      ==================================================
      -->
      <!-- Responsive Navigation Trigger--><a class="dashboard-responsive-nav-trigger" href="#"> Panel Użytkownika</a>
      <div class="dashboard-nav">
        <div class="dashboard-nav-inner">
          <ul data-submenu-title="Nawigacja">
            <li class="active"><a href="acount-basic.html"><i class="sl sl-icon-settings"></i> Moje wizyty</a></li>
            <li><a href="index.html"><i class="sl sl-icon-plus"></i> Wyszukaj lekarza</a></li>
          </ul>
          <ul data-submenu-title="Konto">
            <li><a href="acount-settings.html"><i class="sl sl-icon-user"></i>Moje Dane</a></li>
            <li><a href="acount-logout.html"><i class="sl sl-icon-power"></i> Wyloguj</a></li>
          </ul>
          <div class="update-button">
            <div class="row"><a class="premium" href="">
                <div class="col-md-4 cold-sm-4 col-xs-4"><i class="im im-icon-Betvibes update-icons"></i></div>
                <div class="col-md-8 col-sm-8 col-xs-8 update-text">Przejdz do<strong> PREMIUM</strong></div></a></div>
          </div>
        </div>
      </div>
      <!-- Navigation / End-->
      <!--
      Content
      ==================================================
      -->
      <div class="dashboard-content">
        <!-- Titlebar-->
        <div id="titlebar">
          <div class="row">
            <div class="col-md-12">
              <h2>Moje Dane</h2>
              <!-- Breadcrumbs-->
              <nav id="breadcrumbs">
                <ul>
                  <li><a href="index.html">Strona główna</a></li>
                  <li><a href="acount-settings.html">Moje Dane</a></li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
        <div class="row">
          <!-- Profile-->
          <div class="col-lg-12 col-md-12">
            <div class="dashboard-list-box margin-top-0">
              <h4 class="gray">Moje dane</h4>
              <div class="dashboard-list-box-static">
                <!-- Details-->
                <form class="my-profile">
                  <label>Nazwisko:</label>
                  <input name="surname" type="text">
                  <label>Imie:</label>
                  <input name="name" type="text">
                  <label>Numer telefonu kontaktowego:</label>
                  <input name="phone" type="text">
                  <label>Adres e-mail</label>
                  <input name="email" type="text">
                  <label>Typ konta</label>
                  <select class="chosen-select-no-single">
                    <option>Konto Podstawowe</option>
                    <option>Konto Premium</option>
                  </select>
                  <p class="padding-top-30">
                    <input id="newsletter-agree" type="checkbox" name="newsletter-agree" value="newsletter-agree"><span class="newsletter-agree"> Wyrażam zgodę na korespondencję elektroniczną.</span>
                  </p>
                  <button class="button margin-top-15">Zapisz zmiany</button>
                </form>
              </div>
            </div>
          </div>
          <!-- Change Password-->
          <div class="col-lg-12 col-md-12">
            <div class="dashboard-list-box margin-top-60">
              <h4 class="gray">Zmień hasło</h4>
              <div class="dashboard-list-box-static">
                <!-- Change Password-->
                <div class="my-profile">
                  <label class="margin-top-0">Obecne hasło</label>
                  <input type="password">
                  <label>Nowe hasło</label>
                  <input type="password">
                  <label>Potwierdź nowe hasło</label>
                  <input type="password">
                  <button class="button margin-top-15">Zmień hasło</button>
                </div>
              </div>
            </div>
          </div>
          <!-- Copyrights-->
          <div class="col-md-12">
            <div class="copyrights">© 2017 Grupa Medycyna Polska</div>
          </div>
        </div>
      </div>
      <!-- Content / End-->
    </div>
    <!-- Dashboard / End-->
  </div>
  <!-- Wrapper / End-->
  <!--
  Scripts
  ==================================================
  -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.0.js"></script>
  <script type="text/javascript" src="scripts/jpanelmenu.min.js"></script>
  <script type="text/javascript" src="scripts/chosen.min.js"></script>
  <script type="text/javascript" src="scripts/slick.min.js"></script>
  <script type="text/javascript" src="scripts/rangeslider.min.js"></script>
  <script type="text/javascript" src="scripts/waypoints.min.js"></script>
  <script type="text/javascript" src="scripts/jquery-ui.min.js"></script>
  <script type="text/javascript" src="scripts/placeholders.jquery.js"></script>
  <script type="text/javascript" src="scripts/select2.min.js"></script>
  <script type="text/javascript" src="scripts/custom.js"></script>
  <script type="text/javascript">
    $(".newsletter-agree").click(function () {
        if ($('#newsletter-agree').is(":checked")) {
            $('#newsletter-agree').prop("checked", false);
        } else {
            $('#newsletter-agree').prop("checked", true);
        }
    });
  </script>
</body>

acount-settings.pug
include header.pug
body
        // Wrapper
        #wrapper
            include menu-admin.pug
            // Dashboard
            #dashboard
                //
                  Navigation
                  ==================================================
                // Responsive Navigation Trigger
                include acount-basic-menu
                // Navigation / End
                //
                  Content
                  ==================================================
                .dashboard-content
                    // Titlebar
                    #titlebar
                        .row
                            .col-md-12
                                h2 Moje Dane
                                // Breadcrumbs
                                nav#breadcrumbs
                                    ul
                                        li
                                            a(href='index.html') Strona główna
                                        li
                                            a(href='acount-settings.html') Moje Dane
                    .row
                        // Profile
                        .col-lg-12.col-md-12
                            .dashboard-list-box.margin-top-0
                                h4.gray Moje dane
                                .dashboard-list-box-static
                                    // Details
                                    form.my-profile
                                        label Nazwisko:
                                        input(name='surname', type='text')
                                        label Imie:
                                        input(name='name', type='text')
                                        label Numer telefonu kontaktowego:
                                        input(name='phone', type='text')
                                        label Adres e-mail
                                        input(name='email', type='text')
                                        label Typ konta
                                        select.chosen-select-no-single
                                            option Konto Podstawowe
                                            option Konto Premium
                                        p.padding-top-30
                                            input#newsletter-agree(type='checkbox', name='newsletter-agree' value='newsletter-agree')
                                            span.newsletter-agree  Wyrażam zgodę na korespondencję elektroniczną.
                                        button.button.margin-top-15 Zapisz zmiany
                        // Change Password
                        .col-lg-12.col-md-12
                            .dashboard-list-box.margin-top-60
                                h4.gray Zmień hasło
                                .dashboard-list-box-static
                                    // Change Password
                                    .my-profile
                                        label.margin-top-0 Obecne hasło
                                        input(type='password')
                                        label Nowe hasło
                                        input(type='password')
                                        label Potwierdź nowe hasło
                                        input(type='password')
                                        button.button.margin-top-15 Zmień hasło
                        // Copyrights
                        .col-md-12
                            .copyrights © 2017 Grupa Medycyna Polska
                // Content / End
            // Dashboard / End
        // Wrapper / End
        include scripts
        script(type='text/javascript').
            $(".newsletter-agree").click(function () {
                if ($('#newsletter-agree').is(":checked")) {
                    $('#newsletter-agree').prop("checked", false);
                } else {
                    $('#newsletter-agree').prop("checked", true);
                }
            });
