acount-operator-list.html
<!DOCTYPE html>
<head>
  <!--
  Basic Page Needs
  ==================================================
  -->
  <title>Listeo</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <!--
  CSS
  ==================================================
  -->
  <link rel="stylesheet" href="css/style.min.css">
  <link id="custom" rel="stylesheet" href="css/custom.min.css">
  <link rel="stylesheet" href="css/jquery-ui.min.css">
</head>
<body>
  <!--
  Header Container
  ==================================================
  -->
  <header class="fixed fullwidth dashboard" id="header-container">
    <!-- Header-->
    <div class="not-sticky" id="header">
      <div class="container">
        <!-- Left Side Content-->
        <div class="left-side">
          <!-- Logo-->
          <div id="logo"><a href="index.html"><img src="images/logo.png" alt=""></a></div>
        </div>
        <!-- Left Side Content / End-->
        <!-- Right Side Content / End-->
        <div class="right-side">
          <!-- Header Widget-->
          <div class="header-widget">
            <!-- User Menu-->
            <div class="user-menu mobile-hidden">
              <div class="user-name"><span></span>Janusz Nowakowski</div>
            </div><a class="button border with-icon"> Wyloguj
              <!-- Dashboard--></a>
          </div>
          <!-- Header Widget / End-->
        </div>
        <!-- Right Side Content / End-->
      </div>
    </div>
    <!-- Header / End-->
  </header>
  <div class="clearfix"></div>
  <!-- Header Container / End-->
  <div id="dashboard">
    <!-- Responsive Navigation Trigger--><a class="dashboard-responsive-nav-trigger" href="#"> Panel Użytkownika</a>
    <div class="dashboard-nav">
      <div class="dashboard-nav-inner">
        <ul data-submenu-title="Nawigacja">
          <li class="active"><a href="acount-operator-workers.html"><i class="sl sl-icon-settings"></i> Wyszukaj w bazie</a></li>
          <li><a href="acount-operator-list.html"><i class="im im-icon-Business-Mens"></i> Pacjenci</a></li>
          <li><a href="acount-operator-specs.html"><i class="im im-icon-Bulleted-List"></i> Specjalizacje</a></li>
          <li><a href="acount-operator-places.html"><i class="im im-icon-Hospital"></i> Poradnie</a></li>
          <li><a href="acount-operator-items.html"><i class="im im-icon-Chemical-3"></i> Usługi</a></li>
          <li><a href="acount-operator-zdrowia.html"><i class="im im-icon-Heart-2"></i> Dodaj do prog. Zdrowia</a></li>
          <li><a href="acount-operator-register.html"><i class="im im-icon-Phone"></i> Umów pacjenta</a></li>
          <li><a href="acount-operator-services.html"><i class="sl sl-icon-user"></i>  Dodaj Zlecenie</a></li>
          <li><a href="acount-operator-contact.html"><strong>Kontakt GMP</strong></a></li>
        </ul>
      </div>
    </div>
    <!-- Navigation / End-->
    <!--
    Content
    ==================================================
    -->
    <div class="dashboard-content">
      <!-- Titlebar-->
      <div id="titlebar">
        <div class="row">
          <div class="col-md-12">
            <h2>Pacjenci</h2>
            <!-- Breadcrumbs-->
            <nav id="breadcrumbs">
              <ul>
                <li><a href="index.html">Strona główna</a></li>
                <li><a href="acount-operator-specs.html">Pacjenci</a></li>
              </ul>
            </nav>
          </div>
        </div>
        <div class="row">
          <div class="dashboard-list-box">
            <h4>Wyszukaj pacjenta:</h4>
            <form class="form-box">
              <div class="col-md-4">
                <label>Imie:</label>
                <input name="name" type="text">
              </div>
              <div class="col-md-4">
                <label>Nazwisko:</label>
                <input name="surname" type="text">
              </div>
              <div class="col-md-4">
                <label>Numer telefonu kontaktowego:</label>
                <input name="phone" type="text">
              </div>
              <div class="col-md-12 padding-bottom-20">
                <button class="button margin-top-15">Wyszukaj pacjenta</button>
              </div>
            </form>
          </div>
        </div>
        <div class="row">
          <div class="dashboard-list-box">
            <h4>Filtr Wyników:</h4>
            <div class="hideseek-box">
              <input id="input-text" name="search" placeholder="Zacznij pisać" type="text" data-list=".default_list" autocomplete="off">
            </div>
          </div>
          <div class="dashboard-list-box margin-top-0">
            <h4><i class="im im-icon-Reload-3"></i> Pacjenci</h4>
            <ul class="title-list">
              <li>
                <div class="data-list">
                  <div class="row">
                    <div class="col-md-3">Imie Nazwisko</div>
                    <div class="col-md-3">Dane kontakowe</div>
                    <div class="col-md-3">Adres</div>
                    <div class="col-md-3">Typ konta</div>
                  </div>
                </div>
              </li>
            </ul>
            <ul class="default_list">
              <li>
                <div class="list-box-listing">
                  <div class="list-box-content">
                    <div class="inner">
                      <div class="row">
                        <div class="col-md-12">
                          <div class="data-list">
                            <div class="col-md-3">Janusz<br>Nowak</div>
                            <div class="col-md-3">112-121-211<br>janusz@nowak.pl</div>
                            <div class="col-md-3">Skargi 27/14<br>33-100 Tarnów</div>
                            <div class="col-md-3">Standard</div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <p class="doctor-level1-open"><i class="sl sl-icon-plus"></i></p>
                          <div class="doctor-list-level1">
                            <h3>Nadchodzące wizyty :</h3>
                            <ul class="operator-doctor-location">
                              <li class="operator-doctor-single"><strong>Badanie kardiologiczne - Janusz Nowak</strong><br>Data wizyty : 11 października 2017<br>Godzina: 11:00<br>Adres : Ulica Szujskiego 33<br>Podmiot : Centermed Tarnów<br>Cena badania : 150 pln<br> Status : zrealizowana<a class="buttons-to-right2 close" href="#"><i class="sl sl-icon-close"></i> Odwołaj wizyte</a></li>
                            </ul>
                            <h3>Ostatnie wizyty :</h3>
                            <ul class="operator-doctor-location">
                              <li class="operator-doctor-single"><strong>Badanie kardiologiczne - Janusz Nowak</strong><br>Data wizyty : 11 października 2017<br>Godzina: 11:00<br>Adres : Ulica Szujskiego 33<br>Podmiot : Centermed Tarnów<br>Cena badania : 150 pln<br> Status : zrealizowana</li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <!-- Copyright-->
        <div class="col-md-12">
          <div class="copyrights">© 2017 Grupa Medycyna Polska</div>
        </div>
      </div>
    </div>
  </div>
  <!--
  Scripts
  ==================================================
  -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.0.js"></script>
  <script type="text/javascript" src="scripts/jpanelmenu.min.js"></script>
  <script type="text/javascript" src="scripts/chosen.min.js"></script>
  <script type="text/javascript" src="scripts/slick.min.js"></script>
  <script type="text/javascript" src="scripts/rangeslider.min.js"></script>
  <script type="text/javascript" src="scripts/waypoints.min.js"></script>
  <script type="text/javascript" src="scripts/jquery-ui.min.js"></script>
  <script type="text/javascript" src="scripts/placeholders.jquery.js"></script>
  <script type="text/javascript" src="scripts/select2.min.js"></script>
  <script type="text/javascript" src="scripts/custom.js"></script>
  <script>
    $(document).on("click", '.doctor-level2-open', function (event) {
        event.preventDefault();
        var temp = $(this).closest('p').next('.doctor-list-level2').slideToggle('slow',function(){
    
        });
    });
    
    $(document).on("click", '.doctor-level1-open', function (event) {
        event.preventDefault();
        var temp = $(this).closest('p').next('.doctor-list-level1').slideToggle('slow', function () {
    
        });
    });
  </script>
  <script src="scripts/jquery.hideseek.min.js"></script>
  <script>$('#input-text').hideseek();</script>
</body>

acount-operator-list.pug
include header.pug
body
    include menu-admin.pug
        // Dashboard
    #dashboard
        // Responsive Navigation Trigger
        include acount-operator-menu
        // Navigation / End
        //
          Content
          ==================================================
        .dashboard-content
            // Titlebar
            #titlebar
                .row
                    .col-md-12
                        h2 Pacjenci
                        // Breadcrumbs
                        nav#breadcrumbs
                            ul
                                li
                                    a(href='index.html') Strona główna
                                li
                                    a(href='acount-operator-specs.html') Pacjenci
                .row
                    .dashboard-list-box
                        h4 Wyszukaj pacjenta:
                        form.form-box
                            .col-md-4
                                label Imie:
                                input(name='name', type='text')
                            .col-md-4
                                label Nazwisko:
                                input(name='surname', type='text')
                            .col-md-4
                                label Numer telefonu kontaktowego:
                                input(name='phone', type='text')
                            .col-md-12.padding-bottom-20
                                button.button.margin-top-15 Wyszukaj pacjenta
                .row
                    .dashboard-list-box
                        h4 Filtr Wyników:
                        .hideseek-box
                            input(id="input-text" name="search" placeholder="Zacznij pisać" type="text" data-list=".default_list" autocomplete="off")
                    .dashboard-list-box.margin-top-0
                        h4
                            i.im.im-icon-Reload-3
                            |  Pacjenci
                        ul.title-list
                            li
                                .data-list
                                    .row
                                        .col-md-3 Imie Nazwisko
                                        .col-md-3 Dane kontakowe
                                        .col-md-3 Adres
                                        .col-md-3 Typ konta
                        ul.default_list
                            li
                                .list-box-listing
                                    .list-box-content
                                        .inner
                                            .row
                                                .col-md-12
                                                    .data-list
                                                        .col-md-3 Janusz
                                                            br
                                                            | Nowak
                                                        .col-md-3 112-121-211
                                                            br
                                                            | janusz@nowak.pl
                                                        .col-md-3 Skargi 27/14
                                                            br
                                                            | 33-100 Tarnów
                                                        .col-md-3 Standard
                                            .row
                                                .col-md-12
                                                    p.doctor-level1-open
                                                        i.sl.sl-icon-plus
                                                    .doctor-list-level1
                                                        h3 Nadchodzące wizyty :
                                                        ul.operator-doctor-location
                                                            li.operator-doctor-single
                                                                strong Badanie kardiologiczne - Janusz Nowak
                                                                br
                                                                | Data wizyty : 11 października 2017
                                                                br
                                                                | Godzina: 11:00
                                                                br
                                                                | Adres : Ulica Szujskiego 33
                                                                br
                                                                | Podmiot : Centermed Tarnów
                                                                br
                                                                | Cena badania : 150 pln
                                                                br
                                                                |  Status : zrealizowana
                                                                a(href='#').buttons-to-right2.close
                                                                    i.sl.sl-icon-close
                                                                    |  Odwołaj wizyte
                                                        h3 Ostatnie wizyty :
                                                        ul.operator-doctor-location
                                                            li.operator-doctor-single
                                                                strong Badanie kardiologiczne - Janusz Nowak
                                                                br
                                                                | Data wizyty : 11 października 2017
                                                                br
                                                                | Godzina: 11:00
                                                                br
                                                                | Adres : Ulica Szujskiego 33
                                                                br
                                                                | Podmiot : Centermed Tarnów
                                                                br
                                                                | Cena badania : 150 pln
                                                                br
                                                                |  Status : zrealizowana
                // Copyright
                .col-md-12
                    .copyrights © 2017 Grupa Medycyna Polska

    include scripts.pug
    script.
        $(document).on("click", '.doctor-level2-open', function (event) {
            event.preventDefault();
            var temp = $(this).closest('p').next('.doctor-list-level2').slideToggle('slow',function(){

            });
        });

        $(document).on("click", '.doctor-level1-open', function (event) {
            event.preventDefault();
            var temp = $(this).closest('p').next('.doctor-list-level1').slideToggle('slow', function () {

            });
        });
    script(src='scripts/jquery.hideseek.min.js')
    script.
        $('#input-text').hideseek();
