acount-operator-services.pug
include header.pug
body
    include menu-admin.pug
        // Dashboard
    #dashboard
        // Responsive Navigation Trigger
        include acount-operator-menu
        // Navigation / End
        //
          Content
          ==================================================
        .dashboard-content
            // Titlebar
            #titlebar
                .row
                    .col-md-12
                        h2 Dodaj zlecenie
                        // Breadcrumbs
                        nav#breadcrumbs
                            ul
                                li
                                    a(href='index.html') Strona główna
                                li
                                    a(href='acount-settings.html') Dodaj zlecenie
            .row
                // Profile
                .col-lg-12.col-md-12
                    .dashboard-list-box.margin-top-0
                        h4.gray Dodaje zlecenie
                        form.dashboard-list-box-static
                            label Usługa:
                            select(name='usluga').admin-single
                                option( value='Data 5') Data 5
                                option( value='Data 6') Data 6
                            .padding-bottom-20
                            label Pracownik:
                            select(name='pracownik').admin-single
                                option( value='Data') Data
                                option( value='Data 2') Data 2
                            .padding-bottom-20
                            label Data:
                            input(data-provide="datepicker").datapicker
                            label Pacjent:
                            .padding-bottom-20
                                select(name='pacjent').admin-single
                                    option( value='Data 3') Data 3
                                    option( value='Data 4') Data 4

                            button.button.margin-top-15 Dodaj zlecenie
                // Copyrights
                .col-md-12
                    .copyrights © 2017 Grupa Medycyna Polska
        // Content / End
        // Dashboard / End
        // Wrapper / End

    include scripts.pug
    script( src='scripts/bootstrap-datepicker.min.js')
    script.
        $(document).ready(function () {
            $(".admin-single").select2({
                placeholder: 'Nazwa Pracownika',
                allowClear: true,
                theme: 'admin',
            });

            $('.datepicker').datepicker({
                language: 'en'
            });

            $.fn.datepicker.dates['en'] = {
                days:["Niedziela","Poniedziałek","Wtorek","Środa","Czwartek","Piątek","Sobota"],daysShort:["Niedz.","Pon.","Wt.","Śr.","Czw.","Piąt.","Sob."],
                daysMin:["Ndz.","Pn.","Wt.","Śr.","Czw.","Pt.","Sob."],
                months:["Styczeń","Luty","Marzec","Kwiecień","Maj","Czerwiec","Lipiec","Sierpień","Wrzesień","Październik","Listopad","Grudzień"],
                monthsShort:["Sty.","Lut.","Mar.","Kwi.","Maj","Cze.","Lip.","Sie.","Wrz.","Paź.","Lis.","Gru."],
                today:"Dzisiaj",
                clear: "Wyczyść",
                format: "dd/mm/yyyy",
                titleFormat: "MM yyyy", /* Leverages same syntax as 'format' */
                weekStart: 1
            };
        });

acount-operator-services.html
<!DOCTYPE html>
<head>
  <!--
  Basic Page Needs
  ==================================================
  -->
  <title>Listeo</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <!--
  CSS
  ==================================================
  -->
  <link rel="stylesheet" href="css/style.min.css">
  <link id="custom" rel="stylesheet" href="css/custom.min.css">
  <link rel="stylesheet" href="css/jquery-ui.min.css">
</head>
<body>
  <!--
  Header Container
  ==================================================
  -->
  <header class="fixed fullwidth dashboard" id="header-container">
    <!-- Header-->
    <div class="not-sticky" id="header">
      <div class="container">
        <!-- Left Side Content-->
        <div class="left-side">
          <!-- Logo-->
          <div id="logo"><a href="index.html"><img src="images/logo.png" alt=""></a></div>
        </div>
        <!-- Left Side Content / End-->
        <!-- Right Side Content / End-->
        <div class="right-side">
          <!-- Header Widget-->
          <div class="header-widget">
            <!-- User Menu-->
            <div class="user-menu mobile-hidden">
              <div class="user-name"><span></span>Janusz Nowakowski</div>
            </div><a class="button border with-icon"> Wyloguj
              <!-- Dashboard--></a>
          </div>
          <!-- Header Widget / End-->
        </div>
        <!-- Right Side Content / End-->
      </div>
    </div>
    <!-- Header / End-->
  </header>
  <div class="clearfix"></div>
  <!-- Header Container / End-->
  <div id="dashboard">
    <!-- Responsive Navigation Trigger--><a class="dashboard-responsive-nav-trigger" href="#"> Panel Użytkownika</a>
    <div class="dashboard-nav">
      <div class="dashboard-nav-inner">
        <ul data-submenu-title="Nawigacja">
          <li class="active"><a href="acount-operator-workers.html"><i class="sl sl-icon-settings"></i> Wyszukaj w bazie</a></li>
          <li><a href="acount-operator-list.html"><i class="im im-icon-Business-Mens"></i> Pacjenci</a></li>
          <li><a href="acount-operator-specs.html"><i class="im im-icon-Bulleted-List"></i> Specjalizacje</a></li>
          <li><a href="acount-operator-places.html"><i class="im im-icon-Hospital"></i> Poradnie</a></li>
          <li><a href="acount-operator-items.html"><i class="im im-icon-Chemical-3"></i> Usługi</a></li>
          <li><a href="acount-operator-zdrowia.html"><i class="im im-icon-Heart-2"></i> Dodaj do prog. Zdrowia</a></li>
          <li><a href="acount-operator-register.html"><i class="im im-icon-Phone"></i> Umów pacjenta</a></li>
          <li><a href="acount-operator-services.html"><i class="sl sl-icon-user"></i>  Dodaj Zlecenie</a></li>
          <li><a href="acount-operator-contact.html"><strong>Kontakt GMP</strong></a></li>
        </ul>
      </div>
    </div>
    <!-- Navigation / End-->
    <!--
    Content
    ==================================================
    -->
    <div class="dashboard-content">
      <!-- Titlebar-->
      <div id="titlebar">
        <div class="row">
          <div class="col-md-12">
            <h2>Dodaj zlecenie</h2>
            <!-- Breadcrumbs-->
            <nav id="breadcrumbs">
              <ul>
                <li><a href="index.html">Strona główna</a></li>
                <li><a href="acount-settings.html">Dodaj zlecenie</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
      <div class="row">
        <!-- Profile-->
        <div class="col-lg-12 col-md-12">
          <div class="dashboard-list-box margin-top-0">
            <h4 class="gray">Dodaje zlecenie</h4>
            <form class="dashboard-list-box-static">
              <label>Usługa:</label>
              <select class="admin-single" name="usluga">
                <option value="Data 5">Data 5</option>
                <option value="Data 6">Data 6</option>
              </select>
              <div class="padding-bottom-20"></div>
              <label>Pracownik:</label>
              <select class="admin-single" name="pracownik">
                <option value="Data">Data</option>
                <option value="Data 2">Data 2</option>
              </select>
              <div class="padding-bottom-20"></div>
              <label>Data:</label>
              <input class="datapicker" data-provide="datepicker">
              <label>Pacjent:</label>
              <div class="padding-bottom-20">
                <select class="admin-single" name="pacjent">
                  <option value="Data 3">Data 3</option>
                  <option value="Data 4">Data 4</option>
                </select>
              </div>
              <button class="button margin-top-15">Dodaj zlecenie</button>
            </form>
          </div>
        </div>
        <!-- Copyrights-->
        <div class="col-md-12">
          <div class="copyrights">© 2017 Grupa Medycyna Polska</div>
        </div>
      </div>
    </div>
    <!-- Content / End-->
    <!-- Dashboard / End-->
    <!-- Wrapper / End-->
  </div>
  <!--
  Scripts
  ==================================================
  -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.0.js"></script>
  <script type="text/javascript" src="scripts/jpanelmenu.min.js"></script>
  <script type="text/javascript" src="scripts/chosen.min.js"></script>
  <script type="text/javascript" src="scripts/slick.min.js"></script>
  <script type="text/javascript" src="scripts/rangeslider.min.js"></script>
  <script type="text/javascript" src="scripts/waypoints.min.js"></script>
  <script type="text/javascript" src="scripts/jquery-ui.min.js"></script>
  <script type="text/javascript" src="scripts/placeholders.jquery.js"></script>
  <script type="text/javascript" src="scripts/select2.min.js"></script>
  <script type="text/javascript" src="scripts/custom.js"></script>
  <script src="scripts/bootstrap-datepicker.min.js"></script>
  <script>
    $(document).ready(function () {
        $(".admin-single").select2({
            placeholder: 'Nazwa Pracownika',
            allowClear: true,
            theme: 'admin',
        });
    
        $('.datepicker').datepicker({
            language: 'en'
        });
    
        $.fn.datepicker.dates['en'] = {
            days:["Niedziela","Poniedziałek","Wtorek","Środa","Czwartek","Piątek","Sobota"],daysShort:["Niedz.","Pon.","Wt.","Śr.","Czw.","Piąt.","Sob."],
            daysMin:["Ndz.","Pn.","Wt.","Śr.","Czw.","Pt.","Sob."],
            months:["Styczeń","Luty","Marzec","Kwiecień","Maj","Czerwiec","Lipiec","Sierpień","Wrzesień","Październik","Listopad","Grudzień"],
            monthsShort:["Sty.","Lut.","Mar.","Kwi.","Maj","Cze.","Lip.","Sie.","Wrz.","Paź.","Lis.","Gru."],
            today:"Dzisiaj",
            clear: "Wyczyść",
            format: "dd/mm/yyyy",
            titleFormat: "MM yyyy", /* Leverages same syntax as 'format' */
            weekStart: 1
        };
    });
  </script>
</body>
