acount-operator-workers.pug
include header.pug
body

    include menu-admin.pug
        // Dashboard
    #dashboard
        // Responsive Navigation Trigger
        include acount-operator-menu
        // Navigation / End
        //
          Content
          =================================================
        .dashboard-content



            // Titlebar
            #titlebar
                .row
                    .col-md-12
                        h2 Wyszukaj w bazie
                        // Breadcrumbs
                        nav#breadcrumbs
                            ul
                                li
                                    a(href='index.html') Strona główna
                                li
                                    a(href='acount-basic.html') Wyszukaj w bazie
                .row
                    .dashboard-list-box
                        h4 Wyszukaj pracownika:
                        form.form-box
                            .row
                                .col-md-4
                                    label Imie:
                                    input(name='name', type='text')
                                .col-md-4
                                    label Nazwisko:
                                    input(name='surname', type='text')
                                .col-md-4
                                    label PWZ:
                                    input(name='pwz', type='text')
                            .row
                                .col-md-6
                                    label Specjalizacja:
                                    select(name='specs').admin-specs
                                        option
                                        option( value='Data 5') Data 5
                                        option( value='Data 6') Data 6
                                .col-md-6
                                    label Usługa:
                                    select(name='serv').admin-serv
                                        option
                                        option( value='Data 5') Data 5
                                        option( value='Data 6') Data 6
                            .row.padding-top-20
                                .col-md-4
                                    label Poradnia:
                                    select(name='medical').admin-medical
                                        option
                                        option( value='Data 5') Data 5
                                        option( value='Data 6') Data 6
                                .col-md-4
                                    label Placówka Medyczna:
                                    select(name='place').admin-place
                                        option
                                        option( value='Data 5') Data 5
                                        option( value='Data 6') Data 6
                                .col-md-4
                                    label Podmiot medyczny:
                                    select(name='vendor').admin-vendor
                                        option
                                        option( value='Data 5') Data 5
                                        option( value='Data 6') Data 6
                                .col-md-12.padding-bottom-20.padding-top-20
                                    button.button.margin-top-15 Wyszukaj lekarza
                .row
                    .dashboard-list-box
                        h4 Filtr Wyników:
                        .hideseek-box
                            input(id="input-text" name="search" placeholder="Zacznij pisać" type="text" data-list=".default_list" autocomplete="off")
                    .dashboard-list-box.margin-top-0
                        h4
                            i.im.im-icon-Reload-3
                            |  Pracownicy
                        ul.title-list
                            li
                                .data-list
                                    .row
                                        .col-md-3 Imie Nazwisko
                                        .col-md-3 PWZ / Specjalizacja
                                        .col-md-3 Jezyki
                                        .col-md-3 Wiek Pacjentów
                        ul
                            li
                                .list-box-listing
                                    .list-box-content
                                        .inner
                                            .row
                                                .col-md-12
                                                    .data-list
                                                        .col-md-3(data-toggle="modal"  data-target="#modal-person" data-type="doctor" data-value="Janusz Nowak") Janusz
                                                            br
                                                            | Nowak
                                                        .col-md-3(data-toggle="modal"  data-target="#modal-doctor" data-type="specs" data-value="chirurgia") 001
                                                            br
                                                            | Chirurgia ogólnna
                                                        .col-md-3 Polski / Angielski
                                                        .col-md-3 Dzieci : Nie
                                                            br
                                                            | Dorośli : 30-50
                                            .row
                                                .col-md-12
                                                    p.doctor-level1-open
                                                        i.sl.sl-icon-plus
                                                    .doctor-list-level1
                                                        h3 Lista zatrudnienia
                                                        ul.operator-doctor-location
                                                            li.operator-doctor-single
                                                                .vendor(data-toggle="modal" data-target="#modal-vendor" data-type="vendor" data-value="NewMedica")
                                                                    strong Podmiot Medyczny:
                                                                    |  New Medica
                                                                    br
                                                                .places(data-toggle="modal" data-target="#modal-place" data-type="place" data-value="słoneczna")
                                                                    strong Placówka:
                                                                    |  Centermed Słoneczna
                                                                    br
                                                                .services(data-toggle="modal" data-target="#modal-service" data-type="service" data-value="Rehabilitacja")
                                                                    strong Poradnia:
                                                                    |  Rehabilistacja
                                                                p.doctor-level2-open Cennik usług
                                                                .doctor-list-level2
                                                                        h4 Cennik usług

                                                                        ul.doctor-listing
                                                                            li(data-toggle="modal" data-target="#modal-items" data-type="items" data-value="Badanie ogólne")
                                                                                span Badania Ogólne
                                                                                span 130 pln
                                                                            li(data-toggle="modal" data-target="#modal-items" data-type="items" data-value="Badanie specjalistyczne")
                                                                                span Badania specjalistyczne
                                                                                span 130 pln
                                                                            li(data-toggle="modal" data-target="#modal-items" data-type="items" data-value="Badanie ogólne")
                                                                                span Badania Ogólne
                                                                                span 130 pln
                // Copyright
                .col-md-12
                    .copyrights © 2017 Grupa Medycyna Polska

    #modal-person.modal.fade(role='dialog')
        .modal-dialog(role='document')
            .container
                .modal-content.margin-top-120
                    .row
                        .col-md-12
                            .modal-header

                                button.close(type='button', data-dismiss='modal', aria-label='zamknij')
                                    span(aria-hidden='true') ×
                                h4.modal-title Pacjent
                            .modal-body
                                p Opis pacjenta
                            .modal-footer
                                button.btn.btn-default(type='button', data-dismiss='modal') Zamknij
    #modal-doctor.modal.fade(role='dialog')
        .modal-dialog(role='document')
            .container
                .modal-content.margin-top-120
                    .row
                        .col-md-12
                            .modal-header

                                button.close(type='button', data-dismiss='modal', aria-label='zamknij')
                                    span(aria-hidden='true') ×
                                h4.modal-title Lekarz
                            .modal-body
                                p Opis Lekarza
                            .modal-footer
                                button.btn.btn-default(type='button', data-dismiss='modal') Zamknij
    #modal-vendor.modal.fade(role='dialog')
        .modal-dialog(role='document')
            .container
                .modal-content.margin-top-120
                    .row
                        .col-md-12
                            .modal-header

                                button.close(type='button', data-dismiss='modal', aria-label='zamknij')
                                    span(aria-hidden='true') ×
                                h4.modal-title Podmiot Medyczy
                            .modal-body
                                p Opis podmiotu
                            .modal-footer
                                button.btn.btn-default(type='button', data-dismiss='modal') Zamknij
    #modal-place.modal.fade(role='dialog')
        .modal-dialog(role='document')
            .container
                .modal-content.margin-top-120
                    .row
                        .col-md-12
                            .modal-header

                                button.close(type='button', data-dismiss='modal', aria-label='zamknij')
                                    span(aria-hidden='true') ×
                                h4.modal-title Placówka
                            .modal-body
                                p Opis placówki
                            .modal-footer
                                button.btn.btn-default(type='button', data-dismiss='modal') Zamknij
    #modal-service.modal.fade(role='dialog')
        .modal-dialog(role='document')
            .container
                .modal-content.margin-top-120
                    .row
                        .col-md-12
                            .modal-header

                                button.close(type='button', data-dismiss='modal', aria-label='zamknij')
                                    span(aria-hidden='true') ×
                                h4.modal-title Poradnia
                            .modal-body
                                p Opis poradni
                            .modal-footer
                                button.btn.btn-default(type='button', data-dismiss='modal') Zamknij
    #modal-items.modal.fade(role='dialog')
        .modal-dialog(role='document')
            .container
                .modal-content.margin-top-120
                    .row
                        .col-md-12
                            .modal-header

                                button.close(type='button', data-dismiss='modal', aria-label='zamknij')
                                    span(aria-hidden='true') ×
                                h4.modal-title Badania ogólne
                            .modal-body
                                p Opis badania
                            .modal-footer
                                button.btn.btn-default(type='button', data-dismiss='modal') Zamknij


    include scripts.pug
    script(type='text/javascript', src='scripts/modal.min.js')
    script.
        $(document).on("click", '.doctor-level2-open', function (event) {
            event.preventDefault();
            $(this).closest('p').next('.doctor-list-level2').slideToggle('slow',function(){ });
        });

        $(document).on("click", '.doctor-level1-open', function (event) {
            event.preventDefault();
            $(this).closest('p').next('.doctor-list-level1').slideToggle('slow', function () { });
        });

        $(document).ready(function () {
            $(".admin-specs").select2({
                placeholder: 'Wybierz specjalizacje',
                allowClear: true,
                theme: 'admin',
            });
            $(".admin-serv").select2({
                placeholder: 'Wybierz usługę',
                allowClear: true,
                theme: 'admin',
            });
            $(".admin-medical").select2({
                placeholder: 'Wybierz poradnie',
                allowClear: true,
                theme: 'admin',
            });
            $(".admin-place").select2({
                placeholder: 'Wybierz placówka',
                allowClear: true,
                theme: 'admin',
            });
            $(".admin-vendor").select2({
                placeholder: 'Wybierz podmiot',
                allowClear: true,
                theme: 'admin',
            });
        })

acount-operator-workers.html
<!DOCTYPE html>
<head>
  <!--
  Basic Page Needs
  ==================================================
  -->
  <title>Listeo</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <!--
  CSS
  ==================================================
  -->
  <link rel="stylesheet" href="css/style.min.css">
  <link id="custom" rel="stylesheet" href="css/custom.min.css">
  <link rel="stylesheet" href="css/jquery-ui.min.css">
</head>
<body>
  <!--
  Header Container
  ==================================================
  -->
  <header class="fixed fullwidth dashboard" id="header-container">
    <!-- Header-->
    <div class="not-sticky" id="header">
      <div class="container">
        <!-- Left Side Content-->
        <div class="left-side">
          <!-- Logo-->
          <div id="logo"><a href="index.html"><img src="images/logo.png" alt=""></a></div>
        </div>
        <!-- Left Side Content / End-->
        <!-- Right Side Content / End-->
        <div class="right-side">
          <!-- Header Widget-->
          <div class="header-widget">
            <!-- User Menu-->
            <div class="user-menu mobile-hidden">
              <div class="user-name"><span></span>Janusz Nowakowski</div>
            </div><a class="button border with-icon"> Wyloguj
              <!-- Dashboard--></a>
          </div>
          <!-- Header Widget / End-->
        </div>
        <!-- Right Side Content / End-->
      </div>
    </div>
    <!-- Header / End-->
  </header>
  <div class="clearfix"></div>
  <!-- Header Container / End-->
  <div id="dashboard">
    <!-- Responsive Navigation Trigger--><a class="dashboard-responsive-nav-trigger" href="#"> Panel Użytkownika</a>
    <div class="dashboard-nav">
      <div class="dashboard-nav-inner">
        <ul data-submenu-title="Nawigacja">
          <li class="active"><a href="acount-operator-workers.html"><i class="sl sl-icon-settings"></i> Wyszukaj w bazie</a></li>
          <li><a href="acount-operator-list.html"><i class="im im-icon-Business-Mens"></i> Pacjenci</a></li>
          <li><a href="acount-operator-specs.html"><i class="im im-icon-Bulleted-List"></i> Specjalizacje</a></li>
          <li><a href="acount-operator-places.html"><i class="im im-icon-Hospital"></i> Poradnie</a></li>
          <li><a href="acount-operator-items.html"><i class="im im-icon-Chemical-3"></i> Usługi</a></li>
          <li><a href="acount-operator-zdrowia.html"><i class="im im-icon-Heart-2"></i> Dodaj do prog. Zdrowia</a></li>
          <li><a href="acount-operator-register.html"><i class="im im-icon-Phone"></i> Umów pacjenta</a></li>
          <li><a href="acount-operator-services.html"><i class="sl sl-icon-user"></i>  Dodaj Zlecenie</a></li>
          <li><a href="acount-operator-contact.html"><strong>Kontakt GMP</strong></a></li>
        </ul>
      </div>
    </div>
    <!-- Navigation / End-->
    <!--
    Content
    =================================================
    -->
    <div class="dashboard-content">
      <!-- Titlebar-->
      <div id="titlebar">
        <div class="row">
          <div class="col-md-12">
            <h2>Wyszukaj w bazie</h2>
            <!-- Breadcrumbs-->
            <nav id="breadcrumbs">
              <ul>
                <li><a href="index.html">Strona główna</a></li>
                <li><a href="acount-basic.html">Wyszukaj w bazie</a></li>
              </ul>
            </nav>
          </div>
        </div>
        <div class="row">
          <div class="dashboard-list-box">
            <h4>Wyszukaj pracownika:</h4>
            <form class="form-box">
              <div class="row">
                <div class="col-md-4">
                  <label>Imie:</label>
                  <input name="name" type="text">
                </div>
                <div class="col-md-4">
                  <label>Nazwisko:</label>
                  <input name="surname" type="text">
                </div>
                <div class="col-md-4">
                  <label>PWZ:</label>
                  <input name="pwz" type="text">
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <label>Specjalizacja:</label>
                  <select class="admin-specs" name="specs">
                    <option></option>
                    <option value="Data 5">Data 5</option>
                    <option value="Data 6">Data 6</option>
                  </select>
                </div>
                <div class="col-md-6">
                  <label>Usługa:</label>
                  <select class="admin-serv" name="serv">
                    <option></option>
                    <option value="Data 5">Data 5</option>
                    <option value="Data 6">Data 6</option>
                  </select>
                </div>
              </div>
              <div class="row padding-top-20">
                <div class="col-md-4">
                  <label>Poradnia:</label>
                  <select class="admin-medical" name="medical">
                    <option></option>
                    <option value="Data 5">Data 5</option>
                    <option value="Data 6">Data 6</option>
                  </select>
                </div>
                <div class="col-md-4">
                  <label>Placówka Medyczna:</label>
                  <select class="admin-place" name="place">
                    <option></option>
                    <option value="Data 5">Data 5</option>
                    <option value="Data 6">Data 6</option>
                  </select>
                </div>
                <div class="col-md-4">
                  <label>Podmiot medyczny:</label>
                  <select class="admin-vendor" name="vendor">
                    <option></option>
                    <option value="Data 5">Data 5</option>
                    <option value="Data 6">Data 6</option>
                  </select>
                </div>
                <div class="col-md-12 padding-bottom-20 padding-top-20">
                  <button class="button margin-top-15">Wyszukaj lekarza</button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="row">
          <div class="dashboard-list-box">
            <h4>Filtr Wyników:</h4>
            <div class="hideseek-box">
              <input id="input-text" name="search" placeholder="Zacznij pisać" type="text" data-list=".default_list" autocomplete="off">
            </div>
          </div>
          <div class="dashboard-list-box margin-top-0">
            <h4><i class="im im-icon-Reload-3"></i> Pracownicy</h4>
            <ul class="title-list">
              <li>
                <div class="data-list">
                  <div class="row">
                    <div class="col-md-3">Imie Nazwisko</div>
                    <div class="col-md-3">PWZ / Specjalizacja</div>
                    <div class="col-md-3">Jezyki</div>
                    <div class="col-md-3">Wiek Pacjentów</div>
                  </div>
                </div>
              </li>
            </ul>
            <ul>
              <li>
                <div class="list-box-listing">
                  <div class="list-box-content">
                    <div class="inner">
                      <div class="row">
                        <div class="col-md-12">
                          <div class="data-list">
                            <div class="col-md-3" data-toggle="modal" data-target="#modal-person" data-type="doctor" data-value="Janusz Nowak">Janusz<br>Nowak</div>
                            <div class="col-md-3" data-toggle="modal" data-target="#modal-doctor" data-type="specs" data-value="chirurgia">001<br>Chirurgia ogólnna</div>
                            <div class="col-md-3">Polski / Angielski</div>
                            <div class="col-md-3">Dzieci : Nie<br>Dorośli : 30-50</div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <p class="doctor-level1-open"><i class="sl sl-icon-plus"></i></p>
                          <div class="doctor-list-level1">
                            <h3>Lista zatrudnienia</h3>
                            <ul class="operator-doctor-location">
                              <li class="operator-doctor-single">
                                <div class="vendor" data-toggle="modal" data-target="#modal-vendor" data-type="vendor" data-value="NewMedica"><strong>Podmiot Medyczny:</strong> New Medica<br></div>
                                <div class="places" data-toggle="modal" data-target="#modal-place" data-type="place" data-value="słoneczna"><strong>Placówka:</strong> Centermed Słoneczna<br></div>
                                <div class="services" data-toggle="modal" data-target="#modal-service" data-type="service" data-value="Rehabilitacja"><strong>Poradnia:</strong> Rehabilistacja</div>
                                <p class="doctor-level2-open">Cennik usług</p>
                                <div class="doctor-list-level2">
                                  <h4>Cennik usług</h4>
                                  <ul class="doctor-listing">
                                    <li data-toggle="modal" data-target="#modal-items" data-type="items" data-value="Badanie ogólne"><span>Badania Ogólne</span><span>130 pln</span></li>
                                    <li data-toggle="modal" data-target="#modal-items" data-type="items" data-value="Badanie specjalistyczne"><span>Badania specjalistyczne</span><span>130 pln</span></li>
                                    <li data-toggle="modal" data-target="#modal-items" data-type="items" data-value="Badanie ogólne"><span>Badania Ogólne</span><span>130 pln</span></li>
                                  </ul>
                                </div>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <!-- Copyright-->
        <div class="col-md-12">
          <div class="copyrights">© 2017 Grupa Medycyna Polska</div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="modal-person" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="container">
        <div class="modal-content margin-top-120">
          <div class="row">
            <div class="col-md-12">
              <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal" aria-label="zamknij"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">Pacjent</h4>
              </div>
              <div class="modal-body">
                <p>Opis pacjenta</p>
              </div>
              <div class="modal-footer">
                <button class="btn btn-default" type="button" data-dismiss="modal">Zamknij</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="modal-doctor" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="container">
        <div class="modal-content margin-top-120">
          <div class="row">
            <div class="col-md-12">
              <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal" aria-label="zamknij"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">Lekarz</h4>
              </div>
              <div class="modal-body">
                <p>Opis Lekarza</p>
              </div>
              <div class="modal-footer">
                <button class="btn btn-default" type="button" data-dismiss="modal">Zamknij</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="modal-vendor" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="container">
        <div class="modal-content margin-top-120">
          <div class="row">
            <div class="col-md-12">
              <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal" aria-label="zamknij"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">Podmiot Medyczy</h4>
              </div>
              <div class="modal-body">
                <p>Opis podmiotu</p>
              </div>
              <div class="modal-footer">
                <button class="btn btn-default" type="button" data-dismiss="modal">Zamknij</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="modal-place" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="container">
        <div class="modal-content margin-top-120">
          <div class="row">
            <div class="col-md-12">
              <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal" aria-label="zamknij"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">Placówka</h4>
              </div>
              <div class="modal-body">
                <p>Opis placówki</p>
              </div>
              <div class="modal-footer">
                <button class="btn btn-default" type="button" data-dismiss="modal">Zamknij</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="modal-service" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="container">
        <div class="modal-content margin-top-120">
          <div class="row">
            <div class="col-md-12">
              <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal" aria-label="zamknij"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">Poradnia</h4>
              </div>
              <div class="modal-body">
                <p>Opis poradni</p>
              </div>
              <div class="modal-footer">
                <button class="btn btn-default" type="button" data-dismiss="modal">Zamknij</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="modal-items" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="container">
        <div class="modal-content margin-top-120">
          <div class="row">
            <div class="col-md-12">
              <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal" aria-label="zamknij"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">Badania ogólne</h4>
              </div>
              <div class="modal-body">
                <p>Opis badania</p>
              </div>
              <div class="modal-footer">
                <button class="btn btn-default" type="button" data-dismiss="modal">Zamknij</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--
  Scripts
  ==================================================
  -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.0.js"></script>
  <script type="text/javascript" src="scripts/jpanelmenu.min.js"></script>
  <script type="text/javascript" src="scripts/chosen.min.js"></script>
  <script type="text/javascript" src="scripts/slick.min.js"></script>
  <script type="text/javascript" src="scripts/rangeslider.min.js"></script>
  <script type="text/javascript" src="scripts/waypoints.min.js"></script>
  <script type="text/javascript" src="scripts/jquery-ui.min.js"></script>
  <script type="text/javascript" src="scripts/placeholders.jquery.js"></script>
  <script type="text/javascript" src="scripts/select2.min.js"></script>
  <script type="text/javascript" src="scripts/custom.js"></script>
  <script type="text/javascript" src="scripts/modal.min.js"></script>
  <script>
    $(document).on("click", '.doctor-level2-open', function (event) {
        event.preventDefault();
        $(this).closest('p').next('.doctor-list-level2').slideToggle('slow',function(){ });
    });
    
    $(document).on("click", '.doctor-level1-open', function (event) {
        event.preventDefault();
        $(this).closest('p').next('.doctor-list-level1').slideToggle('slow', function () { });
    });
    
    $(document).ready(function () {
        $(".admin-specs").select2({
            placeholder: 'Wybierz specjalizacje',
            allowClear: true,
            theme: 'admin',
        });
        $(".admin-serv").select2({
            placeholder: 'Wybierz usługę',
            allowClear: true,
            theme: 'admin',
        });
        $(".admin-medical").select2({
            placeholder: 'Wybierz poradnie',
            allowClear: true,
            theme: 'admin',
        });
        $(".admin-place").select2({
            placeholder: 'Wybierz placówka',
            allowClear: true,
            theme: 'admin',
        });
        $(".admin-vendor").select2({
            placeholder: 'Wybierz podmiot',
            allowClear: true,
            theme: 'admin',
        });
    })
  </script>
</body>
