acount-points.html
<!DOCTYPE html>
<head>
  <!--
  Basic Page Needs
  ==================================================
  -->
  <title>Listeo</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <!--
  CSS
  ==================================================
  -->
  <link rel="stylesheet" href="css/style.min.css">
  <link id="custom" rel="stylesheet" href="css/custom.min.css">
  <link rel="stylesheet" href="css/jquery-ui.min.css">
</head>
<body>
  <!-- Wrapper-->
  <div id="wrapper">
    <!--
    Header Container
    ==================================================
    -->
    <header class="fixed fullwidth dashboard" id="header-container">
      <!-- Header-->
      <div class="not-sticky" id="header">
        <div class="container">
          <!-- Left Side Content-->
          <div class="left-side">
            <!-- Logo-->
            <div id="logo"><a href="index.html"><img src="images/logo.png" alt=""></a></div>
          </div>
          <!-- Left Side Content / End-->
          <!-- Right Side Content / End-->
          <div class="right-side">
            <!-- Header Widget-->
            <div class="header-widget">
              <!-- User Menu-->
              <div class="user-menu mobile-hidden">
                <div class="user-name"><span></span>Janusz Nowakowski</div>
              </div><a class="button border with-icon"> Wyloguj</a>
            </div>
            <!-- Header Widget / End-->
          </div>
          <!-- Right Side Content / End-->
        </div>
      </div>
      <!-- Header / End-->
    </header>
    <div class="clearfix"></div>
    <!-- Header Container / End-->
    <!-- Dashboard-->
    <div id="dashboard">
      <!--
      Navigation
      ==================================================
      -->
      <!-- Responsive Navigation Trigger--><a class="dashboard-responsive-nav-trigger" href="#"> Panel Użytkownika</a>
      <div class="dashboard-nav">
        <div class="dashboard-nav-inner">
          <ul data-submenu-title="Nawigacja">
            <li class="active"><a href="acount-basic.html"><i class="sl sl-icon-settings"></i> Moje wizyty</a></li>
            <li><a href="acount-places.html"><i class="im im-icon-Geo-Star"></i> Moje korzyści i partnerzy</a></li>
            <li><a href="acount-points.html"><i class="im im-icon-Wallet-2"></i> Moje punkty zdrowia</a></li>
            <li><a href="acount-hospital.html"><i class="im im-icon-Hospital"></i> Zapytaj placówke</a></li>
            <li><a href="acount-questions.html"><i class="im im-icon-Phone"></i> Zapytaj konsultanta</a></li>
            <li><a href="index.html"><i class="sl sl-icon-plus"></i> Wyszukaj lekarza</a></li>
          </ul>
          <ul data-submenu-title="Konto">
            <li><a href="acount-premium-settings.html"><i class="sl sl-icon-user"></i>Moje Dane</a></li>
            <li><a href="acount-logout.html"><i class="sl sl-icon-power"></i> Wyloguj</a></li>
          </ul>
        </div>
      </div>
      <!-- Navigation / End-->
      <!--
      Content
      ==================================================
      -->
      <div class="dashboard-content">
        <!-- Titlebar-->
        <div id="titlebar">
          <div class="row">
            <div class="col-md-12">
              <h2>Moje punkty</h2>
              <!-- Breadcrumbs-->
              <nav id="breadcrumbs">
                <ul>
                  <li><a href="index.html">Strona główna</a></li>
                  <li><a href="acount-basic.html">Moje Punkty Zdrowia</a></li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
        <div class="row">
          <!-- Listings-->
          <div class="col-lg-12 col-md-12">
            <div class="dashboard-list-box margin-top-0">
              <h4><i class="im im-icon-Coin"></i> Stan Konta</h4>
              <ul>
                <li>
                  <div class="list-box-listing">
                    <div class="list-box-content">
                      <div class="inner">
                        <h3><i class="im im-icon-Wallet-2"></i> 115 punktów</h3>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <!-- Listings-->
          <div class="col-lg-12 col-md-12">
            <div class="dashboard-list-box margin-top-60">
              <h4><i class="im im-icon-Reload-3"></i> Historia</h4>
              <ul>
                <li>
                  <div class="list-box-listing">
                    <div class="list-box-content">
                      <div class="inner">
                        <div class="row">
                          <div class="col-md-1 mobile-hidden"><i class="im im-icon-Remove big-icon big-red"></i></div>
                          <div class="col-md-11">
                            <h3 class="mobile-red">Badanie kardiologiczne - Janusz Nowak</h3><span class="big-red">-100 punktów</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="list-box-listing">
                    <div class="list-box-content">
                      <div class="inner">
                        <div class="row">
                          <div class="col-md-1 mobile-hidden"><i class="im im-icon-Add big-icon big-green"></i></div>
                          <div class="col-md-11">
                            <h3 class="mobile-green">Badanie kardiologiczne - Janusz Nowak</h3><span class="big-green">+10 punktów</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <!-- Copyright-->
          <div class="col-md-12">
            <div class="copyrights">© 2017 Grupa Medycyna Polska</div>
          </div>
        </div>
      </div>
    </div>
    <!-- Content / End-->
  </div>
  <!-- Dashboard / End-->
  <!-- Wrapper / End-->
  <!--
  Scripts
  ==================================================
  -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.0.js"></script>
  <script type="text/javascript" src="scripts/jpanelmenu.min.js"></script>
  <script type="text/javascript" src="scripts/chosen.min.js"></script>
  <script type="text/javascript" src="scripts/slick.min.js"></script>
  <script type="text/javascript" src="scripts/rangeslider.min.js"></script>
  <script type="text/javascript" src="scripts/waypoints.min.js"></script>
  <script type="text/javascript" src="scripts/jquery-ui.min.js"></script>
  <script type="text/javascript" src="scripts/placeholders.jquery.js"></script>
  <script type="text/javascript" src="scripts/select2.min.js"></script>
  <script type="text/javascript" src="scripts/custom.js"></script>
</body>

acount-points.pug
include  header.pug
body
        // Wrapper
        #wrapper
            include menu-admin.pug
            // Dashboard
            #dashboard
                //
                  Navigation
                  ==================================================
                // Responsive Navigation Trigger
                include acount-premium-menu
                // Navigation / End
                //
                  Content
                  ==================================================
                .dashboard-content
                    // Titlebar
                    #titlebar
                        .row
                            .col-md-12
                                h2 Moje punkty
                                // Breadcrumbs
                                nav#breadcrumbs
                                    ul
                                        li
                                            a(href='index.html') Strona główna
                                        li
                                            a(href='acount-basic.html') Moje Punkty Zdrowia
                    .row
                        // Listings
                        .col-lg-12.col-md-12
                            .dashboard-list-box.margin-top-0
                                h4
                                    i.im.im-icon-Coin
                                    |  Stan Konta
                                ul
                                    li
                                        .list-box-listing
                                            .list-box-content
                                                .inner
                                                    h3
                                                        i.im.im-icon-Wallet-2
                                                        |  115 punktów
                        // Listings
                        .col-lg-12.col-md-12
                            .dashboard-list-box.margin-top-60
                                h4
                                    i.im.im-icon-Reload-3
                                    |  Historia
                                ul
                                    li
                                        .list-box-listing
                                            .list-box-content
                                                .inner
                                                    .row
                                                        .col-md-1.mobile-hidden
                                                            i.im.im-icon-Remove.big-icon.big-red
                                                        .col-md-11
                                                            h3.mobile-red Badanie kardiologiczne - Janusz Nowak
                                                            span.big-red -100 punktów
                                    li
                                        .list-box-listing
                                            .list-box-content
                                                .inner
                                                    .row
                                                        .col-md-1.mobile-hidden
                                                            i.im.im-icon-Add.big-icon.big-green
                                                        .col-md-11
                                                            h3.mobile-green Badanie kardiologiczne - Janusz Nowak
                                                            span.big-green +10 punktów
                        // Copyright
                        .col-md-12
                            .copyrights © 2017 Grupa Medycyna Polska
            // Content / End
        // Dashboard / End
        // Wrapper / End
        include scripts.pug
