acount-operator-zdrowia.html
<!DOCTYPE html>
<head>
  <!--
  Basic Page Needs
  ==================================================
  -->
  <title>Listeo</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <!--
  CSS
  ==================================================
  -->
  <link rel="stylesheet" href="css/style.min.css">
  <link id="custom" rel="stylesheet" href="css/custom.min.css">
  <link rel="stylesheet" href="css/jquery-ui.min.css">
</head>
<body>
  <!--
  Header Container
  ==================================================
  -->
  <header class="fixed fullwidth dashboard" id="header-container">
    <!-- Header-->
    <div class="not-sticky" id="header">
      <div class="container">
        <!-- Left Side Content-->
        <div class="left-side">
          <!-- Logo-->
          <div id="logo"><a href="index.html"><img src="images/logo.png" alt=""></a></div>
        </div>
        <!-- Left Side Content / End-->
        <!-- Right Side Content / End-->
        <div class="right-side">
          <!-- Header Widget-->
          <div class="header-widget">
            <!-- User Menu-->
            <div class="user-menu mobile-hidden">
              <div class="user-name"><span></span>Janusz Nowakowski</div>
            </div><a class="button border with-icon"> Wyloguj
              <!-- Dashboard--></a>
          </div>
          <!-- Header Widget / End-->
        </div>
        <!-- Right Side Content / End-->
      </div>
    </div>
    <!-- Header / End-->
  </header>
  <div class="clearfix"></div>
  <!-- Header Container / End-->
  <div id="dashboard">
    <!-- Responsive Navigation Trigger--><a class="dashboard-responsive-nav-trigger" href="#"> Panel Użytkownika</a>
    <div class="dashboard-nav">
      <div class="dashboard-nav-inner">
        <ul data-submenu-title="Nawigacja">
          <li class="active"><a href="acount-operator-workers.html"><i class="sl sl-icon-settings"></i> Wyszukaj w bazie</a></li>
          <li><a href="acount-operator-list.html"><i class="im im-icon-Business-Mens"></i> Pacjenci</a></li>
          <li><a href="acount-operator-specs.html"><i class="im im-icon-Bulleted-List"></i> Specjalizacje</a></li>
          <li><a href="acount-operator-places.html"><i class="im im-icon-Hospital"></i> Poradnie</a></li>
          <li><a href="acount-operator-items.html"><i class="im im-icon-Chemical-3"></i> Usługi</a></li>
          <li><a href="acount-operator-zdrowia.html"><i class="im im-icon-Heart-2"></i> Dodaj do prog. Zdrowia</a></li>
          <li><a href="acount-operator-register.html"><i class="im im-icon-Phone"></i> Umów pacjenta</a></li>
          <li><a href="acount-operator-services.html"><i class="sl sl-icon-user"></i>  Dodaj Zlecenie</a></li>
          <li><a href="acount-operator-contact.html"><strong>Kontakt GMP</strong></a></li>
        </ul>
      </div>
    </div>
    <!-- Navigation / End-->
    <!--
    Content
    ==================================================
    -->
    <div class="dashboard-content">
      <!-- Titlebar-->
      <div id="titlebar">
        <div class="row">
          <div class="col-md-12">
            <h2>Dodaj pacjenta do programu zdrowja</h2>
            <!-- Breadcrumbs-->
            <nav id="breadcrumbs">
              <ul>
                <li><a href="index.html">Strona główna</a></li>
                <li><a href="acount-operator-specs.html">Dodaj pacjenta do programu zdrowja</a></li>
              </ul>
            </nav>
          </div>
        </div>
        <div class="row">
          <div class="dashboard-list-box">
            <h4>Dodaj pacjenta do programu zdrowja:</h4>
            <form class="form-box">
              <div class="col-md-6">
                <label>Imie:</label>
                <input name="name" type="text">
              </div>
              <div class="col-md-6">
                <label>Nazwisko:</label>
                <input name="surname" type="text">
              </div>
              <div class="col-md-6">
                <label>Data urodzenia:</label>
                <input name="birthday" type="text" placeholder="RRRR-MM-DD">
              </div>
              <div class="col-md-6">
                <label>Numer telefonu kontaktowego:</label>
                <input name="phone" type="text">
              </div>
              <div class="col-md-6">
                <label>Adres e-mail</label>
                <input name="e-mail" type="text">
              </div>
              <div class="col-md-6">
                <label>Adres e-mail</label>
                <input name="e-mail-validation" type="text">
              </div>
              <div class="col-md-12 padding-bottom-20">
                <button class="button margin-top-15">Dodaj pacjenta</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--
  Scripts
  ==================================================
  -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.0.js"></script>
  <script type="text/javascript" src="scripts/jpanelmenu.min.js"></script>
  <script type="text/javascript" src="scripts/chosen.min.js"></script>
  <script type="text/javascript" src="scripts/slick.min.js"></script>
  <script type="text/javascript" src="scripts/rangeslider.min.js"></script>
  <script type="text/javascript" src="scripts/waypoints.min.js"></script>
  <script type="text/javascript" src="scripts/jquery-ui.min.js"></script>
  <script type="text/javascript" src="scripts/placeholders.jquery.js"></script>
  <script type="text/javascript" src="scripts/select2.min.js"></script>
  <script type="text/javascript" src="scripts/custom.js"></script>
  <script src="scripts/jquery.hideseek.min.js"></script>
  <script>$('#input-text').hideseek();</script>
</body>

acount-operator-zdrowia.pug
include header.pug
body
    include menu-admin.pug
        // Dashboard
    #dashboard
        // Responsive Navigation Trigger
        include acount-operator-menu
        // Navigation / End
        //
          Content
          ==================================================
        .dashboard-content
            // Titlebar
            #titlebar
                .row
                    .col-md-12
                        h2 Dodaj pacjenta do programu zdrowja
                        // Breadcrumbs
                        nav#breadcrumbs
                            ul
                                li
                                    a(href='index.html') Strona główna
                                li
                                    a(href='acount-operator-specs.html') Dodaj pacjenta do programu zdrowja
                .row
                    .dashboard-list-box
                        h4 Dodaj pacjenta do programu zdrowja:
                        form.form-box
                            .col-md-6
                                label Imie:
                                input(name='name', type='text')
                            .col-md-6
                                label Nazwisko:
                                input(name='surname', type='text')
                            .col-md-6
                                label Data urodzenia:
                                input(name='birthday', type='text' placeholder="RRRR-MM-DD")
                            .col-md-6
                                label Numer telefonu kontaktowego:
                                input(name='phone', type='text')
                            .col-md-6
                                label Adres e-mail
                                input(name='e-mail', type='text')
                            .col-md-6
                                label Adres e-mail
                                input(name='e-mail-validation', type='text')
                            .col-md-12.padding-bottom-20
                                button.button.margin-top-15 Dodaj pacjenta
    include scripts.pug
    script(src='scripts/jquery.hideseek.min.js')
    script.
        $('#input-text').hideseek();
