acount-places.pug
include header.pug
body
    include menu-admin.pug
        // Dashboard
    #dashboard
        // Responsive Navigation Trigger
        include acount-basic-menu
        // Navigation / End
        //
          Content
          ==================================================
        .dashboard-content
            // Titlebar
            #titlebar
                .row
                    .col-md-12
                        h2 Lista partnerów
                        // Breadcrumbs
                        nav#breadcrumbs
                            ul
                                li
                                    a(href='index.html') Strona główna
                                li
                                    a(href='acount-basic.html') Lista partnerów
            .row.margin-bottom-40
                form.form.with-forms
                    .col-md-6
                        // City
                        h5 Wybierz rodzaj
                        select.chosen-select-no-single
                            option Oferty sportowe
                            option Oferty medyczne
                    .col-md-4
                        // City
                        h5 Lokalizacja
                        select.chosen-select-no-single
                            option Tarnów
                            option Kraków
                    .col-md-2.padding-top-40
                        button(type="Submit").button Wyszukaj
            .dashboard-list-box.margin-top-0
                h4 Rodzaj Oferty
                ul
                    li
                        .list-box-listing
                            .list-box-listing-content
                                .inner
                                    .row
                                        .col-md-8
                                            strong Oferty sportowe
                                            br
                                            h3 Zniżki w salonie urody Cera-Plus
                                            p
                                                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, adipisci animi architecto autem blanditiis culpa cum, delectus earum exercitationem expedita fugiat hic, id inventore iusto nostrum perferendis perspiciatis.
                                        .col-md-4
                                            strong Lokalizacja
                                            br
                                            |                                             Ulica Waligóry
                                            br
                                            |                                             Tarnów 33-100
                    li
                        .list-box-listing
                            .list-box-listing-content
                                .inner
                                    .row
                                        .col-md-8
                                            strong Oferty medyczne
                                            br
                                            h3 Darmowe badania stomatologiczne
                                            p
                                                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, adipisci animi architecto autem blanditiis culpa cum, delectus earum exercitationem expedita fugiat hic, id inventore iusto nostrum perferendis perspiciatis.
                                        .col-md-4
                                            strong Lokalizacja
                                            br
                                            |                                             Ulica Waligóry
                                            br
                                            |                                             Tarnów 33-100
                    li
                        .list-box-listing
                            .list-box-listing-content
                                .inner
                                    .row
                                        .col-md-8
                                            strong Oferty medyczne
                                            br
                                            h3 Warsztaty medyczne
                                            p
                                                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, adipisci animi architecto autem blanditiis culpa cum.
                                        .col-md-4
                                            strong Lokalizacja
                                            br
                                            |                                             Ulica Waligóry
                                            br
                                            |                                             Tarnów 33-100
            .row
                // Copyright
                .col-md-12
                    .copyrights © 2017 Grupa Medycyna Polska
            // Content / End
        // Dashboard / End
        // Wrapper / End
    include scripts.pug

acount-places.html
<!DOCTYPE html>
<head>
  <!--
  Basic Page Needs
  ==================================================
  -->
  <title>Listeo</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <!--
  CSS
  ==================================================
  -->
  <link rel="stylesheet" href="css/style.min.css">
  <link id="custom" rel="stylesheet" href="css/custom.min.css">
  <link rel="stylesheet" href="css/jquery-ui.min.css">
</head>
<body>
  <!--
  Header Container
  ==================================================
  -->
  <header class="fixed fullwidth dashboard" id="header-container">
    <!-- Header-->
    <div class="not-sticky" id="header">
      <div class="container">
        <!-- Left Side Content-->
        <div class="left-side">
          <!-- Logo-->
          <div id="logo"><a href="index.html"><img src="images/logo.png" alt=""></a></div>
        </div>
        <!-- Left Side Content / End-->
        <!-- Right Side Content / End-->
        <div class="right-side">
          <!-- Header Widget-->
          <div class="header-widget">
            <!-- User Menu-->
            <div class="user-menu mobile-hidden">
              <div class="user-name"><span></span>Janusz Nowakowski</div>
            </div><a class="button border with-icon"> Wyloguj
              <!-- Dashboard--></a>
          </div>
          <!-- Header Widget / End-->
        </div>
        <!-- Right Side Content / End-->
      </div>
    </div>
    <!-- Header / End-->
  </header>
  <div class="clearfix"></div>
  <!-- Header Container / End-->
  <div id="dashboard">
    <!-- Responsive Navigation Trigger--><a class="dashboard-responsive-nav-trigger" href="#"> Panel Użytkownika</a>
    <div class="dashboard-nav">
      <div class="dashboard-nav-inner">
        <ul data-submenu-title="Nawigacja">
          <li class="active"><a href="acount-basic.html"><i class="sl sl-icon-settings"></i> Moje wizyty</a></li>
          <li><a href="index.html"><i class="sl sl-icon-plus"></i> Wyszukaj lekarza</a></li>
        </ul>
        <ul data-submenu-title="Konto">
          <li><a href="acount-settings.html"><i class="sl sl-icon-user"></i>Moje Dane</a></li>
          <li><a href="acount-logout.html"><i class="sl sl-icon-power"></i> Wyloguj</a></li>
        </ul>
        <div class="update-button">
          <div class="row"><a class="premium" href="">
              <div class="col-md-4 cold-sm-4 col-xs-4"><i class="im im-icon-Betvibes update-icons"></i></div>
              <div class="col-md-8 col-sm-8 col-xs-8 update-text">Przejdz do<strong> PREMIUM</strong></div></a></div>
        </div>
      </div>
    </div>
    <!-- Navigation / End-->
    <!--
    Content
    ==================================================
    -->
    <div class="dashboard-content">
      <!-- Titlebar-->
      <div id="titlebar">
        <div class="row">
          <div class="col-md-12">
            <h2>Lista partnerów</h2>
            <!-- Breadcrumbs-->
            <nav id="breadcrumbs">
              <ul>
                <li><a href="index.html">Strona główna</a></li>
                <li><a href="acount-basic.html">Lista partnerów</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
      <div class="row margin-bottom-40">
        <form class="form with-forms">
          <div class="col-md-6">
            <!-- City-->
            <h5>Wybierz rodzaj</h5>
            <select class="chosen-select-no-single">
              <option>Oferty sportowe</option>
              <option>Oferty medyczne</option>
            </select>
          </div>
          <div class="col-md-4">
            <!-- City-->
            <h5>Lokalizacja</h5>
            <select class="chosen-select-no-single">
              <option>Tarnów</option>
              <option>Kraków</option>
            </select>
          </div>
          <div class="col-md-2 padding-top-40">
            <button class="button" type="Submit">Wyszukaj</button>
          </div>
        </form>
      </div>
      <div class="dashboard-list-box margin-top-0">
        <h4>Rodzaj Oferty</h4>
        <ul>
          <li>
            <div class="list-box-listing">
              <div class="list-box-listing-content">
                <div class="inner">
                  <div class="row">
                    <div class="col-md-8"><strong>Oferty sportowe</strong><br>
                      <h3>Zniżki w salonie urody Cera-Plus</h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, adipisci animi architecto autem blanditiis culpa cum, delectus earum exercitationem expedita fugiat hic, id inventore iusto nostrum perferendis perspiciatis.</p>
                    </div>
                    <div class="col-md-4"><strong>Lokalizacja</strong><br>                                            Ulica Waligóry<br>                                            Tarnów 33-100</div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="list-box-listing">
              <div class="list-box-listing-content">
                <div class="inner">
                  <div class="row">
                    <div class="col-md-8"><strong>Oferty medyczne</strong><br>
                      <h3>Darmowe badania stomatologiczne</h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, adipisci animi architecto autem blanditiis culpa cum, delectus earum exercitationem expedita fugiat hic, id inventore iusto nostrum perferendis perspiciatis.</p>
                    </div>
                    <div class="col-md-4"><strong>Lokalizacja</strong><br>                                            Ulica Waligóry<br>                                            Tarnów 33-100</div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="list-box-listing">
              <div class="list-box-listing-content">
                <div class="inner">
                  <div class="row">
                    <div class="col-md-8"><strong>Oferty medyczne</strong><br>
                      <h3>Warsztaty medyczne</h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, adipisci animi architecto autem blanditiis culpa cum.</p>
                    </div>
                    <div class="col-md-4"><strong>Lokalizacja</strong><br>                                            Ulica Waligóry<br>                                            Tarnów 33-100</div>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="row">
        <!-- Copyright-->
        <div class="col-md-12">
          <div class="copyrights">© 2017 Grupa Medycyna Polska</div>
        </div>
      </div>
      <!-- Content / End-->
    </div>
    <!-- Dashboard / End-->
    <!-- Wrapper / End-->
  </div>
  <!--
  Scripts
  ==================================================
  -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.0.js"></script>
  <script type="text/javascript" src="scripts/jpanelmenu.min.js"></script>
  <script type="text/javascript" src="scripts/chosen.min.js"></script>
  <script type="text/javascript" src="scripts/slick.min.js"></script>
  <script type="text/javascript" src="scripts/rangeslider.min.js"></script>
  <script type="text/javascript" src="scripts/waypoints.min.js"></script>
  <script type="text/javascript" src="scripts/jquery-ui.min.js"></script>
  <script type="text/javascript" src="scripts/placeholders.jquery.js"></script>
  <script type="text/javascript" src="scripts/select2.min.js"></script>
  <script type="text/javascript" src="scripts/custom.js"></script>
</body>
