blog-single-post.html
<!DOCTYPE html>
<head>
  <!--
  Basic Page Needs
  ==================================================
  -->
  <title>Listeo</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <!--
  CSS
  ==================================================
  -->
  <link rel="stylesheet" href="css/style.min.css">
  <link id="custom" rel="stylesheet" href="css/custom.min.css">
  <link rel="stylesheet" href="css/jquery-ui.min.css">
</head>
<body>
  <!-- Wrapper-->
  <div id="wrapper">
    <header id="header-container">
      <div class="not-sticky" id="header">
        <div class="container">
          <div class="left-side">
            <div id="logo"><a href="index.html"><img src="images/logo.png" alt=""></a></div>
            <nav class="style-1" id="navigation">
              <ul class="responsive">
                <li><a class="current" href="#">GMP S.A.</a></li>
                <li><a href="pages-full-width.html">Współpraca</a></li>
                <li><a href="blog.html">Aktualności</a></li>
                <li><a href="pages-contact.html">Kontakt</a></li>
              </ul>
            </nav>
            <div class="clearfix"></div>
          </div>
          <div class="right-side">
            <div class="header-widget"><a class="sign-in"><i class="sl sl-icon-login"></i> Zaloguj</a><a class="button border with-icon infolinia" href="tel:622-14-14"><i class="sl sl-icon-phone"></i><span class="infolinia-hidden"> Infolinia</span> 622-14-14</a></div>
          </div>
        </div>
      </div>
    </header>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a class="navbar-brand" href="#">Menu</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">GMP S.A.<span class="sr-only">(current)</span></a></li>
            <li><a href="#">Współpraca</a></li>
            <li><a href="#">Aktualności</a></li>
            <li><a href="#">Kontakt</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <!--
  Titlebar
  ==================================================
  -->
  <div class="gradient" id="titlebar">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>Tytuł wpisu</h2>
          <!-- Breadcrumbs-->
          <nav id="breadcrumbs">
            <ul>
              <li><a href="#">Strona Główna</a></li>
              <li>Blog</li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!--
  Content
  ==================================================
  -->
  <div class="container">
    <!-- Blog Posts-->
    <div class="blog-page">
      <div class="row">
        <!-- Post Content-->
        <div class="col-lg-12 col-md-12">
          <!-- Blog Post-->
          <div class="blog-post single-post">
            <!-- Img--><img class="post-img" src="images/blog-post-02.jpg" alt="">
            <!-- Content-->
            <div class="post-content">
              <h3>Tytuł wpisu</h3>
              <ul class="post-meta">
                <li>22 maja 2017</li>
              </ul>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusantium adipisci alias autem consequuntur deserunt dicta distinctio dolorem et eveniet exercitationem explicabo facere fuga, fugit incidunt iste laudantium libero modi natus necessitatibus nobis non odio pariatur perferendis porro, quae, quas quasi qui quod ratione repudiandae sequi sit sunt tempora unde velit voluptate! Alias blanditiis deleniti dolorem earum est iusto maxime perspiciatis possimus qui quidem quisquam, repudiandae similique soluta sunt tenetur vel voluptatibus! Ab adipisci aliquid aperiam aspernatur atque, beatae commodi corporis dolorem doloribus libero maxime nam officiis perferendis quae reiciendis rerum tenetur! A corporis dolor maxime molestiae odit quam quod.
                
                <div class="clearfix"></div>
              </p>
            </div>
          </div>
          <!-- Blog Post / End-->
          <!-- Post Navigation-->
          <ul class="margin-top-0 margin-bottom-45" id="posts-nav">
            <li class="next-post"><a href="#"><span>Ostatni Wpis</span>Tytuł wpisu</a></li>
            <li class="prev-post"><a href="#"><span>Wcześniejszy wpis</span>Tytuł wpisu</a></li>
          </ul>
          <div class="clearfix"></div>
        </div>
        <!-- Content / End-->
      </div>
    </div>
    <!--
    Footer
    ==================================================
    -->
    <Footer>
      <div class="sticky-footer margin-top-60" id="footer"></div>
      <!-- Main-->
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-6 margin-top-20">
            <h4>Dla Pacjentów</h4>
            <ul>
              <li><a href="#">Zaloguj się</a></li>
              <li><a href="#">Korzyści</a></li>
              <li><a href="#">Instrukcje, porady</a></li>
              <li><a href="#">Widget na moją stronę</a></li>
              <li><a href="#">FAQ</a></li>
              <li><a href="#">Kontakt</a></li>
            </ul>
          </div>
          <div class="col-md-3 col-sm-6 margin-top-20">
            <h4>Dla Partnerów</h4>
            <ul>
              <li><a href="#">Apliakcja Mobilna</a></li>
              <li><a href="#">Indywidualne Konto Zdrowotne</a></li>
              <li><a href="#">Konto Progamu Zdrowja</a></li>
              <li><a href="#">Przystąp do Programu Zdrowja</a></li>
              <li><a href="#">Instrukcje</a></li>
              <li><a href="#">Informator Medyczny</a></li>
            </ul>
          </div>
          <div class="col-md-3 col-sm-6 margin-top-20">
            <h4>Serwis</h4>
            <ul>
              <li><a href="#">O nas</a></li>
              <li><a href="#">Prywatność</a></li>
              <li><a href="#">Regulamin serwisu</a></li>
              <li><a href="#">Partnerzy technologiczni</a></li>
              <li><a href="#">Ogłoszenia</a></li>
              <li><a href="#">Dla Prasy</a></li>
            </ul>
          </div>
          <div class="col-md-3 col-sm-12 margin-top-20">
            <h4>Kontakt</h4>
            <div class="text-widget"><span>Grupa Medycyna Polska S.A.</span><br>Biuro:<span>ul. Żytomierska 5</span><br>03-360 Warszawa, Polska<br><a href="#">biuro@medycynapolska.pl</a><br></div>
            <ul class="social-list margin-top-20">
              <li><a href="#"><i class="im im-icon-Facebook"></i></a></li>
              <li><a href="#"><i class="im im-icon-Twitter"></i></a></li>
              <li><a href="#"><i class="im im-icon-Linkedin"></i></a></li>
            </ul>
          </div>
        </div>
        <!-- Copyright-->
        <div class="row">
          <div class="col-md-12">
            <div class="copyrights">© 2017 Grupa Medycyna Polska</div>
          </div>
        </div>
      </div>
    </Footer>
    <!-- Footer / End-->
    <!-- Back To Top Button-->
    <div id="backtotop"><a href="#"></a></div>
  </div>
  <!--
  Scripts
  ==================================================
  -->
  <!--
  Scripts
  ==================================================
  -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.0.js"></script>
  <script type="text/javascript" src="scripts/jpanelmenu.min.js"></script>
  <script type="text/javascript" src="scripts/chosen.min.js"></script>
  <script type="text/javascript" src="scripts/slick.min.js"></script>
  <script type="text/javascript" src="scripts/rangeslider.min.js"></script>
  <script type="text/javascript" src="scripts/waypoints.min.js"></script>
  <script type="text/javascript" src="scripts/jquery-ui.min.js"></script>
  <script type="text/javascript" src="scripts/placeholders.jquery.js"></script>
  <script type="text/javascript" src="scripts/select2.min.js"></script>
  <script type="text/javascript" src="scripts/custom.js"></script>
</body>

blog-single-post.pug
include header
body
    // Wrapper
    #wrapper
        include menu.pug
    //
      Titlebar
      ==================================================
    #titlebar.gradient
        .container
            .row
                .col-md-12
                    h2 Tytuł wpisu
                    // Breadcrumbs
                    nav#breadcrumbs
                        ul
                            li
                                a(href='#') Strona Główna
                            li Blog
    //
      Content
      ==================================================
    .container
        // Blog Posts
        .blog-page
            .row
                // Post Content
                .col-lg-12.col-md-12
                    // Blog Post
                    .blog-post.single-post
                        // Img
                        img.post-img(src='images/blog-post-02.jpg', alt='')
                        // Content
                        .post-content
                            h3 Tytuł wpisu
                            ul.post-meta
                                li 22 maja 2017
                            p
                                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusantium adipisci alias autem consequuntur deserunt dicta distinctio dolorem et eveniet exercitationem explicabo facere fuga, fugit incidunt iste laudantium libero modi natus necessitatibus nobis non odio pariatur perferendis porro, quae, quas quasi qui quod ratione repudiandae sequi sit sunt tempora unde velit voluptate! Alias blanditiis deleniti dolorem earum est iusto maxime perspiciatis possimus qui quidem quisquam, repudiandae similique soluta sunt tenetur vel voluptatibus! Ab adipisci aliquid aperiam aspernatur atque, beatae commodi corporis dolorem doloribus libero maxime nam officiis perferendis quae reiciendis rerum tenetur! A corporis dolor maxime molestiae odit quam quod.
                                |
                                .clearfix
                    // Blog Post / End
                    // Post Navigation
                    ul#posts-nav.margin-top-0.margin-bottom-45
                        li.next-post
                            a(href='#')
                                span Ostatni Wpis
                                | Tytuł wpisu
                        li.prev-post
                            a(href='#')
                                span Wcześniejszy wpis
                                | Tytuł wpisu
                    .clearfix
                // Content / End
        //
          Footer
          ==================================================
        include footer.pug
    //
      Scripts
      ==================================================
    include scripts.pug
