blog.html
<!DOCTYPE html>
<head>
  <!--
  Basic Page Needs
  ==================================================
  -->
  <title>Listeo</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <!--
  CSS
  ==================================================
  -->
  <link rel="stylesheet" href="css/style.min.css">
  <link id="custom" rel="stylesheet" href="css/custom.min.css">
  <link rel="stylesheet" href="css/jquery-ui.min.css">
</head>
<body>
  <!-- Wrapper-->
  <div id="wrapper">
    <header id="header-container">
      <div class="not-sticky" id="header">
        <div class="container">
          <div class="left-side">
            <div id="logo"><a href="index.html"><img src="images/logo.png" alt=""></a></div>
            <nav class="style-1" id="navigation">
              <ul class="responsive">
                <li><a class="current" href="#">GMP S.A.</a></li>
                <li><a href="pages-full-width.html">Współpraca</a></li>
                <li><a href="blog.html">Aktualności</a></li>
                <li><a href="pages-contact.html">Kontakt</a></li>
              </ul>
            </nav>
            <div class="clearfix"></div>
          </div>
          <div class="right-side">
            <div class="header-widget"><a class="sign-in"><i class="sl sl-icon-login"></i> Zaloguj</a><a class="button border with-icon infolinia" href="tel:622-14-14"><i class="sl sl-icon-phone"></i><span class="infolinia-hidden"> Infolinia</span> 622-14-14</a></div>
          </div>
        </div>
      </div>
    </header>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a class="navbar-brand" href="#">Menu</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">GMP S.A.<span class="sr-only">(current)</span></a></li>
            <li><a href="#">Współpraca</a></li>
            <li><a href="#">Aktualności</a></li>
            <li><a href="#">Kontakt</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <!--  Titlebar==================================================
  -->
  <div class="gradient" id="titlebar">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>Aktualności</h2>
          <nav id="breadcrumbs">
            <ul>
              <li><a href="#">Strona Główna</a></li>
              <li>Blog</li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!--
  Content
  ==================================================
  -->
  <div class="container">
    <!-- Blog Posts-->
    <div class="blog-page">
      <div class="row">
        <div class="col-lg-10 col-md-10 col-md-push-1">
          <!-- Blog Post-->
          <div class="blog-post">
            <!-- Img--><a class="post-img" href="pages-blog-post.html"><img src="../images/blog-post-03.jpg" alt=""></a>
            <!-- Content-->
            <div class="post-content">
              <h3><a href="pages-blog-post.html">Wpis pierwszy</a></h3>
              <ul class="post-meta">
                <li>12 maja 2017</li>
              </ul>
              <p>Nam nisl lacus, dignissim ac tristique ut, scelerisque eu massa. Vestibulum ligula nunc, rutrum in malesuada vitae, tempus sed augue. Curabitur quis lectus quis augue dapibus facilisis.</p><a class="read-more" href="pages-blog-post.html">Czytaj dalej ...<i class="fa fa-angle-right"></i></a>
            </div>
          </div>
          <!-- Blog Post / End-->
          <!-- Blog Post-->
          <div class="blog-post">
            <!-- Img--><a class="post-img" href="pages-blog-post.html"><img src="../images/blog-post-03.jpg" alt=""></a>
            <!-- Content-->
            <div class="post-content">
              <h3><a href="pages-blog-post.html">Wpis drugi</a></h3>
              <ul class="post-meta">
                <li>20 czerwiec 2017</li>
              </ul>
              <p>Nam nisl lacus, dignissim ac tristique ut, scelerisque eu massa. Vestibulum ligula nunc, rutrum in malesuada vitae, tempus sed augue. Curabitur quis lectus quis augue dapibus facilisis.</p><a class="read-more" href="pages-blog-post.html">Czytaj dalej ...<i class="fa fa-angle-right"></i></a>
            </div>
          </div>
          <!-- Blog Post / End-->
          <!-- Pagination-->
          <div class="clearfix"></div>
          <div class="row">
            <div class="col-md-10 col-md-push-1">
              <!-- Pagination-->
              <div class="pagination-container margin-bottom-40">
                <nav class="pagination">
                  <ul>
                    <li><a class="current-page" href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#"><i class="sl sl-icon-arrow-right"></i></a></li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
          <!-- Pagination / End-->
        </div>
        <!-- Blog Posts / End-->
      </div>
    </div>
    <!--
    Footer
    ==================================================
    -->
    <Footer>
      <div class="sticky-footer margin-top-60" id="footer"></div>
      <!-- Main-->
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-6 margin-top-20">
            <h4>Dla Pacjentów</h4>
            <ul>
              <li><a href="#">Zaloguj się</a></li>
              <li><a href="#">Korzyści</a></li>
              <li><a href="#">Instrukcje, porady</a></li>
              <li><a href="#">Widget na moją stronę</a></li>
              <li><a href="#">FAQ</a></li>
              <li><a href="#">Kontakt</a></li>
            </ul>
          </div>
          <div class="col-md-3 col-sm-6 margin-top-20">
            <h4>Dla Partnerów</h4>
            <ul>
              <li><a href="#">Apliakcja Mobilna</a></li>
              <li><a href="#">Indywidualne Konto Zdrowotne</a></li>
              <li><a href="#">Konto Progamu Zdrowja</a></li>
              <li><a href="#">Przystąp do Programu Zdrowja</a></li>
              <li><a href="#">Instrukcje</a></li>
              <li><a href="#">Informator Medyczny</a></li>
            </ul>
          </div>
          <div class="col-md-3 col-sm-6 margin-top-20">
            <h4>Serwis</h4>
            <ul>
              <li><a href="#">O nas</a></li>
              <li><a href="#">Prywatność</a></li>
              <li><a href="#">Regulamin serwisu</a></li>
              <li><a href="#">Partnerzy technologiczni</a></li>
              <li><a href="#">Ogłoszenia</a></li>
              <li><a href="#">Dla Prasy</a></li>
            </ul>
          </div>
          <div class="col-md-3 col-sm-12 margin-top-20">
            <h4>Kontakt</h4>
            <div class="text-widget"><span>Grupa Medycyna Polska S.A.</span><br>Biuro:<span>ul. Żytomierska 5</span><br>03-360 Warszawa, Polska<br><a href="#">biuro@medycynapolska.pl</a><br></div>
            <ul class="social-list margin-top-20">
              <li><a href="#"><i class="im im-icon-Facebook"></i></a></li>
              <li><a href="#"><i class="im im-icon-Twitter"></i></a></li>
              <li><a href="#"><i class="im im-icon-Linkedin"></i></a></li>
            </ul>
          </div>
        </div>
        <!-- Copyright-->
        <div class="row">
          <div class="col-md-12">
            <div class="copyrights">© 2017 Grupa Medycyna Polska</div>
          </div>
        </div>
      </div>
    </Footer>
    <!-- Footer / End-->
    <!-- Back To Top Button-->
    <div id="backtotop"><a href="#"></a></div>
    <!--
    Scripts
    ==================================================
    -->
    <!--
    Scripts
    ==================================================
    -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.0.js"></script>
    <script type="text/javascript" src="scripts/jpanelmenu.min.js"></script>
    <script type="text/javascript" src="scripts/chosen.min.js"></script>
    <script type="text/javascript" src="scripts/slick.min.js"></script>
    <script type="text/javascript" src="scripts/rangeslider.min.js"></script>
    <script type="text/javascript" src="scripts/waypoints.min.js"></script>
    <script type="text/javascript" src="scripts/jquery-ui.min.js"></script>
    <script type="text/javascript" src="scripts/placeholders.jquery.js"></script>
    <script type="text/javascript" src="scripts/select2.min.js"></script>
    <script type="text/javascript" src="scripts/custom.js"></script>
  </div>
</body>

blog.pug
include header
body
    // Wrapper
    #wrapper
        include menu.pug
    //  Titlebar
      ==================================================
    #titlebar.gradient
        .container
            .row
                .col-md-12
                    h2 Aktualności
                    nav#breadcrumbs
                        ul
                            li
                                a(href='#') Strona Główna
                            li Blog
    //
      Content
      ==================================================
    .container
        // Blog Posts
        .blog-page
            .row
                .col-lg-10.col-md-10.col-md-push-1
                    // Blog Post
                    .blog-post
                        // Img
                        a.post-img(href='pages-blog-post.html')
                            img(src='../images/blog-post-03.jpg', alt='')
                        // Content
                        .post-content
                            h3
                                a(href='pages-blog-post.html') Wpis pierwszy
                            ul.post-meta
                                li 12 maja 2017
                            p
                                | Nam nisl lacus, dignissim ac tristique ut, scelerisque eu massa. Vestibulum ligula nunc, rutrum in malesuada vitae, tempus sed augue. Curabitur quis lectus quis augue dapibus facilisis.
                            a.read-more(href='pages-blog-post.html')
                                | Czytaj dalej ...
                                i.fa.fa-angle-right
                    // Blog Post / End
                    // Blog Post
                    .blog-post
                        // Img
                        a.post-img(href='pages-blog-post.html')
                            img(src='../images/blog-post-03.jpg', alt='')
                        // Content
                        .post-content
                            h3
                                a(href='pages-blog-post.html') Wpis drugi
                            ul.post-meta
                                li 20 czerwiec 2017
                            p
                                | Nam nisl lacus, dignissim ac tristique ut, scelerisque eu massa. Vestibulum ligula nunc, rutrum in malesuada vitae, tempus sed augue. Curabitur quis lectus quis augue dapibus facilisis.
                            a.read-more(href='pages-blog-post.html')
                                | Czytaj dalej ...
                                i.fa.fa-angle-right
                    // Blog Post / End
                    // Pagination
                    .clearfix
                    .row
                        .col-md-10.col-md-push-1
                            // Pagination
                            .pagination-container.margin-bottom-40
                                nav.pagination
                                    ul
                                        li
                                            a.current-page(href='#') 1
                                        li
                                            a(href='#') 2
                                        li
                                            a(href='#') 3
                                        li
                                            a(href='#')
                                                i.sl.sl-icon-arrow-right
                    // Pagination / End
                // Blog Posts / End
        //
          Footer
          ==================================================
        include footer.pug
        //
          Scripts
          ==================================================
        include scripts.pug
