index.html
<!DOCTYPE html>
<head>
  <!--
  Basic Page Needs
  ==================================================
  -->
  <title>Listeo</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <!--
  CSS
  ==================================================
  -->
  <link rel="stylesheet" href="css/style.min.css">
  <link id="custom" rel="stylesheet" href="css/custom.min.css">
  <link rel="stylesheet" href="css/jquery-ui.min.css">
</head>
<body>
  <div id="wrapper">
    <header id="header-container">
      <div class="not-sticky" id="header">
        <div class="container">
          <div class="left-side">
            <div id="logo"><a href="index.html"><img src="images/logo.png" alt=""></a></div>
            <nav class="style-1" id="navigation">
              <ul class="responsive">
                <li><a class="current" href="#">GMP S.A.</a></li>
                <li><a href="pages-full-width.html">Współpraca</a></li>
                <li><a href="blog.html">Aktualności</a></li>
                <li><a href="pages-contact.html">Kontakt</a></li>
              </ul>
            </nav>
            <div class="clearfix"></div>
          </div>
          <div class="right-side">
            <div class="header-widget"><a class="sign-in"><i class="sl sl-icon-login"></i> Zaloguj</a><a class="button border with-icon infolinia" href="tel:622-14-14"><i class="sl sl-icon-phone"></i><span class="infolinia-hidden"> Infolinia</span> 622-14-14</a></div>
          </div>
        </div>
      </div>
    </header>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a class="navbar-brand" href="#">Menu</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">GMP S.A.<span class="sr-only">(current)</span></a></li>
            <li><a href="#">Współpraca</a></li>
            <li><a href="#">Aktualności</a></li>
            <li><a href="#">Kontakt</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <!--
  Banner
  ==================================================
  -->
  <div class="main-search-container" data-background-image="images/main-search-background-01.jpg">
    <div class="main-search-inner">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2>Wyszukaj Usługę lub Specjaliste</h2>
            <h4>Najlepsi lekarze, blisko ciebie w wygodnym terminie...</h4>
            <form class="main-search-input">
              <div class="main-search-input-item">
                <select class="doctor-single">
                  <option value="Mo">Montana</option>
                  <option value="PL">Poland</option>
                </select>
              </div>
              <div class="main-search-input-item">
                <select class="doctor-single2">
                  <option value="AL">Alabama</option>
                  <option value="DE">Dana</option>
                </select>
              </div>
              <button class="button">Wyszukaj</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--
  Content
  ==================================================
  -->
  <!-- Info Section-->
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h2 class="headline centered margin-top-80">Grupa Medycyna Polska<span class="margin-top-25">Jesteśmy jedną z najwiekszych i najszybciej rozwijących się  Polskich grup medycznych aktywnie działąjącą na terenie kraju.</span></h2>
      </div>
    </div>
    <div class="row icons-container margin-bottom-80">
      <!-- Stage-->
      <div class="col-md-3 col-sm-6">
        <div class="icon-box-2 with-line"><i class="im im-icon-Doctor"></i>
          <h3>200 Lekarzy</h3>
          <p>Różnych specjalizacjiś</p>
        </div>
      </div>
      <!-- Stage-->
      <div class="col-md-3 col-sm-6">
        <div class="icon-box-2 with-line"><i class="im im-icon-Hospital"></i>
          <h4>100 Placówek</h4>
          <p>Na terenie całego kraju</p>
        </div>
      </div>
      <!-- Stage-->
      <div class="col-md-3 col-sm-6">
        <div class="icon-box-2 with-line"><i class="im im-icon-Bulleted-List"></i>
          <h3>600 Usług</h3>
          <p>Świadczonych w placówkach</p>
        </div>
      </div>
      <!-- Stage-->
      <div class="col-md-3 col-sm-6">
        <div class="icon-box-2"><i class="im im-icon-Business-Mens"></i>
          <h4> 60 tyś Pacjentów</h4>
          <p>Obsługiwanych rocznie</p>
        </div>
      </div>
    </div>
  </div>
  <!-- Info Section / End-->
  <!-- Fullwidth Section-->
  <section class="fullwidth margin-top-65 padding-top-75 padding-bottom-70" data-background-color="#f8f8f8">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h3 class="headline centered margin-bottom-45">Profity i Korzyści<span>Dla klientów indywidualnych</span></h3>
        </div>
        <div class="col-md-12">
          <!-- Listing Item--><a class="listing-item-container" href="#">
            <div class="listing-item"><img src="images/listing-item-01.jpg" alt="">
              <div class="listing-item-content" style="text-align:right;">
                <h3>Skorzysta i Ty !</h3><span>Dołącz do programu.</span>
              </div>
            </div></a>
          <!-- Listing Item / End-->
        </div>
        <div class="col-md-6">
          <div class="padding-bottom-20">
            <h3><i class="im im-icon-Fountain-Pen"></i> Rejestracja  On-line</h3>
            <p>Lorem Ipsum jest tekstem stosowanym jako przykładowy wypełniacz w przemyśle poligraficznym. Został po raz pierwszy użyty w XV w. przez nieznanego drukarza do wypełnienia tekstem próbnej książki.</p>
          </div>
          <div class="padding-bottom-20">
            <h3><i class="im im-icon-Calendar"></i> Historia wizyt</h3>
            <p>Lorem Ipsum jest tekstem stosowanym jako przykładowy wypełniacz w przemyśle poligraficznym. Został po raz pierwszy użyty w XV w. przez nieznanego drukarza do wypełnienia tekstem próbnej książki.</p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="padding-bottom-20">
            <h3><i class="im im-icon-Ticket"></i> Zniżki u partnerów</h3>
            <p>Lorem Ipsum jest tekstem stosowanym jako przykładowy wypełniacz w przemyśle poligraficznym. Został po raz pierwszy użyty w XV w. przez nieznanego drukarza do wypełnienia tekstem próbnej książki.</p>
          </div>
          <div class="padding-bottom-20">
            <h3><i class="im im-icon-First-Aid"></i> Oferty medyczne</h3>
            <p>Lorem Ipsum jest tekstem stosowanym jako przykładowy wypełniacz w przemyśle poligraficznym. Został po raz pierwszy użyty w XV w. przez nieznanego drukarza do wypełnienia tekstem próbnej książki.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Fullwidth Section / End-->
  <section class="fullwidth margin-bottom-0 padding-top-60 padding-bottom-40" data-background-color="#ffffff">
    <!-- Logo Carousel-->
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h3 class="headline centered margin-bottom-40 margin-top-10">Partnerzy<span>Razem od wielu lat wspólnie dbamy o zdrowie naszych klientów!</span></h3>
        </div>
        <!-- Carousel-->
        <div class="col-md-12">
          <div class="logo-slick-carousel dot-navigation">
            <div class="item"><img src="images/logo-01.png" alt=""></div>
            <div class="item"><img src="images/logo-02.png" alt=""></div>
            <div class="item"><img src="images/logo-03.png" alt=""></div>
            <div class="item"><img src="images/logo-04.png" alt=""></div>
            <div class="item"><img src="images/logo-05.png" alt=""></div>
            <div class="item"><img src="images/logo-06.png" alt=""></div>
            <div class="item"><img src="images/logo-07.png" alt=""></div>
          </div>
        </div>
        <!-- Carousel / End-->
      </div>
    </div>
    <!-- Logo Carousel / End-->
  </section>
  <!---->
  <Footer>
    <div class="sticky-footer margin-top-60" id="footer"></div>
    <!-- Main-->
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6 margin-top-20">
          <h4>Dla Pacjentów</h4>
          <ul>
            <li><a href="#">Zaloguj się</a></li>
            <li><a href="#">Korzyści</a></li>
            <li><a href="#">Instrukcje, porady</a></li>
            <li><a href="#">Widget na moją stronę</a></li>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Kontakt</a></li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-6 margin-top-20">
          <h4>Dla Partnerów</h4>
          <ul>
            <li><a href="#">Apliakcja Mobilna</a></li>
            <li><a href="#">Indywidualne Konto Zdrowotne</a></li>
            <li><a href="#">Konto Progamu Zdrowja</a></li>
            <li><a href="#">Przystąp do Programu Zdrowja</a></li>
            <li><a href="#">Instrukcje</a></li>
            <li><a href="#">Informator Medyczny</a></li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-6 margin-top-20">
          <h4>Serwis</h4>
          <ul>
            <li><a href="#">O nas</a></li>
            <li><a href="#">Prywatność</a></li>
            <li><a href="#">Regulamin serwisu</a></li>
            <li><a href="#">Partnerzy technologiczni</a></li>
            <li><a href="#">Ogłoszenia</a></li>
            <li><a href="#">Dla Prasy</a></li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-12 margin-top-20">
          <h4>Kontakt</h4>
          <div class="text-widget"><span>Grupa Medycyna Polska S.A.</span><br>Biuro:<span>ul. Żytomierska 5</span><br>03-360 Warszawa, Polska<br><a href="#">biuro@medycynapolska.pl</a><br></div>
          <ul class="social-list margin-top-20">
            <li><a href="#"><i class="im im-icon-Facebook"></i></a></li>
            <li><a href="#"><i class="im im-icon-Twitter"></i></a></li>
            <li><a href="#"><i class="im im-icon-Linkedin"></i></a></li>
          </ul>
        </div>
      </div>
      <!-- Copyright-->
      <div class="row">
        <div class="col-md-12">
          <div class="copyrights">© 2017 Grupa Medycyna Polska</div>
        </div>
      </div>
    </div>
  </Footer>
  <!-- Footer / End-->
  <!-- Back To Top Button-->
  <div id="backtotop"><a href="#"></a></div>
  <!--
  Scripts
  ==================================================
  -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.0.js"></script>
  <script type="text/javascript" src="scripts/jpanelmenu.min.js"></script>
  <script type="text/javascript" src="scripts/chosen.min.js"></script>
  <script type="text/javascript" src="scripts/slick.min.js"></script>
  <script type="text/javascript" src="scripts/rangeslider.min.js"></script>
  <script type="text/javascript" src="scripts/waypoints.min.js"></script>
  <script type="text/javascript" src="scripts/jquery-ui.min.js"></script>
  <script type="text/javascript" src="scripts/placeholders.jquery.js"></script>
  <script type="text/javascript" src="scripts/select2.min.js"></script>
  <script type="text/javascript" src="scripts/custom.js"></script>
  <script>
    $(document).ready(function() {
        $(".doctor-single").select2({
            placeholder: 'Lekarz / Specjalizacja / Usługa',
            theme:'classic',
        });
    
        $(".doctor-single2").select2({
            placeholder: 'Województwo / Miejscowość',
            theme: 'classic',
        });
    });
  </script>
</body>

index.pug
include header.pug
body
    #wrapper
        include menu.pug
    //
      Banner
      ==================================================
    .main-search-container(data-background-image='images/main-search-background-01.jpg')
        .main-search-inner
            .container
                .row
                    .col-md-12
                        h2 Wyszukaj Usługę lub Specjaliste
                        h4 Najlepsi lekarze, blisko ciebie w wygodnym terminie...
                        form.main-search-input
                            .main-search-input-item
                                select.doctor-single
                                    option( value='Mo') Montana
                                    option( value='PL') Poland
                            .main-search-input-item
                                 select.doctor-single2
                                    option( value='AL') Alabama
                                    option( value='DE') Dana

                            button.button() Wyszukaj
    //
      Content
      ==================================================
    // Info Section
    .container

        .row
            .col-md-8.col-md-offset-2
                h2.headline.centered.margin-top-80
                    | Grupa Medycyna Polska
                    span.margin-top-25
                        | Jesteśmy jedną z najwiekszych i najszybciej rozwijących się  Polskich grup medycznych aktywnie działąjącą na terenie kraju.
        .row.icons-container.margin-bottom-80
            // Stage
            .col-md-3.col-sm-6
                .icon-box-2.with-line
                    i.im.im-icon-Doctor
                    h3 200 Lekarzy
                    p Różnych specjalizacjiś
            // Stage
            .col-md-3.col-sm-6
                .icon-box-2.with-line
                    i.im.im-icon-Hospital
                    h4 100 Placówek
                    p Na terenie całego kraju
            // Stage
            .col-md-3.col-sm-6
                .icon-box-2.with-line
                    i.im.im-icon-Bulleted-List
                    h3 600 Usług
                    p
                        | Świadczonych w placówkach
            // Stage
            .col-md-3.col-sm-6
                .icon-box-2
                    i.im.im-icon-Business-Mens
                    h4  60 tyś Pacjentów
                    p Obsługiwanych rocznie
    // Info Section / End
    // Fullwidth Section
    section.fullwidth.margin-top-65.padding-top-75.padding-bottom-70(data-background-color='#f8f8f8')
        .container
            .row
                .col-md-12
                    h3.headline.centered.margin-bottom-45
                        | Profity i Korzyści
                        span Dla klientów indywidualnych
                .col-md-12
                    // Listing Item
                    a.listing-item-container(href='#')
                        .listing-item
                            img(src='images/listing-item-01.jpg', alt='')
                            .listing-item-content(style='text-align:right')
                                h3 Skorzysta i Ty !
                                span Dołącz do programu.
                    // Listing Item / End
                .col-md-6
                    div.padding-bottom-20
                        h3
                            i.im.im-icon-Fountain-Pen
                            |  Rejestracja  On-line
                        p
                            | Lorem Ipsum jest tekstem stosowanym jako przykładowy wypełniacz w przemyśle poligraficznym. Został po raz pierwszy użyty w XV w. przez nieznanego drukarza do wypełnienia tekstem próbnej książki.
                    div.padding-bottom-20
                        h3
                            i.im.im-icon-Calendar
                            |  Historia wizyt
                        p
                            | Lorem Ipsum jest tekstem stosowanym jako przykładowy wypełniacz w przemyśle poligraficznym. Został po raz pierwszy użyty w XV w. przez nieznanego drukarza do wypełnienia tekstem próbnej książki.
                .col-md-6
                    div.padding-bottom-20
                        h3
                            i.im.im-icon-Ticket
                            |  Zniżki u partnerów
                        p
                            | Lorem Ipsum jest tekstem stosowanym jako przykładowy wypełniacz w przemyśle poligraficznym. Został po raz pierwszy użyty w XV w. przez nieznanego drukarza do wypełnienia tekstem próbnej książki.
                    div.padding-bottom-20
                        h3
                            i.im.im-icon-First-Aid
                            |  Oferty medyczne
                        p
                            | Lorem Ipsum jest tekstem stosowanym jako przykładowy wypełniacz w przemyśle poligraficznym. Został po raz pierwszy użyty w XV w. przez nieznanego drukarza do wypełnienia tekstem próbnej książki.
    // Fullwidth Section / End
    section.fullwidth.margin-bottom-0.padding-top-60.padding-bottom-40(data-background-color='#ffffff')
        // Logo Carousel
        .container
            .row
                .col-md-12
                    h3.headline.centered.margin-bottom-40.margin-top-10
                        | Partnerzy
                        span Razem od wielu lat wspólnie dbamy o zdrowie naszych klientów!
                // Carousel
                .col-md-12
                    .logo-slick-carousel.dot-navigation
                        .item
                            img(src='images/logo-01.png', alt='')
                        .item
                            img(src='images/logo-02.png', alt='')
                        .item
                            img(src='images/logo-03.png', alt='')
                        .item
                            img(src='images/logo-04.png', alt='')
                        .item
                            img(src='images/logo-05.png', alt='')
                        .item
                            img(src='images/logo-06.png', alt='')
                        .item
                            img(src='images/logo-07.png', alt='')
                // Carousel / End
        // Logo Carousel / End
    //
    include footer.pug
    include scripts.pug
    script.
        $(document).ready(function() {
            $(".doctor-single").select2({
                placeholder: 'Lekarz / Specjalizacja / Usługa',
                theme:'classic',
            });

            $(".doctor-single2").select2({
                placeholder: 'Województwo / Miejscowość',
                theme: 'classic',
            });
        });
