listings-list-with-sidebar.html
<!DOCTYPE html>
<head>
  <!--
  Basic Page Needs
  ==================================================
  -->
  <title>Listeo</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <!--
  CSS
  ==================================================
  -->
  <link rel="stylesheet" href="css/style.min.css">
  <link id="custom" rel="stylesheet" href="css/custom.min.css">
  <link rel="stylesheet" href="css/jquery-ui.min.css">
</head>
<body>
  <!-- Wrapper-->
  <div id="wrapper">
    <header id="header-container">
      <div class="not-sticky" id="header">
        <div class="container">
          <div class="left-side">
            <div id="logo"><a href="index.html"><img src="images/logo.png" alt=""></a></div>
            <nav class="style-1" id="navigation">
              <ul class="responsive">
                <li><a class="current" href="#">GMP S.A.</a></li>
                <li><a href="pages-full-width.html">Współpraca</a></li>
                <li><a href="blog.html">Aktualności</a></li>
                <li><a href="pages-contact.html">Kontakt</a></li>
              </ul>
            </nav>
            <div class="clearfix"></div>
          </div>
          <div class="right-side">
            <div class="header-widget"><a class="sign-in"><i class="sl sl-icon-login"></i> Zaloguj</a><a class="button border with-icon infolinia" href="tel:622-14-14"><i class="sl sl-icon-phone"></i><span class="infolinia-hidden"> Infolinia</span> 622-14-14</a></div>
          </div>
        </div>
      </div>
    </header>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a class="navbar-brand" href="#">Menu</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">GMP S.A.<span class="sr-only">(current)</span></a></li>
            <li><a href="#">Współpraca</a></li>
            <li><a href="#">Aktualności</a></li>
            <li><a href="#">Kontakt</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <!--
    Titlebar
    ==================================================
    -->
    <div class="gradient" id="titlebar">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2>Wyniki wyszukiwania:</h2><span> Kardiolog Tarnów</span>
            <!-- Breadcrumbs-->
            <nav id="breadcrumbs">
              <ul>
                <li><a href="#">Strona Główna</a></li>
                <li>Wyszukiwanie</li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
    <!--
    Content
    ==================================================
    
    -->
    <!--
    Tj rozmawialismy skrypt zeby dzialalo filtrowanie nalezy wygenerowac 3 blocki:
    1. poniżej param_foo
    2. w wyszukiwarce id="foo"
    3. w filtrze linia 346
    -->
    <div class="container">
      <div class="row">
        <div class="col-lg-9 col-md-8 padding-right-30">
          <div class="row">
            <div id="doctor-list">
              <ul class="list">
                <li class="col-lg-12 col-md-12 doctor-single margin-bottom-50" id="doctor-1">
                  <div class="row background-doctor-title">
                    <div class="col-md-2 mobile-hidden"><img src="https://dummyimage.com/125x100/000/fff"></div>
                    <div class="col-md-10 col-sm-12">
                      <h3 class="doctor-title"><strong>
                          <u><a href="#">Lek med. Monika Szmit</a></u></strong></h3><span>Lekarz Ogólny / Medycyna Pracy</span><a class="button border doctor-more mobile-hidden" href="#"><i class="im im-icon-Link-2"></i>  Więcej >></a>
                    </div>
                  </div>
                  <div class="row searchlist-divider">
                    <div class="col-md-12">
                      <div class="row padding-bottom-30">
                        <div class="col-sm-6 col-md-6">
                          <div class="padding-left-25"><strong> Nazwa placówki :</strong>
                            <p> Centermed Tarnów</p>
                          </div>
                          <div class="padding-left-25"><strong> Adres:</strong>
                            <p> Ulica Szujskiego 33</p>
                          </div>
                          <div class="padding-left-25"><strong> Poradnia:</strong>
                            <p> Ogólna</p>
                          </div>
                        </div>
                        <div class="col-sm-6 col-md-6">
                          <div class="padding-bottom-20">
                            <select class="chosen-select-no-single">
                              <option selected="selected">Konsultacja - 100pln</option>
                              <option>Badanie szczegółowe - 200pln</option>
                              <option>Zabieg - 200 pln</option>
                            </select>
                          </div>
                          <div><strong>Wybierz termin wizyty:</strong></div>
                          <div style="font-size:14px;"> 11 marca 2017<a class="doctor-more2" href="http://gmp.pl/monika-szmit#przychodnia-ogolna-tarnow">Pozostałe terminy >></a></div>
                          <div class="margin-top-30 margin-bottom-30"><a class="fc-event-simple" href="#">11:00</a><a class="fc-event-simple" href="#">13:00</a><a class="fc-event-simple" href="#">14:00</a></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="hidden" style="display:none;">
                    <div class="param_specs_gastrologia">gastrologia</div>
                    <div class="param_specs_ortopedia">ortopedia</div>
                    <div class="param_lang_pl">pl</div>
                    <div class="param_lang_de">de</div>
                  </div>
                </li>
                <li class="col-lg-12 col-md-12 doctor-single margin-bottom-50" id="doctor-2">
                  <div class="row background-doctor-title">
                    <div class="col-md-2 mobile-hidden"><img src="https://dummyimage.com/125x100/000/fff"></div>
                    <div class="col-md-10 col-sm-12">
                      <h3 class="doctor-title"><strong>
                          <u><a href="#">Lek med. Monika Szmit</a></u></strong></h3><span>Lekarz Ogólny / Medycyna Pracy</span><a class="button border doctor-more mobile-hidden" href="#"><i class="im im-icon-Link-2"></i>  Więcej >></a>
                    </div>
                  </div>
                  <div class="row searchlist-divider">
                    <div class="col-md-12">
                      <div class="row padding-bottom-30">
                        <div class="col-sm-6 col-md-6">
                          <div class="padding-left-25"><strong> Nazwa placówki :</strong>
                            <p> Centermed Tarnów</p>
                          </div>
                          <div class="padding-left-25"><strong> Adres:</strong>
                            <p> Ulica Szujskiego 33</p>
                          </div>
                          <div class="padding-left-25"><strong> Poradnia:</strong>
                            <p> Ogólna</p>
                          </div>
                        </div>
                        <div class="col-sm-6 col-md-6">
                          <div class="padding-bottom-20">
                            <select class="chosen-select-no-single">
                              <option selected="selected">Konsultacja - 100pln</option>
                              <option>Badanie szczegółowe - 200pln</option>
                              <option>Zabieg - 200 pln</option>
                            </select>
                          </div>
                          <div><strong>Wybierz termin wizyty:</strong></div>
                          <div style="font-size:14px;"> 11 marca 2017<a class="doctor-more2" href="http://gmp.pl/monika-szmit#przychodnia-ogolna-tarnow">Pozostałe terminy >></a></div>
                          <div class="margin-top-30 margin-bottom-30"><a class="fc-event-simple" href="#">11:00</a><a class="fc-event-simple" href="#">13:00</a><a class="fc-event-simple" href="#">14:00</a></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="hidden" style="display:none;">
                    <div class="param_specs_gastrologia">gastrologia</div>
                    <div class="param_lang_pl">pl</div>
                  </div>
                </li>
                <li class="col-lg-12 col-md-12 doctor-single margin-bottom-50" id="doctor-3">
                  <div class="row background-doctor-title">
                    <div class="col-md-2 mobile-hidden"><img src="https://dummyimage.com/125x100/000/fff"></div>
                    <div class="col-md-10 col-sm-12">
                      <h3 class="doctor-title"><strong>
                          <u><a href="#">Lek med. Monika Szmit</a></u></strong></h3><span>Lekarz Ogólny / Medycyna Pracy</span><a class="button border doctor-more mobile-hidden" href="#"><i class="im im-icon-Link-2"></i>  Więcej >></a>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12 searchlist-divider">
                      <div class="row padding-bottom-30">
                        <div class="col-sm-6 col-md-6">
                          <div class="padding-left-25"><strong> Nazwa placówki :</strong>
                            <p> Centermed Tarnów</p>
                          </div>
                          <div class="padding-left-25"><strong> Adres:</strong>
                            <p> Ulica Szujskiego 33</p>
                          </div>
                          <div class="padding-left-25"><strong> Poradnia:</strong>
                            <p> Ogólna</p>
                          </div>
                        </div>
                        <div class="col-sm-6 col-md-6">
                          <div class="padding-bottom-20">
                            <select class="chosen-select-no-single">
                              <option selected="selected">Konsultacja - 100pln</option>
                              <option>Badanie szczegółowe - 200pln</option>
                              <option>Zabieg - 200 pln</option>
                            </select>
                          </div>
                          <div><strong>Wybierz termin wizyty:</strong></div>
                          <div style="font-size:14px;"> 11 marca 2017<a class="doctor-more2" href="http://gmp.pl/monika-szmit#przychodnia-ogolna-tarnow">Pozostałe terminy >></a></div>
                          <div class="margin-top-30 margin-bottom-30"><a class="fc-event-simple" href="#">11:00</a><a class="fc-event-simple" href="#">13:00</a><a class="fc-event-simple" href="#">14:00</a></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12 searchlist-divider">
                      <div class="row padding-bottom-30">
                        <div class="col-sm-6 col-md-6">
                          <div class="padding-left-25"><strong> Nazwa placówki :</strong>
                            <p> Centermed Kraków</p>
                          </div>
                          <div class="padding-left-25"><strong> Adres:</strong>
                            <p> Ulica Szujskiego 33</p>
                          </div>
                          <div class="padding-left-25"><strong> Poradnia:</strong>
                            <p> Ogólna</p>
                          </div>
                        </div>
                        <div class="col-sm-6 col-md-6">
                          <div class="padding-bottom-20">
                            <select class="chosen-select-no-single">
                              <option selected="selected">Konsultacja - 100pln</option>
                              <option>Badanie szczegółowe - 200pln</option>
                              <option>Zabieg - 200 pln</option>
                            </select>
                          </div>
                          <div><strong>Wybierz termin wizyty:</strong></div>
                          <div style="font-size:14px;"> 11 marca 2017<a class="doctor-more2" href="http://gmp.pl/monika-szmit#przychodnia-specjalistyczna-krakow">Pozostałe terminy >></a></div>
                          <div class="margin-top-30 margin-bottom-30"><a class="fc-event-simple" href="#">11:00</a><a class="fc-event-simple" href="#">13:00</a><a class="fc-event-simple" href="#">14:00</a></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="hidden" style="display:none;">
                    <div class="param_specs_gastrologia">gastrologia</div>
                    <div class="param_lang_pl">pl</div>
                    <div class="param_lang_de">de</div>
                  </div>
                </li>
              </ul>
              <ul class="pagination"></ul>
            </div>
          </div>
        </div>
        <!--
        Sidebar
        ==================================================
        -->
        <div class="col-lg-3 col-md-4 background-grey">
          <div class="sidebar">
            <!-- Widget-->
            <div class="widget margin-bottom-20">
              <form class="form with-forms">
                <!--
                div
                    strong Województwo :
                    select.chosen-select-no-single#location
                        option(selected="selected") Wszystkie
                        option Małopolskie
                        option Wielkopolskie
                div.padding-top-30.padding-bottom-30
                    strong Miasto :
                    select.chosen-select-no-single#city
                        option(selected="selected") Wszystkie
                        option Tarnów
                        option Kraków
                -->
                <div>
                  <!-- More Search Options--><strong href="#">Specjalizacje :</strong>
                  <div class="checkboxes-form margin-top-20 margin-bottom-20" id="specs">
                    <input type="checkbox" id="gastrologia">
                    <label for="gastrologia">Gastrologia</label>
                    <input type="checkbox" id="ortopedia">
                    <label for="ortopedia">Ortopedia</label>
                    <input type="checkbox" id="kardiologia">
                    <label for="kardiologia">Kardiologia</label>
                    <input type="checkbox" id="psychologia">
                    <label for="psychologia">Psychologia</label>
                  </div>
                </div>
                <div>
                  <!-- More Search Options--><strong>Jezyki:</strong>
                  <div class="checkboxes-form margin-top-20 margin-bottom-20" id="langs">
                    <input type="checkbox" id="pl">
                    <label for="pl">Polski</label>
                    <input type="checkbox" id="de">
                    <label for="de">Niemiecki</label>
                    <input type="checkbox" id="uk">
                    <label for="uk">Ukrainski</label>
                  </div>
                  <!--
                  p
                      label(for='amount') Wiek przyjmowania dzieci:
                      input#amount(type='text', readonly='', style='border:0; color:#f6931f; font-weight:bold;')
                  #slider-range.margin-top-70
                  p.padding-top-30
                      label(for='amount2') Wiek przyjmowania dorosłych:
                      input#amount2(type='text', readonly='', style='border:0; color:#f6931f; font-weight:bold;')
                  #slider-range2.margin-top-70
                  -->
                </div>
                <!-- More Search Options / End-->
                <button class="button fullwidth margin-top-25" type="submit">Wyszukaj</button>
              </form>
              <!-- Widget / End-->
            </div>
            <!-- Sidebar / End-->
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Wrapper / End-->
  <Footer>
    <div class="sticky-footer margin-top-60" id="footer"></div>
    <!-- Main-->
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6 margin-top-20">
          <h4>Dla Pacjentów</h4>
          <ul>
            <li><a href="#">Zaloguj się</a></li>
            <li><a href="#">Korzyści</a></li>
            <li><a href="#">Instrukcje, porady</a></li>
            <li><a href="#">Widget na moją stronę</a></li>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Kontakt</a></li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-6 margin-top-20">
          <h4>Dla Partnerów</h4>
          <ul>
            <li><a href="#">Apliakcja Mobilna</a></li>
            <li><a href="#">Indywidualne Konto Zdrowotne</a></li>
            <li><a href="#">Konto Progamu Zdrowja</a></li>
            <li><a href="#">Przystąp do Programu Zdrowja</a></li>
            <li><a href="#">Instrukcje</a></li>
            <li><a href="#">Informator Medyczny</a></li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-6 margin-top-20">
          <h4>Serwis</h4>
          <ul>
            <li><a href="#">O nas</a></li>
            <li><a href="#">Prywatność</a></li>
            <li><a href="#">Regulamin serwisu</a></li>
            <li><a href="#">Partnerzy technologiczni</a></li>
            <li><a href="#">Ogłoszenia</a></li>
            <li><a href="#">Dla Prasy</a></li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-12 margin-top-20">
          <h4>Kontakt</h4>
          <div class="text-widget"><span>Grupa Medycyna Polska S.A.</span><br>Biuro:<span>ul. Żytomierska 5</span><br>03-360 Warszawa, Polska<br><a href="#">biuro@medycynapolska.pl</a><br></div>
          <ul class="social-list margin-top-20">
            <li><a href="#"><i class="im im-icon-Facebook"></i></a></li>
            <li><a href="#"><i class="im im-icon-Twitter"></i></a></li>
            <li><a href="#"><i class="im im-icon-Linkedin"></i></a></li>
          </ul>
        </div>
      </div>
      <!-- Copyright-->
      <div class="row">
        <div class="col-md-12">
          <div class="copyrights">© 2017 Grupa Medycyna Polska</div>
        </div>
      </div>
    </div>
  </Footer>
  <!-- Footer / End-->
  <!-- Back To Top Button-->
  <div id="backtotop"><a href="#"></a></div>
  <!--
  Scripts
  ==================================================
  -->
  <script type="text/javascript" src="scripts/jquery-2.2.0.min.js"></script>
  <script type="text/javascript" src="scripts/jpanelmenu.min.js"></script>
  <script type="text/javascript" src="scripts/chosen.min.js"></script>
  <script type="text/javascript" src="scripts/slick.min.js"></script>
  <script type="text/javascript" src="scripts/rangeslider.min.js"></script>
  <script type="text/javascript" src="scripts/magnific-popup.min.js"></script>
  <script type="text/javascript" src="scripts/waypoints.min.js"></script>
  <script type="text/javascript" src="scripts/counterup.min.js"></script>
  <script type="text/javascript" src="scripts/jquery-ui.min.js"></script>
  <script type="text/javascript" src="scripts/custom.js"></script>
  <script>
    $("#show-more").click(function () {
        $("#specs-list").fadeToggle();
    });
    
    $("#slider-range").slider({
        range: true,
        min: 0,
        max: 17,
        values: [0, 17],
        slide: function (event, ui) {
            $("#amount").val(ui.values[0] + " - " + ui.values[1]);
        }
    });
    
    $("#amount").val($("#slider-range").slider("values", 0) +
        " - " + $("#slider-range").slider("values", 1)
    );
    
    $("#slider-range2").slider({
        range: true,
        min: 18,
        max: 110,
        values: [18, 75],
        slide: function (event, ui) {
            $("#amount2").val(ui.values[0] + " - " + ui.values[1]);
        }
    
    });
    
    $("#amount2").val($("#slider-range2").slider("values", 0) +
        " - " + $("#slider-range2").slider("values", 1)
    );
    
  </script>
  <script type="text/javascript" src="scripts/list.min.js"></script>
  <!-- filtrowanie i parametryzacja-->
  <script>
    var options = {
        // tutaj trzeba wygenerowac filtry jakie ma obsluzyc skrypt
        valueNames: [
            'param_lang_pl',
            'param_lang_de',
            'param_specs_gastrologia',
            'param_specs_ortopedia'],
        page: 5,
        pagination: true
    };
    
    var Doctor = new List('doctor-list', options);
    
    var param_specs = [];
    var param_lang = [];
    
    //keyup change
    $('form').on('keyup change', 'input, select, textarea', function() {
    
        var filter_array = []
    
        Doctor.filter(function (item) {
    
            function filter_builder() {
    
                //param_specs
                param_specs = [];
                $('#specs input:checked').each(function () {
                    param_specs.push($(this).attr('id'));
                });
    
                if (param_specs.length >= 1) {
                    filter_array[0] = [];
                    for (i = 0; i < param_specs.length; i++) {
                        filter_array[0] = filter_array[0] + 'item.values().param_specs_' + param_specs[i] + ' == "' + param_specs[i] + '"' + ";";
                    }
    
                    var y = filter_array[0].toString().slice(0, -1);
                    y = y.replace(/;/g, " && ");
                    filter_array[0] = y;
    
                } else {
    
                }
    
                //param_lang
                param_lang = [];
                $('#langs input:checked').each(function () {
                    param_lang.push($(this).attr('id'));
    
                });
    
                if(param_lang.length >= 1 ){
                    filter_array[1] = [];
                    for (i = 0; i < param_lang.length; i++) {
                        filter_array[1] = filter_array[1] +  'item.values().param_lang_'+param_lang[i]+' == "' + param_lang[i] + '"' + ";" ;
                    }
    
                    var y = filter_array[1].toString().slice(0,-1);
                    y = y.replace(/;/g, " && ");
                    filter_array[1] = y;
    
                }else{
    
                }
    
                /*
                    // filtrowanie lokacji
                    param_location = $('#location').val();
                    //param_location
                    if (param_location.length > 1) {
                        if (param_location == 'Wszystkie') {
    
                        } else {
                            filter_array[2] = 'item.values().param_location == "' + param_location + '"';
                        }
                    }
    
                    param_city = $('#city').val();
                    //param_city
                    if (param_city.length > 1) {
                        if (param_city == 'Wszystkie') {
    
                        } else {
                            filter_array[3] = 'item.values().param_city == "' + param_city + '"';
                        }
                    }
                */
    
                /*
                // pobieranie danych z slidera
                filter_array[4] = 'item.values().param_child_start <= ' + $("#slider-range").slider("values", 0);
                filter_array[5] = 'item.values().param_child_end >= ' + $("#slider-range").slider("values", 1);
                */
                /*
                filter_array[6] = 'item.values().adult_start == "' +$("#slider-range2").slider("values", 0);
                filter_array[7] = 'item.values().adult_end == "' +$("#slider-range2").slider("values", 1);*/
    
    
                return filter_array;
            };
    
            var x = filter_builder();
    
            x = x.filter(function (n) {
                return n != undefined
            }).join(' && ');
    
            console.log(x);
            if (eval(x)) {
                return true;
            } else {
                return false;
            }
    
        });
    
    });
  </script>
</body>

listings-list-with-sidebar.pug
include header.pug
body
        // Wrapper
        #wrapper
            include menu.pug
            //
              Titlebar
              ==================================================
            #titlebar.gradient
                .container
                    .row
                        .col-md-12
                            h2 Wyniki wyszukiwania:
                            span  Kardiolog Tarnów
                            // Breadcrumbs
                            nav#breadcrumbs
                                ul
                                    li
                                        a(href='#') Strona Główna
                                    li Wyszukiwanie
            //
              Content
              ==================================================

            //
                Tj rozmawialismy skrypt zeby dzialalo filtrowanie nalezy wygenerowac 3 blocki:
                1. poniżej param_foo
                2. w wyszukiwarce id="foo"
                3. w filtrze linia 346
            .container
                .row
                    .col-lg-9.col-md-8.padding-right-30
                        .row
                            #doctor-list
                                ul.list
                                    li#doctor-1.col-lg-12.col-md-12.doctor-single.margin-bottom-50
                                        .row.background-doctor-title
                                            .col-md-2.mobile-hidden
                                                img(src='https://dummyimage.com/125x100/000/fff')
                                            .col-md-10.col-sm-12
                                                h3.doctor-title
                                                    strong
                                                        u
                                                            a(href="#") Lek med. Monika Szmit
                                                span Lekarz Ogólny / Medycyna Pracy
                                                a(href='#').button.border.doctor-more.mobile-hidden
                                                    i.im.im-icon-Link-2
                                                    |   Więcej >>
                                        .row.searchlist-divider
                                            .col-md-12
                                                .row.padding-bottom-30
                                                    .col-sm-6.col-md-6
                                                        div.padding-left-25
                                                            strong
                                                                |  Nazwa placówki :
                                                            p
                                                                |  Centermed Tarnów
                                                        div.padding-left-25
                                                            strong
                                                                |  Adres:
                                                            p
                                                                |  Ulica Szujskiego 33
                                                        div.padding-left-25
                                                            strong
                                                                |  Poradnia:
                                                            p
                                                                |  Ogólna
                                                    .col-sm-6.col-md-6
                                                        div.padding-bottom-20
                                                            select.chosen-select-no-single
                                                                option(selected="selected") Konsultacja - 100pln
                                                                option Badanie szczegółowe - 200pln
                                                                option Zabieg - 200 pln
                                                        div
                                                            strong Wybierz termin wizyty:
                                                        div(style="font-size:14px;")
                                                            |  11 marca 2017
                                                            a.doctor-more2(href="http://gmp.pl/monika-szmit#przychodnia-ogolna-tarnow") Pozostałe terminy >>
                                                        div.margin-top-30.margin-bottom-30
                                                            a.fc-event-simple(href='#') 11:00
                                                            a.fc-event-simple(href='#') 13:00
                                                            a.fc-event-simple(href='#') 14:00
                                        .hidden(style="display:none")
                                            .param_specs_gastrologia gastrologia
                                            .param_specs_ortopedia ortopedia
                                            .param_lang_pl pl
                                            .param_lang_de de


                                    li#doctor-2.col-lg-12.col-md-12.doctor-single.margin-bottom-50
                                        .row.background-doctor-title
                                            .col-md-2.mobile-hidden
                                                img(src='https://dummyimage.com/125x100/000/fff')
                                            .col-md-10.col-sm-12
                                                h3.doctor-title
                                                    strong
                                                        u
                                                            a(href="#") Lek med. Monika Szmit
                                                span Lekarz Ogólny / Medycyna Pracy
                                                a(href='#').button.border.doctor-more.mobile-hidden
                                                    i.im.im-icon-Link-2
                                                    |   Więcej >>
                                        .row.searchlist-divider
                                            .col-md-12
                                                .row.padding-bottom-30
                                                    .col-sm-6.col-md-6
                                                        div.padding-left-25
                                                            strong
                                                                |  Nazwa placówki :
                                                            p
                                                                |  Centermed Tarnów
                                                        div.padding-left-25
                                                            strong
                                                                |  Adres:
                                                            p
                                                                |  Ulica Szujskiego 33
                                                        div.padding-left-25
                                                            strong
                                                                |  Poradnia:
                                                            p
                                                                |  Ogólna
                                                    .col-sm-6.col-md-6
                                                        div.padding-bottom-20
                                                            select.chosen-select-no-single
                                                                option(selected="selected") Konsultacja - 100pln
                                                                option Badanie szczegółowe - 200pln
                                                                option Zabieg - 200 pln
                                                        div
                                                            strong Wybierz termin wizyty:
                                                        div(style="font-size:14px;")
                                                            |  11 marca 2017
                                                            a.doctor-more2(href="http://gmp.pl/monika-szmit#przychodnia-ogolna-tarnow") Pozostałe terminy >>
                                                        div.margin-top-30.margin-bottom-30
                                                            a.fc-event-simple(href='#') 11:00
                                                            a.fc-event-simple(href='#') 13:00
                                                            a.fc-event-simple(href='#') 14:00
                                        .hidden(style="display:none")
                                            .param_specs_gastrologia gastrologia
                                            .param_lang_pl pl

                                    li#doctor-3.col-lg-12.col-md-12.doctor-single.margin-bottom-50
                                        .row.background-doctor-title
                                            .col-md-2.mobile-hidden
                                                img(src='https://dummyimage.com/125x100/000/fff')
                                            .col-md-10.col-sm-12
                                                h3.doctor-title
                                                    strong
                                                        u
                                                            a(href="#") Lek med. Monika Szmit
                                                span Lekarz Ogólny / Medycyna Pracy
                                                a(href='#').button.border.doctor-more.mobile-hidden
                                                    i.im.im-icon-Link-2
                                                    |   Więcej >>
                                        .row
                                            .col-md-12.searchlist-divider
                                                .row.padding-bottom-30
                                                    .col-sm-6.col-md-6
                                                        div.padding-left-25
                                                            strong
                                                                |  Nazwa placówki :
                                                            p
                                                                |  Centermed Tarnów
                                                        div.padding-left-25
                                                            strong
                                                                |  Adres:
                                                            p
                                                                |  Ulica Szujskiego 33
                                                        div.padding-left-25
                                                            strong
                                                                |  Poradnia:
                                                            p
                                                                |  Ogólna
                                                    .col-sm-6.col-md-6
                                                        div.padding-bottom-20
                                                            select.chosen-select-no-single
                                                                option(selected="selected") Konsultacja - 100pln
                                                                option Badanie szczegółowe - 200pln
                                                                option Zabieg - 200 pln
                                                        div
                                                            strong Wybierz termin wizyty:
                                                        div(style="font-size:14px;")
                                                            |  11 marca 2017
                                                            a.doctor-more2(href="http://gmp.pl/monika-szmit#przychodnia-ogolna-tarnow") Pozostałe terminy >>
                                                        div.margin-top-30.margin-bottom-30
                                                            a.fc-event-simple(href='#') 11:00
                                                            a.fc-event-simple(href='#') 13:00
                                                            a.fc-event-simple(href='#') 14:00
                                        .row
                                            .col-md-12.searchlist-divider
                                                .row.padding-bottom-30
                                                    .col-sm-6.col-md-6
                                                        div.padding-left-25
                                                            strong
                                                                |  Nazwa placówki :
                                                            p
                                                                |  Centermed Kraków
                                                        div.padding-left-25
                                                            strong
                                                                |  Adres:
                                                            p
                                                                |  Ulica Szujskiego 33
                                                        div.padding-left-25
                                                            strong
                                                                |  Poradnia:
                                                            p
                                                                |  Ogólna
                                                    .col-sm-6.col-md-6
                                                        div.padding-bottom-20
                                                            select.chosen-select-no-single
                                                                option(selected="selected") Konsultacja - 100pln
                                                                option Badanie szczegółowe - 200pln
                                                                option Zabieg - 200 pln
                                                        div
                                                            strong Wybierz termin wizyty:
                                                        div(style="font-size:14px;")
                                                            |  11 marca 2017
                                                            a.doctor-more2(href="http://gmp.pl/monika-szmit#przychodnia-specjalistyczna-krakow") Pozostałe terminy >>
                                                        div.margin-top-30.margin-bottom-30
                                                            a.fc-event-simple(href='#') 11:00
                                                            a.fc-event-simple(href='#') 13:00
                                                            a.fc-event-simple(href='#') 14:00
                                        .hidden(style="display:none")
                                            .param_specs_gastrologia gastrologia
                                            .param_lang_pl pl
                                            .param_lang_de de

                                ul.pagination
                    //
                      Sidebar
                      ==================================================
                    .col-lg-3.col-md-4.background-grey
                        .sidebar
                            // Widget
                            .widget.margin-bottom-20
                                    form.form.with-forms
                                        //
                                            div
                                                strong Województwo :
                                                select.chosen-select-no-single#location
                                                    option(selected="selected") Wszystkie
                                                    option Małopolskie
                                                    option Wielkopolskie
                                            div.padding-top-30.padding-bottom-30
                                                strong Miasto :
                                                select.chosen-select-no-single#city
                                                    option(selected="selected") Wszystkie
                                                    option Tarnów
                                                    option Kraków
                                        div
                                            // More Search Options
                                            strong(href='#') Specjalizacje :
                                            #specs.checkboxes-form.margin-top-20.margin-bottom-20
                                                input(type='checkbox', id="gastrologia" )
                                                label(for='gastrologia') Gastrologia
                                                input(type='checkbox',  id="ortopedia")
                                                label(for='ortopedia') Ortopedia
                                                input(type='checkbox',  id="kardiologia")
                                                label(for='kardiologia') Kardiologia
                                                input(type='checkbox',  id="psychologia")
                                                label(for='psychologia') Psychologia

                                        div
                                            // More Search Options
                                            strong Jezyki:
                                            #langs.checkboxes-form.margin-top-20.margin-bottom-20
                                                input(type='checkbox'  id='pl')
                                                label(for='pl') Polski
                                                input(type='checkbox'  id='de' )
                                                label(for='de') Niemiecki
                                                input(type='checkbox'  id='uk')
                                                label(for='uk') Ukrainski
                                            //
                                                p
                                                    label(for='amount') Wiek przyjmowania dzieci:
                                                    input#amount(type='text', readonly='', style='border:0; color:#f6931f; font-weight:bold;')
                                                #slider-range.margin-top-70
                                                p.padding-top-30
                                                    label(for='amount2') Wiek przyjmowania dorosłych:
                                                    input#amount2(type='text', readonly='', style='border:0; color:#f6931f; font-weight:bold;')
                                                #slider-range2.margin-top-70
                                        // More Search Options / End
                                        button(type="submit").button.fullwidth.margin-top-25 Wyszukaj
                                    // Widget / End
                            // Sidebar / End
        // Wrapper / End
        include footer
        //
          Scripts
          ==================================================
        script(type='text/javascript', src='scripts/jquery-2.2.0.min.js')
        script(type='text/javascript', src='scripts/jpanelmenu.min.js')
        script(type='text/javascript', src='scripts/chosen.min.js')
        script(type='text/javascript', src='scripts/slick.min.js')
        script(type='text/javascript', src='scripts/rangeslider.min.js')
        script(type='text/javascript', src='scripts/magnific-popup.min.js')
        script(type='text/javascript', src='scripts/waypoints.min.js')
        script(type='text/javascript', src='scripts/counterup.min.js')
        script(type='text/javascript', src='scripts/jquery-ui.min.js')
        script(type='text/javascript', src='scripts/custom.js')
        script.

            $("#show-more").click(function () {
                $("#specs-list").fadeToggle();
            });

            $("#slider-range").slider({
                range: true,
                min: 0,
                max: 17,
                values: [0, 17],
                slide: function (event, ui) {
                    $("#amount").val(ui.values[0] + " - " + ui.values[1]);
                }
            });

            $("#amount").val($("#slider-range").slider("values", 0) +
                " - " + $("#slider-range").slider("values", 1)
            );

            $("#slider-range2").slider({
                range: true,
                min: 18,
                max: 110,
                values: [18, 75],
                slide: function (event, ui) {
                    $("#amount2").val(ui.values[0] + " - " + ui.values[1]);
                }

            });

            $("#amount2").val($("#slider-range2").slider("values", 0) +
                " - " + $("#slider-range2").slider("values", 1)
            );

        script(type='text/javascript', src='scripts/list.min.js')
        // filtrowanie i parametryzacja
        script.
            var options = {
                // tutaj trzeba wygenerowac filtry jakie ma obsluzyc skrypt
                valueNames: [
                    'param_lang_pl',
                    'param_lang_de',
                    'param_specs_gastrologia',
                    'param_specs_ortopedia'],
                page: 5,
                pagination: true
            };

            var Doctor = new List('doctor-list', options);

            var param_specs = [];
            var param_lang = [];

            //keyup change
            $('form').on('keyup change', 'input, select, textarea', function() {

                var filter_array = []

                Doctor.filter(function (item) {

                    function filter_builder() {

                        //param_specs
                        param_specs = [];
                        $('#specs input:checked').each(function () {
                            param_specs.push($(this).attr('id'));
                        });

                        if (param_specs.length >= 1) {
                            filter_array[0] = [];
                            for (i = 0; i < param_specs.length; i++) {
                                filter_array[0] = filter_array[0] + 'item.values().param_specs_' + param_specs[i] + ' == "' + param_specs[i] + '"' + ";";
                            }

                            var y = filter_array[0].toString().slice(0, -1);
                            y = y.replace(/;/g, " && ");
                            filter_array[0] = y;

                        } else {

                        }

                        //param_lang
                        param_lang = [];
                        $('#langs input:checked').each(function () {
                            param_lang.push($(this).attr('id'));

                        });

                        if(param_lang.length >= 1 ){
                            filter_array[1] = [];
                            for (i = 0; i < param_lang.length; i++) {
                                filter_array[1] = filter_array[1] +  'item.values().param_lang_'+param_lang[i]+' == "' + param_lang[i] + '"' + ";" ;
                            }

                            var y = filter_array[1].toString().slice(0,-1);
                            y = y.replace(/;/g, " && ");
                            filter_array[1] = y;

                        }else{

                        }

                        /*
                            // filtrowanie lokacji
                            param_location = $('#location').val();
                            //param_location
                            if (param_location.length > 1) {
                                if (param_location == 'Wszystkie') {

                                } else {
                                    filter_array[2] = 'item.values().param_location == "' + param_location + '"';
                                }
                            }

                            param_city = $('#city').val();
                            //param_city
                            if (param_city.length > 1) {
                                if (param_city == 'Wszystkie') {

                                } else {
                                    filter_array[3] = 'item.values().param_city == "' + param_city + '"';
                                }
                            }
                        */

                        /*
                        // pobieranie danych z slidera
                        filter_array[4] = 'item.values().param_child_start <= ' + $("#slider-range").slider("values", 0);
                        filter_array[5] = 'item.values().param_child_end >= ' + $("#slider-range").slider("values", 1);
                        */
                        /*
                        filter_array[6] = 'item.values().adult_start == "' +$("#slider-range2").slider("values", 0);
                        filter_array[7] = 'item.values().adult_end == "' +$("#slider-range2").slider("values", 1);*/


                        return filter_array;
                    };

                    var x = filter_builder();

                    x = x.filter(function (n) {
                        return n != undefined
                    }).join(' && ');

                    console.log(x);
                    if (eval(x)) {
                        return true;
                    } else {
                        return false;
                    }

                });

            });
