listings-places.html
<!DOCTYPE html>
<head>
  <!--
  Basic Page Needs
  ==================================================
  -->
  <title>Listeo</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <!--
  CSS
  ==================================================
  -->
  <link rel="stylesheet" href="css/style.min.css">
  <link id="custom" rel="stylesheet" href="css/custom.min.css">
  <link rel="stylesheet" href="css/jquery-ui.min.css">
</head>
<body>
  <!-- Wrapper-->
  <div id="wrapper">
    <header id="header-container">
      <div class="not-sticky" id="header">
        <div class="container">
          <div class="left-side">
            <div id="logo"><a href="index.html"><img src="images/logo.png" alt=""></a></div>
            <nav class="style-1" id="navigation">
              <ul class="responsive">
                <li><a class="current" href="#">GMP S.A.</a></li>
                <li><a href="pages-full-width.html">Współpraca</a></li>
                <li><a href="blog.html">Aktualności</a></li>
                <li><a href="pages-contact.html">Kontakt</a></li>
              </ul>
            </nav>
            <div class="clearfix"></div>
          </div>
          <div class="right-side">
            <div class="header-widget"><a class="sign-in"><i class="sl sl-icon-login"></i> Zaloguj</a><a class="button border with-icon infolinia" href="tel:622-14-14"><i class="sl sl-icon-phone"></i><span class="infolinia-hidden"> Infolinia</span> 622-14-14</a></div>
          </div>
        </div>
      </div>
    </header>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a class="navbar-brand" href="#">Menu</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">GMP S.A.<span class="sr-only">(current)</span></a></li>
            <li><a href="#">Współpraca</a></li>
            <li><a href="#">Aktualności</a></li>
            <li><a href="#">Kontakt</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <!--
  Content
  ==================================================
  -->
  <div class="container">
    <div class="row sticky-wrapper">
      <div class="col-lg-12 col-md-12">
        <!-- Titlebar-->
        <div class="listing-titlebar margin-top-70">
          <div class="row">
            <div class="col-md-12">
              <h2>Centermed Słowackiego</h2>
              <nav id="breadcrumbs">
                <ul>
                  <li><a href="#">Strona Główna</a></li>
                  <li>Jednostka</li>
                  <li>Centermed Słowackiego</li>
                </ul>
              </nav>
            </div>
          </div>
          <div class="row"></div>
          <!-- Img-->
          <div class="col-md-12 margin-top-40 margin-bottom-30"><img class="post-img" src="images/blog-post-02.jpg" alt=""></div>
        </div>
        <!-- Overview-->
        <h2 class="margin-bottom-30">Informacje</h2>
        <div class="divider"></div>
        <div class="row">
          <div class="col-md-4">
            <!-- Contact-->
            <h4 class="margin-top-20"><i class="im im-icon-Hospital"></i> Godziny pracy</h4>
            <div class="margin-top-20 margin-bottom-40">
              <ul class="list-unstyled hours">
                <li><span class="bold">Poniedziałek</span><span>8:30 - 16:00</span></li>
                <li><span class="bold">Wtorek</span><span>8:30 - 16:00</span></li>
                <li><span class="bold">Środa</span><span>8:00 - 14:00</span></li>
                <li><span class="bold">Czwartek</span><span>8:30 - 16:00</span></li>
                <li><span class="bold">Piątek</span><span>10:30 - 16:00</span></li>
              </ul>
              <!-- Contact / End-->
            </div>
            <h4>Dane kontaktowe</h4>
            <p> Centralna 443<br> 33-100 Warszawa<br> Tel. 889-397-069<br> kontakt@newmed.pl</p>
          </div>
          <div class="col-md-8">
            <!-- Opening Hours-->
            <div id="singleListingMap-container">
              <div id="singleListingMap2" data-latitude="40.70437865245596" data-longitude="-73.98674011230469" data-map-icon="im im-icon-Hamburger"></div><a id="streetView" href="#">Street View</a>
            </div>
            <!-- Opening Hours / End-->
          </div>
        </div>
        <!-- doctor place end-->
        <div class="row margin-bottom-10">
          <div class="col-md-12">
            <h3>Opis placówki</h3>
            <!-- Description-->
            <p style="text-align: justify;">Lorem Ipsum jest tekstem stosowanym jako przykładowy wypełniacz w przemyśle poligraficznym. Został po raz pierwszy użyty w XV w. przez nieznanego drukarza do wypełnienia tekstem próbnej książki. Pięć wieków później zaczął być używany przemyśle elektronicznym, pozostając praktycznie niezmienionym. Spopularyzował się w latach 60. XX w. wraz z publikacją arkuszy Letrasetu, zawierających fragmenty Lorem Ipsum.</p>
            <!-- Amenities-->
          </div>
        </div>
        <div class="divider"></div>
        <div class="row margin-bottom-10">
          <div class="col-md-12">
            <h5 class="listing-desc-headline">Świadczone usługi</h5>
          </div>
          <div class="col-md-12 margin-bottom-40">
            <ul class="list-inline3">
              <li>Badania ogólne</li>
              <li>Badania szczegółowe</li>
              <li>Analiza medyczna</li>
              <li>Badania szczegółowe</li>
              <li>Analiza medyczna</li>
              <li>Badania szczegółowe</li>
            </ul>
          </div>
        </div>
        <div class="divider"></div>
        <div class="row margin-bottom-10">
          <div class="col-md-12">
            <h5 class="listing-desc-headline">Poradnie w placówce</h5>
          </div>
          <div class="col-md-12 margin-bottom-40">
            <ul class="list-inline3">
              <li>- Badania ogólne</li>
              <li>- Badania szczegółowe</li>
              <li>- Analiza medyczna</li>
              <li>- Badania szczegółowe</li>
            </ul>
          </div>
        </div>
        <div class="divider"></div>
        <div class="row margin-bottom-30">
          <div class="col-md-12">
            <h5 class="listing-desc-headline">Lekarze w placówce</h5>
          </div>
        </div>
        <div class="row">
          <!-- Listing Item-->
          <div class="col-md-6">
            <div class="row padding-top-30">
              <div class="col-md-4"><img src="https://dummyimage.com/200x200/000/fff"></div>
              <div class="col-md-8">
                <h4>Monika Szmit</h4>
                <p>Lekarz Ogólny / Medycyna Pracy</p>
                <div><a class="button doctor-padding-button" href="#"><i class="im im-icon-Link-2"></i> Więcej</a></div>
              </div>
            </div>
          </div>
          <!-- Listing Item / End-->
          <!-- Listing Item-->
          <div class="col-md-6">
            <div class="row padding-top-30">
              <div class="col-md-4"><img src="https://dummyimage.com/200x200/000/fff"></div>
              <div class="col-md-8">
                <h4>Monika Szmit</h4>
                <p>Lekarz Ogólny / Medycyna Pracy</p>
                <div><a class="button doctor-padding-button" href="#"><i class="im im-icon-Link-2"></i> Więcej</a></div>
              </div>
            </div>
          </div>
          <!-- Listing Item / End-->
          <!-- Listing Item-->
          <div class="col-md-6">
            <div class="row padding-top-30">
              <div class="col-md-4"><img src="https://dummyimage.com/200x200/000/fff"></div>
              <div class="col-md-8">
                <h4>Monika Szmit</h4>
                <p>Lekarz Ogólny / Medycyna Pracy</p>
                <div><a class="button doctor-padding-button" href="#"><i class="im im-icon-Link-2"></i> Więcej</a></div>
              </div>
            </div>
          </div>
          <!-- Listing Item / End-->
          <!-- Listing Item-->
          <div class="col-md-6">
            <div class="row padding-top-30">
              <div class="col-md-4"><img src="https://dummyimage.com/200x200/000/fff"></div>
              <div class="col-md-8">
                <h4>Monika Szmit</h4>
                <p>Lekarz Ogólny / Medycyna Pracy</p>
                <div><a class="button doctor-padding-button" href="#"><i class="im im-icon-Link-2"></i> Więcej</a></div>
              </div>
            </div>
          </div>
          <!-- Listing Item / End-->
        </div>
      </div>
    </div>
  </div>
  <!--
  Footer
  ==================================================
  -->
  <Footer>
    <div class="sticky-footer margin-top-60" id="footer"></div>
    <!-- Main-->
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6 margin-top-20">
          <h4>Dla Pacjentów</h4>
          <ul>
            <li><a href="#">Zaloguj się</a></li>
            <li><a href="#">Korzyści</a></li>
            <li><a href="#">Instrukcje, porady</a></li>
            <li><a href="#">Widget na moją stronę</a></li>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Kontakt</a></li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-6 margin-top-20">
          <h4>Dla Partnerów</h4>
          <ul>
            <li><a href="#">Apliakcja Mobilna</a></li>
            <li><a href="#">Indywidualne Konto Zdrowotne</a></li>
            <li><a href="#">Konto Progamu Zdrowja</a></li>
            <li><a href="#">Przystąp do Programu Zdrowja</a></li>
            <li><a href="#">Instrukcje</a></li>
            <li><a href="#">Informator Medyczny</a></li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-6 margin-top-20">
          <h4>Serwis</h4>
          <ul>
            <li><a href="#">O nas</a></li>
            <li><a href="#">Prywatność</a></li>
            <li><a href="#">Regulamin serwisu</a></li>
            <li><a href="#">Partnerzy technologiczni</a></li>
            <li><a href="#">Ogłoszenia</a></li>
            <li><a href="#">Dla Prasy</a></li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-12 margin-top-20">
          <h4>Kontakt</h4>
          <div class="text-widget"><span>Grupa Medycyna Polska S.A.</span><br>Biuro:<span>ul. Żytomierska 5</span><br>03-360 Warszawa, Polska<br><a href="#">biuro@medycynapolska.pl</a><br></div>
          <ul class="social-list margin-top-20">
            <li><a href="#"><i class="im im-icon-Facebook"></i></a></li>
            <li><a href="#"><i class="im im-icon-Twitter"></i></a></li>
            <li><a href="#"><i class="im im-icon-Linkedin"></i></a></li>
          </ul>
        </div>
      </div>
      <!-- Copyright-->
      <div class="row">
        <div class="col-md-12">
          <div class="copyrights">© 2017 Grupa Medycyna Polska</div>
        </div>
      </div>
    </div>
  </Footer>
  <!-- Footer / End-->
  <!-- Back To Top Button-->
  <div id="backtotop"><a href="#"></a></div>
  <!--
  Scripts
  ==================================================
  -->
  <!--
  Scripts
  ==================================================
  -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.0.js"></script>
  <script type="text/javascript" src="scripts/jpanelmenu.min.js"></script>
  <script type="text/javascript" src="scripts/chosen.min.js"></script>
  <script type="text/javascript" src="scripts/slick.min.js"></script>
  <script type="text/javascript" src="scripts/rangeslider.min.js"></script>
  <script type="text/javascript" src="scripts/waypoints.min.js"></script>
  <script type="text/javascript" src="scripts/jquery-ui.min.js"></script>
  <script type="text/javascript" src="scripts/placeholders.jquery.js"></script>
  <script type="text/javascript" src="scripts/select2.min.js"></script>
  <script type="text/javascript" src="scripts/custom.js"></script>
  <!-- Maps-->
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&amp;language=pl"></script>
  <script type="text/javascript" src="scripts/markerclusterer.js"></script>
  <script type="text/javascript" src="scripts/maps.js"></script>
</body>

listings-places.pug
include header.pug
body
        // Wrapper
        #wrapper
            include menu.pug
        //
          Content
          ==================================================
        .container
            .row.sticky-wrapper
                .col-lg-12.col-md-12
                    // Titlebar
                    .listing-titlebar.margin-top-70
                        .row
                            .col-md-12
                                h2 Centermed Słowackiego
                                nav#breadcrumbs
                                    ul
                                        li
                                            a(href='#') Strona Główna
                                        li Jednostka
                                        li Centermed Słowackiego
                        .row
                        // Img
                        .col-md-12.margin-top-40.margin-bottom-30
                            img.post-img(src='images/blog-post-02.jpg', alt='')
                    // Overview
                    h2.margin-bottom-30 Informacje
                    .divider
                    .row
                        .col-md-4
                            // Contact
                            h4.margin-top-20
                                i.im.im-icon-Hospital
                                |  Godziny pracy
                            .margin-top-20.margin-bottom-40
                                ul.list-unstyled.hours
                                    li
                                        span.bold Poniedziałek
                                        span 8:30 - 16:00
                                    li
                                        span.bold Wtorek
                                        span 8:30 - 16:00
                                    li
                                        span.bold Środa
                                        span 8:00 - 14:00
                                    li
                                        span.bold Czwartek
                                        span 8:30 - 16:00
                                    li
                                        span.bold Piątek
                                        span 10:30 - 16:00
                                // Contact / End
                            h4 Dane kontaktowe
                            p
                                |  Centralna 443
                                br
                                |  33-100 Warszawa
                                br
                                |  Tel. 889-397-069
                                br
                                |  kontakt@newmed.pl
                        .col-md-8
                            // Opening Hours
                            #singleListingMap-container
                                #singleListingMap2(data-latitude='40.70437865245596', data-longitude='-73.98674011230469', data-map-icon='im im-icon-Hamburger')
                                a#streetView(href='#') Street View
                            // Opening Hours / End
                    // doctor place end
                    .row.margin-bottom-10
                        .col-md-12
                            h3 Opis placówki
                            // Description
                            p(style='text-align: justify;')
                                | Lorem Ipsum jest tekstem stosowanym jako przykładowy wypełniacz w przemyśle poligraficznym. Został po raz pierwszy użyty w XV w. przez nieznanego drukarza do wypełnienia tekstem próbnej książki. Pięć wieków później zaczął być używany przemyśle elektronicznym, pozostając praktycznie niezmienionym. Spopularyzował się w latach 60. XX w. wraz z publikacją arkuszy Letrasetu, zawierających fragmenty Lorem Ipsum.
                            // Amenities
                    .divider
                    .row.margin-bottom-10
                        .col-md-12
                            h5.listing-desc-headline Świadczone usługi
                        .col-md-12.margin-bottom-40
                            ul.list-inline3
                                li Badania ogólne
                                li Badania szczegółowe
                                li Analiza medyczna
                                li Badania szczegółowe
                                li Analiza medyczna
                                li Badania szczegółowe
                    .divider
                    .row.margin-bottom-10
                        .col-md-12
                            h5.listing-desc-headline Poradnie w placówce
                        .col-md-12.margin-bottom-40
                            ul.list-inline3
                                li - Badania ogólne
                                li - Badania szczegółowe
                                li - Analiza medyczna
                                li - Badania szczegółowe
                    .divider
                    .row.margin-bottom-30
                        .col-md-12
                            h5.listing-desc-headline Lekarze w placówce
                    .row
                        // Listing Item
                        .col-md-6
                            .row.padding-top-30
                                .col-md-4
                                    img(src='https://dummyimage.com/200x200/000/fff')
                                .col-md-8
                                    h4 Monika Szmit
                                    p Lekarz Ogólny / Medycyna Pracy
                                    div
                                        a(href='#').button.doctor-padding-button
                                            i.im.im-icon-Link-2
                                            |  Więcej
                        // Listing Item / End
                        // Listing Item
                        .col-md-6
                            .row.padding-top-30
                                .col-md-4
                                    img(src='https://dummyimage.com/200x200/000/fff')
                                .col-md-8
                                    h4 Monika Szmit
                                    p Lekarz Ogólny / Medycyna Pracy
                                    div
                                        a(href='#').button.doctor-padding-button
                                            i.im.im-icon-Link-2
                                            |  Więcej
                        // Listing Item / End
                        // Listing Item
                        .col-md-6
                            .row.padding-top-30
                                .col-md-4
                                    img(src='https://dummyimage.com/200x200/000/fff')
                                .col-md-8
                                    h4 Monika Szmit
                                    p Lekarz Ogólny / Medycyna Pracy
                                    div
                                        a(href='#').button.doctor-padding-button
                                            i.im.im-icon-Link-2
                                            |  Więcej
                        // Listing Item / End
                        // Listing Item
                        .col-md-6
                            .row.padding-top-30
                                .col-md-4
                                    img(src='https://dummyimage.com/200x200/000/fff')
                                .col-md-8
                                    h4 Monika Szmit
                                    p Lekarz Ogólny / Medycyna Pracy
                                    div
                                        a(href='#').button.doctor-padding-button
                                            i.im.im-icon-Link-2
                                            |  Więcej
                        // Listing Item / End

        //
          Footer
          ==================================================
        include footer
        //
          Scripts
          ==================================================
        include scripts
        // Maps
        script(type='text/javascript', src='http://maps.google.com/maps/api/js?sensor=false&language=pl')
        script(type='text/javascript', src='scripts/markerclusterer.js')
        script(type='text/javascript', src='scripts/maps.js')
