listings-vendor.pug
include header.pug
body
        // Wrapper
        #wrapper
            include menu.pug
        //
          Content
          ==================================================
        .fullwidth
            .container
                .row.sticky-wrapper
                    .col-lg-12.col-md-12
                        // Titlebar
                        .row.margin-top-50
                            .col-md-12
                                h1 Grupa NewMed
                                nav#breadcrumbs
                                    ul
                                        li
                                            a(href='#') Strona Główna
                                        li Współpraca
                                        li NewMed
                        .divider.margin-top-30
                        // Overview
                        .row
                                .col-md-4
                                    img(src="https://dummyimage.com/200x100/000/fff").mobile-hidden
                                    h3 Dane kontaktowe
                                    |                         Centralna 443
                                    br
                                    |                         33-100 Warszawa
                                    br
                                    |                         Tel. 889-397-069
                                    br
                                    |                         kontakt@newmed.pl
                                .col-md-8
                                    h3 Informacje dodatkowe
                                    // Description
                                    p(style='text-align: justify;')
                                        | Lorem Ipsum jest tekstem stosowanym jako przykładowy wypełniacz w przemyśle poligraficznym. Został po raz pierwszy użyty w XV w. przez nieznanego drukarza do wypełnienia tekstem próbnej książki. Pięć wieków później zaczął być używany przemyśle elektronicznym, pozostając praktycznie niezmienionym. Spopularyzował się w latach 60. XX w. wraz z publikacją arkuszy Letrasetu, zawierających fragmenty Lorem Ipsum, a ostatnio z zawierającym różne wersje Lorem Ipsum oprogramowaniem przeznaczonym do realizacji druków na komputerach osobistych, jak Aldus PageMaker.
                                    // Amenities
                        h2.margin-bottom-30.margin-top-50 Jednostki w grupie
                        .divider
                        // Listing Item
                        .col-lg-12.col-md-12.padding-bottom-70
                            .row
                                .col-md-3
                                    img.padding-top-20(src='images/blog-post-01.jpg')
                                .col-md-6
                                    h3 Szpital Szkotnika
                                    strong
                                        i.im.im-icon-Map-Marker
                                        |  Adres placówki
                                    br
                                    |                                     Centermed Tarnów
                                    br
                                    |                                     Ulica Szujskiego 33
                                    br
                                .col-md-3
                                    a.more-button(href='#')
                                        i.im.im-icon-Link-2
                                        |  Więcej
                        .col-lg-12.col-md-12.padding-bottom-70
                            .row
                                .col-md-3
                                    img.padding-top-20(src='images/blog-post-01.jpg')
                                .col-md-6
                                    h3 Szpital Szkotnika
                                    strong
                                        i.im.im-icon-Map-Marker
                                        |  Adres placówki
                                    br
                                    |  Centermed Tarnów
                                    br
                                    |  Ulica Szujskiego 33
                                    br
                                .col-md-3
                                    a.more-button(href='#')
                                        i.im.im-icon-Link-2
                                        |  Więcej
                            // Listing Item / End
        include footer.pug
        //
          Scripts
          ==================================================
        script(type='text/javascript', src='scripts/jquery-2.2.0.min.js')

listings-vendor.html
<!DOCTYPE html>
<head>
  <!--
  Basic Page Needs
  ==================================================
  -->
  <title>Listeo</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <!--
  CSS
  ==================================================
  -->
  <link rel="stylesheet" href="css/style.min.css">
  <link id="custom" rel="stylesheet" href="css/custom.min.css">
  <link rel="stylesheet" href="css/jquery-ui.min.css">
</head>
<body>
  <!-- Wrapper-->
  <div id="wrapper">
    <header id="header-container">
      <div class="not-sticky" id="header">
        <div class="container">
          <div class="left-side">
            <div id="logo"><a href="index.html"><img src="images/logo.png" alt=""></a></div>
            <nav class="style-1" id="navigation">
              <ul class="responsive">
                <li><a class="current" href="#">GMP S.A.</a></li>
                <li><a href="pages-full-width.html">Współpraca</a></li>
                <li><a href="blog.html">Aktualności</a></li>
                <li><a href="pages-contact.html">Kontakt</a></li>
              </ul>
            </nav>
            <div class="clearfix"></div>
          </div>
          <div class="right-side">
            <div class="header-widget"><a class="sign-in"><i class="sl sl-icon-login"></i> Zaloguj</a><a class="button border with-icon infolinia" href="tel:622-14-14"><i class="sl sl-icon-phone"></i><span class="infolinia-hidden"> Infolinia</span> 622-14-14</a></div>
          </div>
        </div>
      </div>
    </header>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a class="navbar-brand" href="#">Menu</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">GMP S.A.<span class="sr-only">(current)</span></a></li>
            <li><a href="#">Współpraca</a></li>
            <li><a href="#">Aktualności</a></li>
            <li><a href="#">Kontakt</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <!--
  Content
  ==================================================
  -->
  <div class="fullwidth">
    <div class="container">
      <div class="row sticky-wrapper">
        <div class="col-lg-12 col-md-12">
          <!-- Titlebar-->
          <div class="row margin-top-50">
            <div class="col-md-12">
              <h1>Grupa NewMed</h1>
              <nav id="breadcrumbs">
                <ul>
                  <li><a href="#">Strona Główna</a></li>
                  <li>Współpraca</li>
                  <li>NewMed</li>
                </ul>
              </nav>
            </div>
          </div>
          <div class="divider margin-top-30"></div>
          <!-- Overview-->
          <div class="row">
            <div class="col-md-4"><img class="mobile-hidden" src="https://dummyimage.com/200x100/000/fff">
              <h3>Dane kontaktowe</h3>                        Centralna 443<br>                        33-100 Warszawa<br>                        Tel. 889-397-069<br>                        kontakt@newmed.pl
            </div>
            <div class="col-md-8">
              <h3>Informacje dodatkowe</h3>
              <!-- Description-->
              <p style="text-align: justify;">Lorem Ipsum jest tekstem stosowanym jako przykładowy wypełniacz w przemyśle poligraficznym. Został po raz pierwszy użyty w XV w. przez nieznanego drukarza do wypełnienia tekstem próbnej książki. Pięć wieków później zaczął być używany przemyśle elektronicznym, pozostając praktycznie niezmienionym. Spopularyzował się w latach 60. XX w. wraz z publikacją arkuszy Letrasetu, zawierających fragmenty Lorem Ipsum, a ostatnio z zawierającym różne wersje Lorem Ipsum oprogramowaniem przeznaczonym do realizacji druków na komputerach osobistych, jak Aldus PageMaker.</p>
              <!-- Amenities-->
            </div>
          </div>
          <h2 class="margin-bottom-30 margin-top-50">Jednostki w grupie</h2>
          <div class="divider"></div>
          <!-- Listing Item-->
          <div class="col-lg-12 col-md-12 padding-bottom-70">
            <div class="row">
              <div class="col-md-3"><img class="padding-top-20" src="images/blog-post-01.jpg"></div>
              <div class="col-md-6">
                <h3>Szpital Szkotnika</h3><strong><i class="im im-icon-Map-Marker"></i> Adres placówki</strong><br>                                    Centermed Tarnów<br>                                    Ulica Szujskiego 33<br>
              </div>
              <div class="col-md-3"><a class="more-button" href="#"><i class="im im-icon-Link-2"></i> Więcej</a></div>
            </div>
          </div>
          <div class="col-lg-12 col-md-12 padding-bottom-70">
            <div class="row">
              <div class="col-md-3"><img class="padding-top-20" src="images/blog-post-01.jpg"></div>
              <div class="col-md-6">
                <h3>Szpital Szkotnika</h3><strong><i class="im im-icon-Map-Marker"></i> Adres placówki</strong><br> Centermed Tarnów<br> Ulica Szujskiego 33<br>
              </div>
              <div class="col-md-3"><a class="more-button" href="#"><i class="im im-icon-Link-2"></i> Więcej</a></div>
            </div>
            <!-- Listing Item / End-->
          </div>
        </div>
      </div>
    </div>
  </div>
  <Footer>
    <div class="sticky-footer margin-top-60" id="footer"></div>
    <!-- Main-->
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6 margin-top-20">
          <h4>Dla Pacjentów</h4>
          <ul>
            <li><a href="#">Zaloguj się</a></li>
            <li><a href="#">Korzyści</a></li>
            <li><a href="#">Instrukcje, porady</a></li>
            <li><a href="#">Widget na moją stronę</a></li>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Kontakt</a></li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-6 margin-top-20">
          <h4>Dla Partnerów</h4>
          <ul>
            <li><a href="#">Apliakcja Mobilna</a></li>
            <li><a href="#">Indywidualne Konto Zdrowotne</a></li>
            <li><a href="#">Konto Progamu Zdrowja</a></li>
            <li><a href="#">Przystąp do Programu Zdrowja</a></li>
            <li><a href="#">Instrukcje</a></li>
            <li><a href="#">Informator Medyczny</a></li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-6 margin-top-20">
          <h4>Serwis</h4>
          <ul>
            <li><a href="#">O nas</a></li>
            <li><a href="#">Prywatność</a></li>
            <li><a href="#">Regulamin serwisu</a></li>
            <li><a href="#">Partnerzy technologiczni</a></li>
            <li><a href="#">Ogłoszenia</a></li>
            <li><a href="#">Dla Prasy</a></li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-12 margin-top-20">
          <h4>Kontakt</h4>
          <div class="text-widget"><span>Grupa Medycyna Polska S.A.</span><br>Biuro:<span>ul. Żytomierska 5</span><br>03-360 Warszawa, Polska<br><a href="#">biuro@medycynapolska.pl</a><br></div>
          <ul class="social-list margin-top-20">
            <li><a href="#"><i class="im im-icon-Facebook"></i></a></li>
            <li><a href="#"><i class="im im-icon-Twitter"></i></a></li>
            <li><a href="#"><i class="im im-icon-Linkedin"></i></a></li>
          </ul>
        </div>
      </div>
      <!-- Copyright-->
      <div class="row">
        <div class="col-md-12">
          <div class="copyrights">© 2017 Grupa Medycyna Polska</div>
        </div>
      </div>
    </div>
  </Footer>
  <!-- Footer / End-->
  <!-- Back To Top Button-->
  <div id="backtotop"><a href="#"></a></div>
  <!--
  Scripts
  ==================================================
  -->
  <script type="text/javascript" src="scripts/jquery-2.2.0.min.js"></script>
</body>
