listings-single-page.html
<!DOCTYPE html>
<head>
  <!--
  Basic Page Needs
  ==================================================
  -->
  <title>Listeo</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <!--
  CSS
  ==================================================
  -->
  <link rel="stylesheet" href="css/style.min.css">
  <link id="custom" rel="stylesheet" href="css/custom.min.css">
  <link rel="stylesheet" href="css/jquery-ui.min.css">
</head>
<body>
  <!-- Wrapper-->
  <div id="wrapper">
    <header id="header-container">
      <div class="not-sticky" id="header">
        <div class="container">
          <div class="left-side">
            <div id="logo"><a href="index.html"><img src="images/logo.png" alt=""></a></div>
            <nav class="style-1" id="navigation">
              <ul class="responsive">
                <li><a class="current" href="#">GMP S.A.</a></li>
                <li><a href="pages-full-width.html">Współpraca</a></li>
                <li><a href="blog.html">Aktualności</a></li>
                <li><a href="pages-contact.html">Kontakt</a></li>
              </ul>
            </nav>
            <div class="clearfix"></div>
          </div>
          <div class="right-side">
            <div class="header-widget"><a class="sign-in"><i class="sl sl-icon-login"></i> Zaloguj</a><a class="button border with-icon infolinia" href="tel:622-14-14"><i class="sl sl-icon-phone"></i><span class="infolinia-hidden"> Infolinia</span> 622-14-14</a></div>
          </div>
        </div>
      </div>
    </header>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a class="navbar-brand" href="#">Menu</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">GMP S.A.<span class="sr-only">(current)</span></a></li>
            <li><a href="#">Współpraca</a></li>
            <li><a href="#">Aktualności</a></li>
            <li><a href="#">Kontakt</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <!--
  Content
  ==================================================
  -->
  <div class="container">
    <div class="row sticky-wrapper">
      <div class="col-md-12">
        <h2 class="margin-top-70 margin-bottom-30">Informacje o lekarzu</h2>
        <nav id="breadcrumbs">
          <ul>
            <li><a href="#">Strona Główna</a></li>
            <li>Lekarze</li>
            <li>Joanna Nowak</li>
          </ul>
        </nav>
      </div>
      <div class="col-md-4 mobile-hidden">
        <!-- i.custom-icon.im.im-icon-Business-Woman--><img src="https://dummyimage.com/350x300/000/fff">
      </div>
      <div class="col-md-8">
        <div class="listing-section">
          <h3 class="doctor-title">Joanna Nowak</h3><span><a class="listing-address"></a>Lekarz Ogólny / Medycyna Pracy / NFZ</span>
          <!-- Description-->
          <p class="margin-bottom-60 margin-top-40" style="text-align: justify;">Lorem Ipsum jest tekstem stosowanym jako przykładowy wypełniacz w przemyśle poligraficznym. Został po raz pierwszy użyty w XV w. przez nieznanego drukarza do wypełnienia tekstem próbnej książki. Pięć wieków później zaczął być używany przemyśle elektronicznym, pozostając praktycznie niezmienionym. Spopularyzował się w latach 60. XX w.</p>
          <!-- Amenities-->
        </div>
      </div>
      <div class="col-md-12">
        <div class="divider"></div>
      </div>
      <div class="col-md-12">
        <h2 class="margin-bottom-30">Miejsca pracy lekarza i terminy</h2>
      </div>
      <div id="location-1">
        <div class="col-md-12" id="przychodnia-ogolna-tarnow">
          <h3>Ogólna - Tarnów</h3>
        </div>
        <div class="col-md-4">
          <!-- Contact-->
          <h4><i class="im im-icon-Edit-Map"></i> Lokalizacja:</h4>
          <p>
            <!-- google maps-->
          </p>
          <div class="margin-top-40 background-grey-hospital">
            <h4><i class="im im-icon-Hospital"></i> Dane kontaktowe:</h4>Centermed Pułaskiego 22<br>33-100 Tarnów<br>14-312-132-123
            <div class="divider margin-top-20"></div>
            <h4 class="hours-mobile margin-top-20"><i class="sl sl-icon-clock"></i> Godziny pracy jednostki</h4>
            <div class="margin-bottom-20">
              <ul class="list-unstyled hours">
                <li><span>Poniedziałek</span><span class="bold"> 8:30 - 16:00</span></li>
                <li><span>Wtorek</span><span class="bold"> 8:30 - 16:00</span></li>
                <li><span>Środa</span><span class="bold">8:00 - 14:00</span></li>
                <li><span>Czwartek</span><span class="bold">8:30 - 16:00</span></li>
                <li><span>Piątek</span><span class="bold"> 10:30 - 16:00</span></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-8">
          <div class="margin-top-10" id="calendar"></div>
        </div>
        <div class="margin-bottom-30">
          <div class="col-md-12">
            <h4 class="listing-desc-headline">Świadczone usługi</h4>
          </div>
          <div class="col-md-12">
            <ul class="list-inline2 prices">
              <li><span><strong>Badania ogólne</strong></span><span>130 pln</span></li>
              <li><span><strong>Badania szczegółowe</strong></span><span>100 pln</span></li>
              <li><span><strong>Analiza medyczna</strong></span><span>100 pln</span></li>
              <li><span><strong>Badania szczegółowe</strong></span><span></span></li>
            </ul>
          </div>
        </div>
        <div class="col-md-12 margin-top-30">
          <div class="divider"></div>
        </div>
      </div>
      <div id="location-2">
        <div class="col-md-12" id="przychodnia-ogolna-krakow">
          <h3>Specjalistyka - Kraków</h3>
        </div>
        <div class="col-md-4">
          <!-- Contact-->
          <h4><i class="im im-icon-Edit-Map"></i> Lokalizacja:</h4>
          <p>
            <!-- google maps-->
          </p>
          <div class="margin-top-40 background-grey-hospital">
            <h4><i class="im im-icon-Hospital"></i> Dane kontaktowe:</h4>Centermed Pułaskiego 22<br>33-100 Tarnów<br>14-312-132-123
            <div class="divider margin-top-20"></div>
            <h4 class="hours-mobile margin-top-20"><i class="sl sl-icon-clock"></i> Godziny pracy jednostki</h4>
            <div class="margin-bottom-20">
              <ul class="list-unstyled hours">
                <li><span>Poniedziałek</span><span class="bold"> 8:30 - 16:00</span></li>
                <li><span>Wtorek</span><span class="bold"> 8:30 - 16:00</span></li>
                <li><span>Środa</span><span class="bold">8:00 - 14:00</span></li>
                <li><span>Czwartek</span><span class="bold">8:30 - 16:00</span></li>
                <li><span>Piątek</span><span class="bold"> 10:30 - 16:00</span></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-8">
          <div class="margin-top-10" id="calendar2"></div>
        </div>
        <div class="margin-bottom-30">
          <div class="col-md-12">
            <h4 class="listing-desc-headline">Świadczone usługi</h4>
          </div>
          <div class="col-md-12">
            <ul class="list-inline2 prices">
              <li><span><strong>Badania ogólne</strong></span><span>130 pln</span></li>
              <li><span><strong>Badania szczegółowe</strong></span><span>100 pln</span></li>
              <li><span><strong>Analiza medyczna</strong></span><span>100 pln</span></li>
              <li><span><strong>Badania szczegółowe</strong></span><span></span></li>
            </ul>
          </div>
        </div>
        <div class="col-md-12 margin-top-30">
          <div class="divider"></div>
        </div>
      </div>
    </div>
  </div>
  <!--
  Footer
  ==================================================
  -->
  <Footer>
    <div class="sticky-footer margin-top-60" id="footer"></div>
    <!-- Main-->
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6 margin-top-20">
          <h4>Dla Pacjentów</h4>
          <ul>
            <li><a href="#">Zaloguj się</a></li>
            <li><a href="#">Korzyści</a></li>
            <li><a href="#">Instrukcje, porady</a></li>
            <li><a href="#">Widget na moją stronę</a></li>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Kontakt</a></li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-6 margin-top-20">
          <h4>Dla Partnerów</h4>
          <ul>
            <li><a href="#">Apliakcja Mobilna</a></li>
            <li><a href="#">Indywidualne Konto Zdrowotne</a></li>
            <li><a href="#">Konto Progamu Zdrowja</a></li>
            <li><a href="#">Przystąp do Programu Zdrowja</a></li>
            <li><a href="#">Instrukcje</a></li>
            <li><a href="#">Informator Medyczny</a></li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-6 margin-top-20">
          <h4>Serwis</h4>
          <ul>
            <li><a href="#">O nas</a></li>
            <li><a href="#">Prywatność</a></li>
            <li><a href="#">Regulamin serwisu</a></li>
            <li><a href="#">Partnerzy technologiczni</a></li>
            <li><a href="#">Ogłoszenia</a></li>
            <li><a href="#">Dla Prasy</a></li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-12 margin-top-20">
          <h4>Kontakt</h4>
          <div class="text-widget"><span>Grupa Medycyna Polska S.A.</span><br>Biuro:<span>ul. Żytomierska 5</span><br>03-360 Warszawa, Polska<br><a href="#">biuro@medycynapolska.pl</a><br></div>
          <ul class="social-list margin-top-20">
            <li><a href="#"><i class="im im-icon-Facebook"></i></a></li>
            <li><a href="#"><i class="im im-icon-Twitter"></i></a></li>
            <li><a href="#"><i class="im im-icon-Linkedin"></i></a></li>
          </ul>
        </div>
      </div>
      <!-- Copyright-->
      <div class="row">
        <div class="col-md-12">
          <div class="copyrights">© 2017 Grupa Medycyna Polska</div>
        </div>
      </div>
    </div>
  </Footer>
  <!-- Footer / End-->
  <!-- Back To Top Button-->
  <div id="backtotop"><a href="#"></a></div>
  <!--
  Scripts
  ==================================================
  -->
  <script type="text/javascript" src="scripts/jquery-2.2.0.min.js"></script>
  <script type="text/javascript" src="scripts/jpanelmenu.min.js"></script>
  <script type="text/javascript" src="scripts/chosen.min.js"></script>
  <script type="text/javascript" src="scripts/slick.min.js"></script>
  <script type="text/javascript" src="scripts/rangeslider.min.js"></script>
  <script type="text/javascript" src="scripts/magnific-popup.min.js"></script>
  <script type="text/javascript" src="scripts/waypoints.min.js"></script>
  <script type="text/javascript" src="scripts/counterup.min.js"></script>
  <script type="text/javascript" src="scripts/jquery-ui.min.js"></script>
  <script type="text/javascript" src="scripts/moment.min.js"></script>
  <script type="text/javascript" src="scripts/scheduler.min.js"></script>
  <script type="text/javascript" src="scripts/fullcalendar.min.js"></script>
  <script type="text/javascript" src="scripts/pl.js"></script>
  <script type="text/javascript" src="scripts/custom.js"></script>
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&amp;language=en"></script>
  <script type="text/javascript" src="scripts/markerclusterer.js"></script>
  <script type="text/javascript" src="scripts/maps.js"></script>
  <script>
    $('#calendar').fullCalendar({
        defaultView: 'agendaThreeDay',
        header: {
            left: 'prev',
            right: 'next',
            center: 'title',
        },
        columnFormat:'dddd D.M',
        titleFormat:'D MMMM ',
        height: 705,
        views: {
                agendaThreeDay: {
                    type: 'basicWeek',
                    duration: { days:3 },
                    buttonText: '3 dni'
            }
        },
        events: [
            {
                start: '2017-09-03T12:30:00',
                allDay: false // will make the time show
            },
            {
                start: '2017-09-03T13:30:00',
                allDay: false // will make the time show
            },
            {
                start: '2017-09-03T14:30:00',
                allDay: false // will make the time show
            },
            {
                start: '2017-09-03T15:30:00',
                allDay: false // will make the time show
            },
            {
                start: '2017-09-03T16:30:00',
                allDay: false // will make the time show
            },
            {
                start: '2017-09-03T17:30:00',
                allDay: false // will make the time show
            },
            {
                start: '2017-09-04T12:30:00',
                allDay: false // will make the time show
            },
            {
                start: '2017-09-04T13:30:00',
                allDay: false // will make the time show
            },
            {
                start: '2017-09-04T14:30:00',
                allDay: false // will make the time show
            },
            {
                start: '2017-09-04T15:30:00',
                allDay: false // will make the time show
            },
            {
                start: '2017-09-02T16:30:00',
                allDay: false // will make the time show
            },
            {
                start: '2017-09-02T17:30:00',
                allDay: false // will make the time show
            }
        ],
    });
    $('#calendar2').fullCalendar({
        defaultView: 'agendaThreeDay',
        header: {
            left: 'prev',
            right: 'next',
            center: 'title',
        },
        columnFormat: 'dddd D.M',
        titleFormat: 'D MMMM ',
        height: 705,
        views: {
            agendaThreeDay: {
                type: 'basicWeek',
                duration: {days: 3},
                buttonText: '3 dni'
            }
        },
        events: [
            {
                start: '2017-09-03T12:30:00',
                allDay: false // will make the time show
            },
            {
                start: '2017-09-03T13:30:00',
                allDay: false // will make the time show
            },
            {
                start: '2017-09-03T14:30:00',
                allDay: false // will make the time show
            },
            {
                start: '2017-09-03T15:30:00',
                allDay: false // will make the time show
            },
            {
                start: '2017-09-03T16:30:00',
                allDay: false // will make the time show
            },
            {
                start: '2017-09-03T17:30:00',
                allDay: false // will make the time show
            },
            {
                start: '2017-09-04T12:30:00',
                allDay: false // will make the time show
            },
            {
                start: '2017-09-04T13:30:00',
                allDay: false // will make the time show
            },
            {
                start: '2017-09-04T14:30:00',
                allDay: false // will make the time show
            },
            {
                start: '2017-09-04T15:30:00',
                allDay: false // will make the time show
            },
            {
                start: '2017-09-02T16:30:00',
                allDay: false // will make the time show
            },
            {
                start: '2017-09-02T17:30:00',
                allDay: false // will make the time show
            }
        ],
    });
  </script>
</body>

listings-single-page.pug
include header.pug
body
        // Wrapper
        #wrapper
            include menu.pug
        //
          Content
          ==================================================
        .container
            .row.sticky-wrapper
                .col-md-12
                    h2.margin-top-70.margin-bottom-30 Informacje o lekarzu
                    nav#breadcrumbs
                        ul
                            li
                                a(href='#') Strona Główna
                            li Lekarze
                            li Joanna Nowak
                .col-md-4.mobile-hidden
                    // i.custom-icon.im.im-icon-Business-Woman
                    img(src='https://dummyimage.com/350x300/000/fff')
                .col-md-8
                    .listing-section
                        h3.doctor-title Joanna Nowak
                        span
                            a.listing-address
                            | Lekarz Ogólny / Medycyna Pracy / NFZ
                        // Description
                        p(style='text-align: justify;').margin-bottom-60.margin-top-40
                            | Lorem Ipsum jest tekstem stosowanym jako przykładowy wypełniacz w przemyśle poligraficznym. Został po raz pierwszy użyty w XV w. przez nieznanego drukarza do wypełnienia tekstem próbnej książki. Pięć wieków później zaczął być używany przemyśle elektronicznym, pozostając praktycznie niezmienionym. Spopularyzował się w latach 60. XX w.
                        // Amenities
                .col-md-12
                    .divider
                .col-md-12

                    h2.margin-bottom-30 Miejsca pracy lekarza i terminy
                #location-1
                    .col-md-12#przychodnia-ogolna-tarnow
                        h3 Ogólna - Tarnów
                    .col-md-4
                        // Contact
                        h4
                          i.im.im-icon-Edit-Map
                          |  Lokalizacja:
                        p
                            // google maps

                        .margin-top-40.background-grey-hospital
                            h4
                                i.im.im-icon-Hospital
                                |  Dane kontaktowe:

                            | Centermed Pułaskiego 22
                            br
                            | 33-100 Tarnów
                            br
                            | 14-312-132-123
                            .divider.margin-top-20
                            h4.hours-mobile.margin-top-20
                                i.sl.sl-icon-clock
                                |  Godziny pracy jednostki
                            .margin-bottom-20
                                ul.list-unstyled.hours
                                    li
                                        span Poniedziałek
                                        span.bold  8:30 - 16:00
                                    li
                                        span Wtorek
                                        span.bold  8:30 - 16:00
                                    li
                                        span Środa
                                        span.bold 8:00 - 14:00
                                    li
                                        span Czwartek
                                        span.bold 8:30 - 16:00
                                    li
                                        span Piątek
                                        span.bold  10:30 - 16:00
                    .col-md-8
                        #calendar.margin-top-10

                    .margin-bottom-30
                        .col-md-12
                            h4.listing-desc-headline Świadczone usługi
                        .col-md-12
                            ul.list-inline2.prices
                                li
                                    span
                                        strong Badania ogólne
                                    span 130 pln
                                li
                                    span
                                        strong Badania szczegółowe
                                    span 100 pln
                                li
                                    span
                                        strong Analiza medyczna
                                    span 100 pln
                                li
                                    span
                                        strong Badania szczegółowe
                                    span
                    .col-md-12.margin-top-30
                        .divider
                #location-2
                    .col-md-12#przychodnia-ogolna-krakow
                        h3 Specjalistyka - Kraków
                    .col-md-4
                        // Contact
                        h4
                            i.im.im-icon-Edit-Map
                            |  Lokalizacja:
                        p
                            // google maps

                        .margin-top-40.background-grey-hospital
                            h4
                                i.im.im-icon-Hospital
                                |  Dane kontaktowe:

                            | Centermed Pułaskiego 22
                            br
                            | 33-100 Tarnów
                            br
                            | 14-312-132-123
                            .divider.margin-top-20
                            h4.hours-mobile.margin-top-20
                                i.sl.sl-icon-clock
                                |  Godziny pracy jednostki
                            .margin-bottom-20
                                ul.list-unstyled.hours
                                    li
                                        span Poniedziałek
                                        span.bold  8:30 - 16:00
                                    li
                                        span Wtorek
                                        span.bold  8:30 - 16:00
                                    li
                                        span Środa
                                        span.bold 8:00 - 14:00
                                    li
                                        span Czwartek
                                        span.bold 8:30 - 16:00
                                    li
                                        span Piątek
                                        span.bold  10:30 - 16:00

                    .col-md-8
                        #calendar2.margin-top-10

                    .margin-bottom-30
                        .col-md-12
                            h4.listing-desc-headline Świadczone usługi
                        .col-md-12
                            ul.list-inline2.prices
                                li
                                    span
                                        strong Badania ogólne
                                    span 130 pln
                                li
                                    span
                                        strong Badania szczegółowe
                                    span 100 pln
                                li
                                    span
                                        strong Analiza medyczna
                                    span 100 pln
                                li
                                    span
                                        strong Badania szczegółowe
                                    span
                    .col-md-12.margin-top-30
                        .divider
        //
          Footer
          ==================================================
        include footer.pug
        //
          Scripts
          ==================================================
        script(type='text/javascript', src='scripts/jquery-2.2.0.min.js')
        script(type='text/javascript', src='scripts/jpanelmenu.min.js')
        script(type='text/javascript', src='scripts/chosen.min.js')
        script(type='text/javascript', src='scripts/slick.min.js')
        script(type='text/javascript', src='scripts/rangeslider.min.js')
        script(type='text/javascript', src='scripts/magnific-popup.min.js')
        script(type='text/javascript', src='scripts/waypoints.min.js')
        script(type='text/javascript', src='scripts/counterup.min.js')
        script(type='text/javascript', src='scripts/jquery-ui.min.js')
        script(type='text/javascript', src='scripts/moment.min.js')
        script(type='text/javascript', src='scripts/scheduler.min.js')
        script(type='text/javascript', src='scripts/fullcalendar.min.js')
        script(type='text/javascript', src='scripts/pl.js')
        script(type='text/javascript', src='scripts/custom.js')

        script(type='text/javascript', src='http://maps.google.com/maps/api/js?sensor=false&language=en')
        script(type='text/javascript', src='scripts/markerclusterer.js')
        script(type='text/javascript', src='scripts/maps.js')
        script.
            $('#calendar').fullCalendar({
                defaultView: 'agendaThreeDay',
                header: {
                    left: 'prev',
                    right: 'next',
                    center: 'title',
                },
                columnFormat:'dddd D.M',
                titleFormat:'D MMMM ',
                height: 705,
                views: {
                        agendaThreeDay: {
                            type: 'basicWeek',
                            duration: { days:3 },
                            buttonText: '3 dni'
                    }
                },
                events: [
                    {
                        start: '2017-09-03T12:30:00',
                        allDay: false // will make the time show
                    },
                    {
                        start: '2017-09-03T13:30:00',
                        allDay: false // will make the time show
                    },
                    {
                        start: '2017-09-03T14:30:00',
                        allDay: false // will make the time show
                    },
                    {
                        start: '2017-09-03T15:30:00',
                        allDay: false // will make the time show
                    },
                    {
                        start: '2017-09-03T16:30:00',
                        allDay: false // will make the time show
                    },
                    {
                        start: '2017-09-03T17:30:00',
                        allDay: false // will make the time show
                    },
                    {
                        start: '2017-09-04T12:30:00',
                        allDay: false // will make the time show
                    },
                    {
                        start: '2017-09-04T13:30:00',
                        allDay: false // will make the time show
                    },
                    {
                        start: '2017-09-04T14:30:00',
                        allDay: false // will make the time show
                    },
                    {
                        start: '2017-09-04T15:30:00',
                        allDay: false // will make the time show
                    },
                    {
                        start: '2017-09-02T16:30:00',
                        allDay: false // will make the time show
                    },
                    {
                        start: '2017-09-02T17:30:00',
                        allDay: false // will make the time show
                    }
                ],
            });
            $('#calendar2').fullCalendar({
                defaultView: 'agendaThreeDay',
                header: {
                    left: 'prev',
                    right: 'next',
                    center: 'title',
                },
                columnFormat: 'dddd D.M',
                titleFormat: 'D MMMM ',
                height: 705,
                views: {
                    agendaThreeDay: {
                        type: 'basicWeek',
                        duration: {days: 3},
                        buttonText: '3 dni'
                    }
                },
                events: [
                    {
                        start: '2017-09-03T12:30:00',
                        allDay: false // will make the time show
                    },
                    {
                        start: '2017-09-03T13:30:00',
                        allDay: false // will make the time show
                    },
                    {
                        start: '2017-09-03T14:30:00',
                        allDay: false // will make the time show
                    },
                    {
                        start: '2017-09-03T15:30:00',
                        allDay: false // will make the time show
                    },
                    {
                        start: '2017-09-03T16:30:00',
                        allDay: false // will make the time show
                    },
                    {
                        start: '2017-09-03T17:30:00',
                        allDay: false // will make the time show
                    },
                    {
                        start: '2017-09-04T12:30:00',
                        allDay: false // will make the time show
                    },
                    {
                        start: '2017-09-04T13:30:00',
                        allDay: false // will make the time show
                    },
                    {
                        start: '2017-09-04T14:30:00',
                        allDay: false // will make the time show
                    },
                    {
                        start: '2017-09-04T15:30:00',
                        allDay: false // will make the time show
                    },
                    {
                        start: '2017-09-02T16:30:00',
                        allDay: false // will make the time show
                    },
                    {
                        start: '2017-09-02T17:30:00',
                        allDay: false // will make the time show
                    }
                ],
            });
