pages-register-step4.html
<!DOCTYPE html>
<head>
  <!--
  Basic Page Needs
  ==================================================
  -->
  <title>Listeo</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <!--
  CSS
  ==================================================
  -->
  <link rel="stylesheet" href="css/style.min.css">
  <link id="custom" rel="stylesheet" href="css/custom.min.css">
  <link rel="stylesheet" href="css/jquery-ui.min.css">
</head>
<body>
  <!-- Wrapper-->
  <div id="wrapper">
    <header id="header-container">
      <div class="not-sticky" id="header">
        <div class="container">
          <div class="left-side">
            <div id="logo"><a href="index.html"><img src="images/logo.png" alt=""></a></div>
            <nav class="style-1" id="navigation">
              <ul class="responsive">
                <li><a class="current" href="#">GMP S.A.</a></li>
                <li><a href="pages-full-width.html">Współpraca</a></li>
                <li><a href="blog.html">Aktualności</a></li>
                <li><a href="pages-contact.html">Kontakt</a></li>
              </ul>
            </nav>
            <div class="clearfix"></div>
          </div>
          <div class="right-side">
            <div class="header-widget"><a class="sign-in"><i class="sl sl-icon-login"></i> Zaloguj</a><a class="button border with-icon infolinia" href="tel:622-14-14"><i class="sl sl-icon-phone"></i><span class="infolinia-hidden"> Infolinia</span> 622-14-14</a></div>
          </div>
        </div>
      </div>
    </header>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a class="navbar-brand" href="#">Menu</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">GMP S.A.<span class="sr-only">(current)</span></a></li>
            <li><a href="#">Współpraca</a></li>
            <li><a href="#">Aktualności</a></li>
            <li><a href="#">Kontakt</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <!--
  Content
  ==================================================
  -->
  <!-- Container-->
  <div class="container">
    <div class="row icons-container margin-top-40 mobile-hidden">
      <div class="col-md-8 col-md-push-2">
        <div class="col-md-3">
          <div class="icon-box-register with-line icon-box-success"><i class="im im-icon-Doctor"></i>
            <p class="box-level">Etap 1</p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="icon-box-register with-line icon-box-success"><i class="im im-icon-Credit-Card2"></i>
            <p class="box-level">Etap 2</p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="icon-box-register with-line icon-box-success"><i class="im im-icon-Calendar-4"></i>
            <p class="box-level">Etap 3</p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="icon-box-register icon-box-selected"><i class="im im-icon-Checked-User"></i>
            <p class="box-level"><strong>Etap 4</strong></p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="row margin-top-20">
          <div class="col-md-push-2 col-md-8">
            <section id="confirmation-sucess">
              <h1 class="text-center margin-bottom-35">Potwierdzenie wizyty!</h1>
              <div class="text-center padding-top-30"><i class="im im-icon-Yes success-icon"></i>
                <p class="green-mark padding-top-30"> Gratulacje! - dokonałeś rezerwacji terminu<br><strong>do lek. med. Anna Dębicka</strong>   w dniu<strong> 21 listopada 2017</strong> godzina<strong> 11:45</strong></p><small>Jeżeli chcesz odwołać wizytę, zrób to ze swojego konta lub poprzez link który otrzymałeś na pocztę e-mail.</small>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Container / End-->
  <!--
  Scripts
  ==================================================
  -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.0.js"></script>
  <script type="text/javascript" src="scripts/jpanelmenu.min.js"></script>
  <script type="text/javascript" src="scripts/chosen.min.js"></script>
  <script type="text/javascript" src="scripts/slick.min.js"></script>
  <script type="text/javascript" src="scripts/rangeslider.min.js"></script>
  <script type="text/javascript" src="scripts/waypoints.min.js"></script>
  <script type="text/javascript" src="scripts/jquery-ui.min.js"></script>
  <script type="text/javascript" src="scripts/placeholders.jquery.js"></script>
  <script type="text/javascript" src="scripts/select2.min.js"></script>
  <script type="text/javascript" src="scripts/custom.js"></script>
  <Footer>
    <div class="sticky-footer margin-top-60" id="footer"></div>
    <!-- Main-->
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6 margin-top-20">
          <h4>Dla Pacjentów</h4>
          <ul>
            <li><a href="#">Zaloguj się</a></li>
            <li><a href="#">Korzyści</a></li>
            <li><a href="#">Instrukcje, porady</a></li>
            <li><a href="#">Widget na moją stronę</a></li>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Kontakt</a></li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-6 margin-top-20">
          <h4>Dla Partnerów</h4>
          <ul>
            <li><a href="#">Apliakcja Mobilna</a></li>
            <li><a href="#">Indywidualne Konto Zdrowotne</a></li>
            <li><a href="#">Konto Progamu Zdrowja</a></li>
            <li><a href="#">Przystąp do Programu Zdrowja</a></li>
            <li><a href="#">Instrukcje</a></li>
            <li><a href="#">Informator Medyczny</a></li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-6 margin-top-20">
          <h4>Serwis</h4>
          <ul>
            <li><a href="#">O nas</a></li>
            <li><a href="#">Prywatność</a></li>
            <li><a href="#">Regulamin serwisu</a></li>
            <li><a href="#">Partnerzy technologiczni</a></li>
            <li><a href="#">Ogłoszenia</a></li>
            <li><a href="#">Dla Prasy</a></li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-12 margin-top-20">
          <h4>Kontakt</h4>
          <div class="text-widget"><span>Grupa Medycyna Polska S.A.</span><br>Biuro:<span>ul. Żytomierska 5</span><br>03-360 Warszawa, Polska<br><a href="#">biuro@medycynapolska.pl</a><br></div>
          <ul class="social-list margin-top-20">
            <li><a href="#"><i class="im im-icon-Facebook"></i></a></li>
            <li><a href="#"><i class="im im-icon-Twitter"></i></a></li>
            <li><a href="#"><i class="im im-icon-Linkedin"></i></a></li>
          </ul>
        </div>
      </div>
      <!-- Copyright-->
      <div class="row">
        <div class="col-md-12">
          <div class="copyrights">© 2017 Grupa Medycyna Polska</div>
        </div>
      </div>
    </div>
  </Footer>
  <!-- Footer / End-->
  <!-- Back To Top Button-->
  <div id="backtotop"><a href="#"></a></div>
</body>

pages-register-step4.pug
include header.pug
body
    // Wrapper
    #wrapper
        include menu.pug
    //
      Content
      ==================================================
    // Container
    .container
        .row.icons-container.margin-top-40.mobile-hidden
            .col-md-8.col-md-push-2
                .col-md-3
                    .icon-box-register.with-line.icon-box-success
                        i.im.im-icon-Doctor
                        p.box-level Etap 1
                .col-md-3
                    .icon-box-register.with-line.icon-box-success
                        i.im.im-icon-Credit-Card2
                        p.box-level Etap 2
                .col-md-3
                    .icon-box-register.with-line.icon-box-success
                        i.im.im-icon-Calendar-4
                        p.box-level Etap 3
                .col-md-3
                    .icon-box-register.icon-box-selected
                        i.im.im-icon-Checked-User
                        p.box-level
                            strong Etap 4
        .row
            .col-md-12
                    .row.margin-top-20
                        .col-md-push-2.col-md-8
                            section#confirmation-sucess
                                h1.text-center.margin-bottom-35 Potwierdzenie wizyty!

                                div.text-center.padding-top-30
                                    i.im.im-icon-Yes.success-icon
                                    p.green-mark.padding-top-30
                                        |  Gratulacje! - dokonałeś rezerwacji terminu
                                        br
                                        strong do lek. med. Anna Dębicka
                                        |    w dniu
                                        strong  21 listopada 2017
                                        |  godzina
                                        strong  11:45

                                    small Jeżeli chcesz odwołać wizytę, zrób to ze swojego konta lub poprzez link który otrzymałeś na pocztę e-mail.


    // Container / End
    include scripts
    include footer.pug
