pages-health-form.html
<!DOCTYPE html>
<head>
  <!--
  Basic Page Needs
  ==================================================
  -->
  <title>Listeo</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <!--
  CSS
  ==================================================
  -->
  <link rel="stylesheet" href="css/style.min.css">
  <link id="custom" rel="stylesheet" href="css/custom.min.css">
  <link rel="stylesheet" href="css/jquery-ui.min.css">
</head>
<body>
  <!-- Wrapper-->
  <div id="wrapper">
    <header id="header-container">
      <div class="not-sticky" id="header">
        <div class="container">
          <div class="left-side">
            <div id="logo"><a href="index.html"><img src="images/logo.png" alt=""></a></div>
            <nav class="style-1" id="navigation">
              <ul class="responsive">
                <li><a class="current" href="#">GMP S.A.</a></li>
                <li><a href="pages-full-width.html">Współpraca</a></li>
                <li><a href="blog.html">Aktualności</a></li>
                <li><a href="pages-contact.html">Kontakt</a></li>
              </ul>
            </nav>
            <div class="clearfix"></div>
          </div>
          <div class="right-side">
            <div class="header-widget"><a class="sign-in"><i class="sl sl-icon-login"></i> Zaloguj</a><a class="button border with-icon infolinia" href="tel:622-14-14"><i class="sl sl-icon-phone"></i><span class="infolinia-hidden"> Infolinia</span> 622-14-14</a></div>
          </div>
        </div>
      </div>
    </header>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a class="navbar-brand" href="#">Menu</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">GMP S.A.<span class="sr-only">(current)</span></a></li>
            <li><a href="#">Współpraca</a></li>
            <li><a href="#">Aktualności</a></li>
            <li><a href="#">Kontakt</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <!--
  Titlebar
  ==================================================
  -->
  <div class="gradient" id="titlebar">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>Program ZdrowJa</h2><span>Dołącz do programu</span>
          <!-- Breadcrumbs-->
          <nav id="breadcrumbs">
            <ul>
              <li><a href="#">Strona Główna</a></li>
              <li>Formularz rezerwacji</li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!--
  Content
  ==================================================
  -->
  <div class="container">
    <!-- Blog Posts-->
    <div class="blog-page">
      <div class="row">
        <!-- Post Content-->
        <div class="col-lg-12 col-md-12">
          <h3 class="padding-bottom-30">I. Etap Pierwszy</h3>
          <div class="col-md-6">
            <div class="health-pick text-center" id="health-pick"><i class="im im-icon-Credit-Card2"></i> Posiadam karte</div>
          </div>
          <div class="col-md-6">
            <div class="health-pick text-center" id="health-pick2"><i class="im im-icon-Hand-Touch2"></i> Nie posiadam karty</div>
          </div>
          <!-- Blog Post-->
          <h3 class="padding-bottom-20">II. Etap Drugi</h3>
          <div class="health-post single-post">
            <!-- Content-->
            <div class="post-content">
              <h3>Formularz rejestracji</h3>
              <!-- Details-->
              <form class="health-form">
                <div class="row">
                  <div class="col-md-12">
                    <label>Numer Karty<span class="red-mark">*</span></label>
                    <input value="999987189300" type="text">
                  </div>
                  <div class="col-md-6">
                    <label>Imię:<span class="red-mark">*</span></label>
                    <input type="text">
                  </div>
                  <div class="col-md-6">
                    <label>Nazwisko:<span class="red-mark">*</span></label>
                    <input type="text">
                  </div>
                  <div class="col-md-6">
                    <label>Data urodzenia</label>
                    <input id="date" type="text" placeholder="RRRR-MM-DD">
                  </div>
                  <div class="col-md-6">
                    <label>Tel. komórkowy</label>
                    <input type="text">
                  </div>
                  <div class="col-md-12">
                    <label>Adres e-mail:<span class="red-mark">*</span></label>
                    <input type="text">
                  </div>
                  <div class="col-md-12 margin-bottom-40">
                    <label>Powtórz adres e-mail:<span class="red-mark">*</span></label>
                    <input type="text">
                  </div>
                  <div class="col-md-12 checkboxes-text margin-bottom-20">
                    <input id="giodo-agree" type="checkbox" name="giodo-agree" value="giodo-agree"><span class="red-mark">*</span><span class="giodo-agree"> Wyrażam zgodę na przetwarzanie moich danych osobowych podanych na formularzu rejestracyjnym przez CenterMed Sp. z o.o. z siedzibą przy Placu Jana III Sobieskiego 2, 33-100 Tarnów oraz spółki zależne i powiązane z CenterMed oraz Partnerów Programu ZdrowJa na podstawie zawartych umów, dla celów marketingu oraz oferowania i sprzedaży usług i produktów spółek zależnych i powiązanych z CenterMed oraz Partnerów Programu ZdrowJa.</span>
                  </div>
                  <div class="col-md-12 checkboxes-text margin-bottom-20">
                    <input id="giodo2-agree" type="checkbox" name="giodo2-agree" value="giodo2-agree"><span class="giodo2-agree">W związu z wymogami ustawy z dnia 18 lipca 2002 roku o świadczeniu usług drogą elektroniczną (Dz. U. Nr 144 z 9 września 2002 r., poz. 1204) oraz ustawą z dnia 16 lipca 2004 r. (art. 172) prawo telekomunikacyjne (Dz.U. z 2014 poz. 243), niniejszym wyrażam zgodę na przesyłanie do mnie informacji handlowych środkami komunikacji elektronicznej w zakresie wskazanym w w/w zgodzie na przetwarzanie danych osobowych.</span>
                  </div>
                  <div class="col-md-12 checkboxes-text margin-bottom-20">
                    <input id="marketing-agree2" type="checkbox" name="marketing-agree2" value="marketing-agree2"><span class="marketing-agree2">Wyrażam zgodę na wykorzystywanie przez CenterMed Sp. z o.o., telekomunikacyjnych urządzeń końcowych, w tym telefonów i automatycznych systemów wywołujących dla celów marketingu bezpośredniego.</span>
                  </div>
                  <div class="col-md-12 checkboxes-text">
                    <input id="marketing-mail" type="checkbox" name="marketing-mail" value="marketing-mail"><span class="marketing-mail">Wyrażam zgodę na wykorzystywanie przesyłanie ofert reklamowych drogą elektroniczną.</span>
                  </div>
                </div>
              </form>
              <!-- health form end-->
              <p><small>
                  Administratorem danych osobowych jest CenterMed Sp. z o.o., z siedzibą w Tarnowie (33-100) przy Placu Jana III Sobieskiego 2. Informujemy, że podanie danych jest dobrowolne oraz przysługuje Pani/Panu prawo dostępu do treści danych osobowych i ich poprawiania oraz żądania ich usunięcia.
                  Lista podmiotów wchodzących w skład Grupy CenterMed oraz Partnerów Programu ZdrowJa znajduje się na stronie:<a href="http://www.centermed.pl"> www.centermed.pl</a> oraz<a href="http://www.programzdrowja.pl&gt;"> www.programzdrowja.pl</a></small></p>
              <button class="button margin-top-15" type="submit">Zatwierdz</button>
              <div class="clearfix"></div>
            </div>
          </div>
          <!-- Blog Post / End-->
        </div>
        <!-- Content / End-->
      </div>
    </div>
    <!--
    Footer
    ==================================================
    -->
    <Footer>
      <div class="sticky-footer margin-top-60" id="footer"></div>
      <!-- Main-->
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-6 margin-top-20">
            <h4>Dla Pacjentów</h4>
            <ul>
              <li><a href="#">Zaloguj się</a></li>
              <li><a href="#">Korzyści</a></li>
              <li><a href="#">Instrukcje, porady</a></li>
              <li><a href="#">Widget na moją stronę</a></li>
              <li><a href="#">FAQ</a></li>
              <li><a href="#">Kontakt</a></li>
            </ul>
          </div>
          <div class="col-md-3 col-sm-6 margin-top-20">
            <h4>Dla Partnerów</h4>
            <ul>
              <li><a href="#">Apliakcja Mobilna</a></li>
              <li><a href="#">Indywidualne Konto Zdrowotne</a></li>
              <li><a href="#">Konto Progamu Zdrowja</a></li>
              <li><a href="#">Przystąp do Programu Zdrowja</a></li>
              <li><a href="#">Instrukcje</a></li>
              <li><a href="#">Informator Medyczny</a></li>
            </ul>
          </div>
          <div class="col-md-3 col-sm-6 margin-top-20">
            <h4>Serwis</h4>
            <ul>
              <li><a href="#">O nas</a></li>
              <li><a href="#">Prywatność</a></li>
              <li><a href="#">Regulamin serwisu</a></li>
              <li><a href="#">Partnerzy technologiczni</a></li>
              <li><a href="#">Ogłoszenia</a></li>
              <li><a href="#">Dla Prasy</a></li>
            </ul>
          </div>
          <div class="col-md-3 col-sm-12 margin-top-20">
            <h4>Kontakt</h4>
            <div class="text-widget"><span>Grupa Medycyna Polska S.A.</span><br>Biuro:<span>ul. Żytomierska 5</span><br>03-360 Warszawa, Polska<br><a href="#">biuro@medycynapolska.pl</a><br></div>
            <ul class="social-list margin-top-20">
              <li><a href="#"><i class="im im-icon-Facebook"></i></a></li>
              <li><a href="#"><i class="im im-icon-Twitter"></i></a></li>
              <li><a href="#"><i class="im im-icon-Linkedin"></i></a></li>
            </ul>
          </div>
        </div>
        <!-- Copyright-->
        <div class="row">
          <div class="col-md-12">
            <div class="copyrights">© 2017 Grupa Medycyna Polska</div>
          </div>
        </div>
      </div>
    </Footer>
    <!-- Footer / End-->
    <!-- Back To Top Button-->
    <div id="backtotop"><a href="#"></a></div>
  </div>
  <!--
  Scripts
  ==================================================
  -->
  <!--
  Scripts
  ==================================================
  -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.0.js"></script>
  <script type="text/javascript" src="scripts/jpanelmenu.min.js"></script>
  <script type="text/javascript" src="scripts/chosen.min.js"></script>
  <script type="text/javascript" src="scripts/slick.min.js"></script>
  <script type="text/javascript" src="scripts/rangeslider.min.js"></script>
  <script type="text/javascript" src="scripts/waypoints.min.js"></script>
  <script type="text/javascript" src="scripts/jquery-ui.min.js"></script>
  <script type="text/javascript" src="scripts/placeholders.jquery.js"></script>
  <script type="text/javascript" src="scripts/select2.min.js"></script>
  <script type="text/javascript" src="scripts/custom.js"></script>
  <script type="text/javascript">
    $(".giodo-agree").click(function () {
        if ($('#giodo-agree').is(":checked")) {
            $('#giodo-agree').prop("checked", false);
        } else {
            $('#giodo-agree').prop("checked", true);
        }
    });
    $(".giodo2-agree").click(function () {
        if ($('#giodo2-agree').is(":checked")) {
            $('#giodo2-agree').prop("checked", false);
        } else {
            $('#giodo2-agree').prop("checked", true);
        }
    });
    $(".marketing-agree2").click(function () {
        if ($('#marketing-agree2').is(":checked")) {
            $('#marketing-agree2').prop("checked", false);
        } else {
            $('#marketing-agree2').prop("checked", true);
        }
    });
    $(".marketing-mail").click(function () {
        if ($('#marketing-mail').is(":checked")) {
            $('#marketing-mail').prop("checked", false);
        } else {
            $('#marketing-mail').prop("checked", true);
        }
    });
    $("#health-pick").click(function () {
        $(this).addClass('health-selected');
        $("#health-pick2").removeClass('health-selected');
    });
    $("#health-pick2").click(function () {
        $(this).addClass('health-selected');
        $("#health-pick").removeClass('health-selected');
    });
  </script>
</body>

pages-health-form.pug
include header.pug
body
        // Wrapper
        #wrapper
            include menu.pug
        //
          Titlebar
          ==================================================
        #titlebar.gradient
            .container
                .row
                    .col-md-12
                        h2 Program ZdrowJa
                        span Dołącz do programu
                        // Breadcrumbs
                        nav#breadcrumbs
                            ul
                                li
                                    a(href='#') Strona Główna
                                li Formularz rezerwacji
        //
          Content
          ==================================================
        .container
            // Blog Posts
            .blog-page
                .row
                    // Post Content
                    .col-lg-12.col-md-12
                        h3.padding-bottom-30 I. Etap Pierwszy
                        .col-md-6
                            #health-pick.health-pick.text-center
                                i.im.im-icon-Credit-Card2
                                |  Posiadam karte
                        .col-md-6
                            #health-pick2.health-pick.text-center
                                i.im.im-icon-Hand-Touch2
                                |  Nie posiadam karty
                        // Blog Post
                        h3.padding-bottom-20 II. Etap Drugi
                        .health-post.single-post
                            // Content
                            .post-content
                                h3 Formularz rejestracji
                                // Details
                                form.health-form
                                    .row
                                        .col-md-12
                                            label
                                                | Numer Karty
                                                span.red-mark *
                                            input(value='999987189300', type='text')
                                        .col-md-6
                                            label
                                                | Imię:
                                                span.red-mark *
                                            input(type='text')
                                        .col-md-6
                                            label
                                                | Nazwisko:
                                                span.red-mark *
                                            input(type='text')
                                        .col-md-6
                                            label Data urodzenia
                                            input#date(type='text', placeholder='RRRR-MM-DD')
                                        .col-md-6
                                            label Tel. komórkowy
                                            input(type='text')
                                        .col-md-12
                                            label
                                                | Adres e-mail:
                                                span.red-mark *
                                            input(type='text')
                                        .col-md-12.margin-bottom-40
                                            label
                                                | Powtórz adres e-mail:
                                                span.red-mark *
                                            input(type='text')
                                        .col-md-12.checkboxes-text.margin-bottom-20
                                            input#giodo-agree(type='checkbox', name='giodo-agree' value='giodo-agree')
                                            span.red-mark *
                                            span.giodo-agree  Wyrażam zgodę na przetwarzanie moich danych osobowych podanych na formularzu rejestracyjnym przez CenterMed Sp. z o.o. z siedzibą przy Placu Jana III Sobieskiego 2, 33-100 Tarnów oraz spółki zależne i powiązane z CenterMed oraz Partnerów Programu ZdrowJa na podstawie zawartych umów, dla celów marketingu oraz oferowania i sprzedaży usług i produktów spółek zależnych i powiązanych z CenterMed oraz Partnerów Programu ZdrowJa.
                                        .col-md-12.checkboxes-text.margin-bottom-20
                                            input#giodo2-agree(type='checkbox', name='giodo2-agree' value='giodo2-agree')
                                            span.giodo2-agree W związu z wymogami ustawy z dnia 18 lipca 2002 roku o świadczeniu usług drogą elektroniczną (Dz. U. Nr 144 z 9 września 2002 r., poz. 1204) oraz ustawą z dnia 16 lipca 2004 r. (art. 172) prawo telekomunikacyjne (Dz.U. z 2014 poz. 243), niniejszym wyrażam zgodę na przesyłanie do mnie informacji handlowych środkami komunikacji elektronicznej w zakresie wskazanym w w/w zgodzie na przetwarzanie danych osobowych.
                                        .col-md-12.checkboxes-text.margin-bottom-20
                                            input#marketing-agree2(type='checkbox', name="marketing-agree2" value='marketing-agree2')
                                            span.marketing-agree2 Wyrażam zgodę na wykorzystywanie przez CenterMed Sp. z o.o., telekomunikacyjnych urządzeń końcowych, w tym telefonów i automatycznych systemów wywołujących dla celów marketingu bezpośredniego.
                                        .col-md-12.checkboxes-text
                                            input#marketing-mail(type='checkbox', name="marketing-mail" value='marketing-mail')
                                            span.marketing-mail Wyrażam zgodę na wykorzystywanie przesyłanie ofert reklamowych drogą elektroniczną.
                                // health form end
                                p
                                    small
                                        | Administratorem danych osobowych jest CenterMed Sp. z o.o., z siedzibą w Tarnowie (33-100) przy Placu Jana III Sobieskiego 2. Informujemy, że podanie danych jest dobrowolne oraz przysługuje Pani/Panu prawo dostępu do treści danych osobowych i ich poprawiania oraz żądania ich usunięcia.
                                        | Lista podmiotów wchodzących w skład Grupy CenterMed oraz Partnerów Programu ZdrowJa znajduje się na stronie:
                                        a(href='http://www.centermed.pl')  www.centermed.pl
                                        |  oraz
                                        a(href='http://www.programzdrowja.pl>')  www.programzdrowja.pl
                                button(type='submit').button.margin-top-15 Zatwierdz
                                .clearfix
                        // Blog Post / End
                    // Content / End
            //
              Footer
              ==================================================
            include footer.pug
        //
          Scripts
          ==================================================
        include scripts.pug
        script(type='text/javascript').
            $(".giodo-agree").click(function () {
                if ($('#giodo-agree').is(":checked")) {
                    $('#giodo-agree').prop("checked", false);
                } else {
                    $('#giodo-agree').prop("checked", true);
                }
            });
            $(".giodo2-agree").click(function () {
                if ($('#giodo2-agree').is(":checked")) {
                    $('#giodo2-agree').prop("checked", false);
                } else {
                    $('#giodo2-agree').prop("checked", true);
                }
            });
            $(".marketing-agree2").click(function () {
                if ($('#marketing-agree2').is(":checked")) {
                    $('#marketing-agree2').prop("checked", false);
                } else {
                    $('#marketing-agree2').prop("checked", true);
                }
            });
            $(".marketing-mail").click(function () {
                if ($('#marketing-mail').is(":checked")) {
                    $('#marketing-mail').prop("checked", false);
                } else {
                    $('#marketing-mail').prop("checked", true);
                }
            });
            $("#health-pick").click(function () {
                $(this).addClass('health-selected');
                $("#health-pick2").removeClass('health-selected');
            });
            $("#health-pick2").click(function () {
                $(this).addClass('health-selected');
                $("#health-pick").removeClass('health-selected');
            });
