pages-contact.pug
include header.pug
body
        // Wrapper
        #wrapper
            //
            include menu.pug
            //
              Content
              ==================================================
            // Map Container
            .contact-map.margin-bottom-60
                // Google Maps
                #singleListingMap-container
                    #singleListingMap(data-latitude='40.70437865245596', data-longitude='-73.98674011230469', data-map-icon='im im-icon-Map2')
                // Google Maps / End
                // Office
                .address-box-container
                    .address-container(data-background-image='images/our-office.jpg')
                        .office-address
                            h3  Grupa Medycyna Polska
                            ul
                                li ul. Medyczna 33
                                li Warszawa
                // Office / End
            .clearfix
            // Map Container / End
            // Container / Start
            .container
                .row.margin-bottom-50
                    // Contact Details
                    .col-md-4
                        h4.headline.margin-bottom-30
                        // Contact Details
                        .sidebar-textbox
                            p
                                | Zapraszamy do komunikacji za pomocą dedykowanej infolinii telefonicznej oraz formularza poczty elektorniczne.
                            ul.contact-details
                                li
                                    i.im.im-icon-Phone-2
                                    strong Telefon:
                                    span (123) 123-456
                                li
                                    i.im.im-icon-Fax
                                    strong Fax:
                                    span (123) 123-456
                                li
                                    i.im.im-icon-Envelope
                                    strong E-Mail:
                                    span
                                        a(href='#') biuro@grupamedycynapolska.pl
                    // Contact Form
                    .col-md-8
                        section#contact
                            h4.headline.margin-bottom-35 Formularz Kontaktowy
                            #contact-message
                            form#contactform(method='post', action='src/contact.php', name='contactform', autocomplete='on')
                                .row
                                    .col-md-6
                                        div
                                            input#name(name='name', type='text', placeholder='Twoje imie', required='required')
                                    .col-md-6
                                        div
                                            input#email(name='email', type='email', placeholder='Adres e-mail', pattern='^[A-Za-z0-9](([_\.\-]?[a-zA-Z0-9]+)*)@([A-Za-z0-9]+)(([\.\-]?[a-zA-Z0-9]+)*)\.([A-Za-z]{2,})$', required='required')
                                div
                                    input#subject(name='subject', type='text', placeholder='Temat', required='required')
                                div
                                    textarea#comments(name='comments', cols='40', rows='3', placeholder='Treść wiadomości', spellcheck='true', required='required')
                                input#submit.submit.button(type='submit', value='Wyślij wiadomość')
                    // Contact Form / End
            // Container / End
            include footer
        // Wrapper / End
        //
          Scripts
          ==================================================
        script(type='text/javascript', src='scripts/jquery-2.2.0.min.js')
        script(type='text/javascript', src='scripts/jpanelmenu.min.js')
        script(type='text/javascript', src='scripts/chosen.min.js')
        script(type='text/javascript', src='scripts/slick.min.js')
        script(type='text/javascript', src='scripts/rangeslider.min.js')
        script(type='text/javascript', src='scripts/magnific-popup.min.js')
        script(type='text/javascript', src='scripts/waypoints.min.js')
        script(type='text/javascript', src='scripts/counterup.min.js')
        script(type='text/javascript', src='scripts/jquery-ui.min.js')
        script(type='text/javascript', src='src/scripts/tooltips.min.js')
        script(type='text/javascript', src='scripts/custom.js')
        // Maps
        script(type='text/javascript', src='http://maps.google.com/maps/api/js?sensor=false&language=en')
        script(type='text/javascript', src='src/scripts/infobox.min.js')
        script(type='text/javascript', src='scripts/markerclusterer.js')
        script(type='text/javascript', src='scripts/maps.js')

pages-contact.html
<!DOCTYPE html>
<head>
  <!--
  Basic Page Needs
  ==================================================
  -->
  <title>Listeo</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <!--
  CSS
  ==================================================
  -->
  <link rel="stylesheet" href="css/style.min.css">
  <link id="custom" rel="stylesheet" href="css/custom.min.css">
  <link rel="stylesheet" href="css/jquery-ui.min.css">
</head>
<body>
  <!-- Wrapper-->
  <div id="wrapper">
    <!---->
    <header id="header-container">
      <div class="not-sticky" id="header">
        <div class="container">
          <div class="left-side">
            <div id="logo"><a href="index.html"><img src="images/logo.png" alt=""></a></div>
            <nav class="style-1" id="navigation">
              <ul class="responsive">
                <li><a class="current" href="#">GMP S.A.</a></li>
                <li><a href="pages-full-width.html">Współpraca</a></li>
                <li><a href="blog.html">Aktualności</a></li>
                <li><a href="pages-contact.html">Kontakt</a></li>
              </ul>
            </nav>
            <div class="clearfix"></div>
          </div>
          <div class="right-side">
            <div class="header-widget"><a class="sign-in"><i class="sl sl-icon-login"></i> Zaloguj</a><a class="button border with-icon infolinia" href="tel:622-14-14"><i class="sl sl-icon-phone"></i><span class="infolinia-hidden"> Infolinia</span> 622-14-14</a></div>
          </div>
        </div>
      </div>
    </header>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a class="navbar-brand" href="#">Menu</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">GMP S.A.<span class="sr-only">(current)</span></a></li>
            <li><a href="#">Współpraca</a></li>
            <li><a href="#">Aktualności</a></li>
            <li><a href="#">Kontakt</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <!--
    Content
    ==================================================
    -->
    <!-- Map Container-->
    <div class="contact-map margin-bottom-60">
      <!-- Google Maps-->
      <div id="singleListingMap-container">
        <div id="singleListingMap" data-latitude="40.70437865245596" data-longitude="-73.98674011230469" data-map-icon="im im-icon-Map2"></div>
      </div>
      <!-- Google Maps / End-->
      <!-- Office-->
      <div class="address-box-container">
        <div class="address-container" data-background-image="images/our-office.jpg">
          <div class="office-address">
            <h3> Grupa Medycyna Polska</h3>
            <ul>
              <li>ul. Medyczna 33</li>
              <li>Warszawa</li>
            </ul>
          </div>
        </div>
      </div>
      <!-- Office / End-->
    </div>
    <div class="clearfix"></div>
    <!-- Map Container / End-->
    <!-- Container / Start-->
    <div class="container">
      <div class="row margin-bottom-50">
        <!-- Contact Details-->
        <div class="col-md-4">
          <h4 class="headline margin-bottom-30"></h4>
          <!-- Contact Details-->
          <div class="sidebar-textbox">
            <p>Zapraszamy do komunikacji za pomocą dedykowanej infolinii telefonicznej oraz formularza poczty elektorniczne.</p>
            <ul class="contact-details">
              <li><i class="im im-icon-Phone-2"></i><strong>Telefon:</strong><span>(123) 123-456</span></li>
              <li><i class="im im-icon-Fax"></i><strong>Fax:</strong><span>(123) 123-456</span></li>
              <li><i class="im im-icon-Envelope"></i><strong>E-Mail:</strong><span><a href="#">biuro@grupamedycynapolska.pl</a></span></li>
            </ul>
          </div>
        </div>
        <!-- Contact Form-->
        <div class="col-md-8">
          <section id="contact">
            <h4 class="headline margin-bottom-35">Formularz Kontaktowy</h4>
            <div id="contact-message"></div>
            <form id="contactform" method="post" action="src/contact.php" name="contactform" autocomplete="on">
              <div class="row">
                <div class="col-md-6">
                  <div>
                    <input id="name" name="name" type="text" placeholder="Twoje imie" required="required">
                  </div>
                </div>
                <div class="col-md-6">
                  <div>
                    <input id="email" name="email" type="email" placeholder="Adres e-mail" pattern="^[A-Za-z0-9](([_.-]?[a-zA-Z0-9]+)*)@([A-Za-z0-9]+)(([.-]?[a-zA-Z0-9]+)*).([A-Za-z]{2,})$" required="required">
                  </div>
                </div>
              </div>
              <div>
                <input id="subject" name="subject" type="text" placeholder="Temat" required="required">
              </div>
              <div>
                <textarea id="comments" name="comments" cols="40" rows="3" placeholder="Treść wiadomości" spellcheck="true" required="required"></textarea>
              </div>
              <input class="submit button" id="submit" type="submit" value="Wyślij wiadomość">
            </form>
          </section>
        </div>
        <!-- Contact Form / End-->
      </div>
    </div>
    <!-- Container / End-->
    <Footer>
      <div class="sticky-footer margin-top-60" id="footer"></div>
      <!-- Main-->
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-6 margin-top-20">
            <h4>Dla Pacjentów</h4>
            <ul>
              <li><a href="#">Zaloguj się</a></li>
              <li><a href="#">Korzyści</a></li>
              <li><a href="#">Instrukcje, porady</a></li>
              <li><a href="#">Widget na moją stronę</a></li>
              <li><a href="#">FAQ</a></li>
              <li><a href="#">Kontakt</a></li>
            </ul>
          </div>
          <div class="col-md-3 col-sm-6 margin-top-20">
            <h4>Dla Partnerów</h4>
            <ul>
              <li><a href="#">Apliakcja Mobilna</a></li>
              <li><a href="#">Indywidualne Konto Zdrowotne</a></li>
              <li><a href="#">Konto Progamu Zdrowja</a></li>
              <li><a href="#">Przystąp do Programu Zdrowja</a></li>
              <li><a href="#">Instrukcje</a></li>
              <li><a href="#">Informator Medyczny</a></li>
            </ul>
          </div>
          <div class="col-md-3 col-sm-6 margin-top-20">
            <h4>Serwis</h4>
            <ul>
              <li><a href="#">O nas</a></li>
              <li><a href="#">Prywatność</a></li>
              <li><a href="#">Regulamin serwisu</a></li>
              <li><a href="#">Partnerzy technologiczni</a></li>
              <li><a href="#">Ogłoszenia</a></li>
              <li><a href="#">Dla Prasy</a></li>
            </ul>
          </div>
          <div class="col-md-3 col-sm-12 margin-top-20">
            <h4>Kontakt</h4>
            <div class="text-widget"><span>Grupa Medycyna Polska S.A.</span><br>Biuro:<span>ul. Żytomierska 5</span><br>03-360 Warszawa, Polska<br><a href="#">biuro@medycynapolska.pl</a><br></div>
            <ul class="social-list margin-top-20">
              <li><a href="#"><i class="im im-icon-Facebook"></i></a></li>
              <li><a href="#"><i class="im im-icon-Twitter"></i></a></li>
              <li><a href="#"><i class="im im-icon-Linkedin"></i></a></li>
            </ul>
          </div>
        </div>
        <!-- Copyright-->
        <div class="row">
          <div class="col-md-12">
            <div class="copyrights">© 2017 Grupa Medycyna Polska</div>
          </div>
        </div>
      </div>
    </Footer>
    <!-- Footer / End-->
    <!-- Back To Top Button-->
    <div id="backtotop"><a href="#"></a></div>
  </div>
  <!-- Wrapper / End-->
  <!--
  Scripts
  ==================================================
  -->
  <script type="text/javascript" src="scripts/jquery-2.2.0.min.js"></script>
  <script type="text/javascript" src="scripts/jpanelmenu.min.js"></script>
  <script type="text/javascript" src="scripts/chosen.min.js"></script>
  <script type="text/javascript" src="scripts/slick.min.js"></script>
  <script type="text/javascript" src="scripts/rangeslider.min.js"></script>
  <script type="text/javascript" src="scripts/magnific-popup.min.js"></script>
  <script type="text/javascript" src="scripts/waypoints.min.js"></script>
  <script type="text/javascript" src="scripts/counterup.min.js"></script>
  <script type="text/javascript" src="scripts/jquery-ui.min.js"></script>
  <script type="text/javascript" src="src/scripts/tooltips.min.js"></script>
  <script type="text/javascript" src="scripts/custom.js"></script>
  <!-- Maps-->
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&amp;language=en"></script>
  <script type="text/javascript" src="src/scripts/infobox.min.js"></script>
  <script type="text/javascript" src="scripts/markerclusterer.js"></script>
  <script type="text/javascript" src="scripts/maps.js"></script>
</body>
