pages-register.pug
include header.pug
body
    // Wrapper
    #wrapper
        include menu.pug
    //
      Content
      ==================================================
    // Container
    .container
        .row.icons-container.margin-top-40.mobile-hidden
            .col-md-8.col-md-push-2
                .col-md-3
                    .icon-box-register.with-line.icon-box-selected
                        i.im.im-icon-Doctor
                        p.box-level
                            strong Etap 1
                .col-md-3
                    .icon-box-register.with-line
                        i.im.im-icon-Credit-Card2
                        p.box-level Etap 2
                .col-md-3
                    .icon-box-register.with-line
                        i.im.im-icon-Calendar-4
                        p.box-level Etap 3
                .col-md-3
                    .icon-box-register
                        i.im.im-icon-Checked-User
                        p.box-level Etap 4
        .row
            .col-md-12
                    .row.margin-top-20
                        .col-md-8
                            section#contact
                                h1.margin-bottom-35 Formularz Rejetracji
                                #contact-message
                                form(method='post', action='#', name='registerform', autocomplete='on').form.with-forms
                                    .row
                                        .col-md-12
                                            strong Wybierz usługę:
                                                span.red-mark *
                                    .row.padding-bottom-10
                                        .col-md-12.padding-bottom-10
                                            select(required='required').chosen-select-no-single
                                                option Badania ogólne
                                                option Specjalistyka
                                    .row
                                        .col-md-12
                                            strong Dane pacjenta:
                                                span.red-mark *
                                    .row
                                        .col-md-6
                                            div
                                                input#name(name='name', type='text', placeholder='Imie', required='required')
                                        .col-md-6
                                            div
                                                input#email(name='surname', type='text', placeholder='Nazwisko', required='required')
                                    .row
                                        .col-md-6
                                            div
                                                input#subject(name='pesel', type='text', placeholder='Numer Pesel', required='required')
                                        .col-md-6
                                            div
                                                input#subject(name='phone', type='text', placeholder='Numer telefonu', required='required')
                                    .row
                                        .col-md-12.margin-bottom-40
                                            i.im.im-icon-Information
                                            small
                                                i  Podany numer telefonu zostanie wykorzystany do kontaktu w związku z wizytą.

                                    .row
                                        .col-md-12
                                            strong Określ profil wizyty:
                                                span.red-mark *
                                        .col-md-6
                                            // More Search Options

                                            div.padding-bottom-10#check-first
                                                input(type='checkbox', name='check-first')
                                                label To moja pierwsza wizyta
                                        .col-md-6
                                            div.padding-bottom-10#check-second
                                                input(type='checkbox', name='check-second')
                                                label Byłem już u tego lekara
                                    .row
                                        .col-md-12
                                            strong Regulamin serwisu
                                                span.red-mark *
                                            div.padding-bottom-10
                                                input#check-rules(type='checkbox', name='check-rules')
                                                label(for='check-rules')  Akteptuje regulamin
                                            // Checkboxes / End
                                            small.red-mark * Wymagane są wszystkie pola.
                                            br
                                            br
                                            input#submit.submit.button(type='submit', value='Dalej >>')
                        .col-md-4.padding-bottom-40.padding-top-40
                            .text-center.background-grey
                                h4 Dane Lekarza:
                                img(src='./images/happy-client-01.jpg')
                                p Janina Nowoczyk
                                    br
                                    | Specjalista / NFZ

                                h4.padding-top-15 Termin Wizyty :
                                p
                                    i.im.im-icon-Timer
                                    | 16:00
                                    br
                                    | 25 czerwiec 2018
                                h4.padding-top-15 Lokalizacja :
                                p
                                    i.im.im-icon-Location-2
                                    |  Kapielowa 33
                                    br
                                    | 66-000 Warszawa
    // Container / End
    include scripts
    script.
        $("#check-first").click(function () {
            if ($(this).find('input:checkbox[name=check-first]').is(":checked")) {
                $(this).find('input:checkbox[name=check-first]').prop("checked", false);
        } else {
        $(this).find('input:checkbox[name=check-first]').prop("checked", true);
        $('input:checkbox[name=check-second]').prop("checked", false);
        }
        });

        $("#check-second").click(function () {
            if ($(this).find('input:checkbox[name=check-second]').is(":checked")) {
                $(this).find('input:checkbox[name=check-second]').prop("checked", false);
            } else {
                $(this).find('input:checkbox[name=check-second]').prop("checked", true);
                $('input:checkbox[name=check-first]').prop("checked", false);
            }
        });

    include footer.pug

pages-register.html
<!DOCTYPE html>
<head>
  <!--
  Basic Page Needs
  ==================================================
  -->
  <title>Listeo</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <!--
  CSS
  ==================================================
  -->
  <link rel="stylesheet" href="css/style.min.css">
  <link id="custom" rel="stylesheet" href="css/custom.min.css">
  <link rel="stylesheet" href="css/jquery-ui.min.css">
</head>
<body>
  <!-- Wrapper-->
  <div id="wrapper">
    <header id="header-container">
      <div class="not-sticky" id="header">
        <div class="container">
          <div class="left-side">
            <div id="logo"><a href="index.html"><img src="images/logo.png" alt=""></a></div>
            <nav class="style-1" id="navigation">
              <ul class="responsive">
                <li><a class="current" href="#">GMP S.A.</a></li>
                <li><a href="pages-full-width.html">Współpraca</a></li>
                <li><a href="blog.html">Aktualności</a></li>
                <li><a href="pages-contact.html">Kontakt</a></li>
              </ul>
            </nav>
            <div class="clearfix"></div>
          </div>
          <div class="right-side">
            <div class="header-widget"><a class="sign-in"><i class="sl sl-icon-login"></i> Zaloguj</a><a class="button border with-icon infolinia" href="tel:622-14-14"><i class="sl sl-icon-phone"></i><span class="infolinia-hidden"> Infolinia</span> 622-14-14</a></div>
          </div>
        </div>
      </div>
    </header>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a class="navbar-brand" href="#">Menu</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">GMP S.A.<span class="sr-only">(current)</span></a></li>
            <li><a href="#">Współpraca</a></li>
            <li><a href="#">Aktualności</a></li>
            <li><a href="#">Kontakt</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <!--
  Content
  ==================================================
  -->
  <!-- Container-->
  <div class="container">
    <div class="row icons-container margin-top-40 mobile-hidden">
      <div class="col-md-8 col-md-push-2">
        <div class="col-md-3">
          <div class="icon-box-register with-line icon-box-selected"><i class="im im-icon-Doctor"></i>
            <p class="box-level"><strong>Etap 1</strong></p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="icon-box-register with-line"><i class="im im-icon-Credit-Card2"></i>
            <p class="box-level">Etap 2</p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="icon-box-register with-line"><i class="im im-icon-Calendar-4"></i>
            <p class="box-level">Etap 3</p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="icon-box-register"><i class="im im-icon-Checked-User"></i>
            <p class="box-level">Etap 4</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="row margin-top-20">
          <div class="col-md-8">
            <section id="contact">
              <h1 class="margin-bottom-35">Formularz Rejetracji</h1>
              <div id="contact-message"></div>
              <form class="form with-forms" method="post" action="#" name="registerform" autocomplete="on">
                <div class="row">
                  <div class="col-md-12"><strong>Wybierz usługę:<span class="red-mark">*</span></strong></div>
                </div>
                <div class="row padding-bottom-10">
                  <div class="col-md-12 padding-bottom-10">
                    <select class="chosen-select-no-single" required="required">
                      <option>Badania ogólne</option>
                      <option>Specjalistyka</option>
                    </select>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12"><strong>Dane pacjenta:<span class="red-mark">*</span></strong></div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div>
                      <input id="name" name="name" type="text" placeholder="Imie" required="required">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div>
                      <input id="email" name="surname" type="text" placeholder="Nazwisko" required="required">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div>
                      <input id="subject" name="pesel" type="text" placeholder="Numer Pesel" required="required">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div>
                      <input id="subject" name="phone" type="text" placeholder="Numer telefonu" required="required">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 margin-bottom-40"><i class="im im-icon-Information"></i><small><i> Podany numer telefonu zostanie wykorzystany do kontaktu w związku z wizytą.</i></small></div>
                </div>
                <div class="row">
                  <div class="col-md-12"><strong>Określ profil wizyty:<span class="red-mark">*</span></strong></div>
                  <div class="col-md-6">
                    <!-- More Search Options-->
                    <div class="padding-bottom-10" id="check-first">
                      <input type="checkbox" name="check-first">
                      <label>To moja pierwsza wizyta</label>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="padding-bottom-10" id="check-second">
                      <input type="checkbox" name="check-second">
                      <label>Byłem już u tego lekara</label>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12"><strong>Regulamin serwisu<span class="red-mark">*</span></strong>
                    <div class="padding-bottom-10">
                      <input id="check-rules" type="checkbox" name="check-rules">
                      <label for="check-rules"> Akteptuje regulamin</label>
                    </div>
                    <!-- Checkboxes / End--><small class="red-mark">* Wymagane są wszystkie pola.</small><br><br>
                    <input class="submit button" id="submit" type="submit" value="Dalej &gt;&gt;">
                  </div>
                </div>
              </form>
            </section>
          </div>
          <div class="col-md-4 padding-bottom-40 padding-top-40">
            <div class="text-center background-grey">
              <h4>Dane Lekarza:</h4><img src="./images/happy-client-01.jpg">
              <p>Janina Nowoczyk<br>Specjalista / NFZ</p>
              <h4 class="padding-top-15">Termin Wizyty :</h4>
              <p><i class="im im-icon-Timer"></i>16:00<br>25 czerwiec 2018</p>
              <h4 class="padding-top-15">Lokalizacja :</h4>
              <p><i class="im im-icon-Location-2"></i> Kapielowa 33<br>66-000 Warszawa</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Container / End-->
  <!--
  Scripts
  ==================================================
  -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.0.js"></script>
  <script type="text/javascript" src="scripts/jpanelmenu.min.js"></script>
  <script type="text/javascript" src="scripts/chosen.min.js"></script>
  <script type="text/javascript" src="scripts/slick.min.js"></script>
  <script type="text/javascript" src="scripts/rangeslider.min.js"></script>
  <script type="text/javascript" src="scripts/waypoints.min.js"></script>
  <script type="text/javascript" src="scripts/jquery-ui.min.js"></script>
  <script type="text/javascript" src="scripts/placeholders.jquery.js"></script>
  <script type="text/javascript" src="scripts/select2.min.js"></script>
  <script type="text/javascript" src="scripts/custom.js"></script>
  <script>
    $("#check-first").click(function () {
        if ($(this).find('input:checkbox[name=check-first]').is(":checked")) {
            $(this).find('input:checkbox[name=check-first]').prop("checked", false);
    } else {
    $(this).find('input:checkbox[name=check-first]').prop("checked", true);
    $('input:checkbox[name=check-second]').prop("checked", false);
    }
    });
    
    $("#check-second").click(function () {
        if ($(this).find('input:checkbox[name=check-second]').is(":checked")) {
            $(this).find('input:checkbox[name=check-second]').prop("checked", false);
        } else {
            $(this).find('input:checkbox[name=check-second]').prop("checked", true);
            $('input:checkbox[name=check-first]').prop("checked", false);
        }
    });
    
  </script>
  <Footer>
    <div class="sticky-footer margin-top-60" id="footer"></div>
    <!-- Main-->
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6 margin-top-20">
          <h4>Dla Pacjentów</h4>
          <ul>
            <li><a href="#">Zaloguj się</a></li>
            <li><a href="#">Korzyści</a></li>
            <li><a href="#">Instrukcje, porady</a></li>
            <li><a href="#">Widget na moją stronę</a></li>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Kontakt</a></li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-6 margin-top-20">
          <h4>Dla Partnerów</h4>
          <ul>
            <li><a href="#">Apliakcja Mobilna</a></li>
            <li><a href="#">Indywidualne Konto Zdrowotne</a></li>
            <li><a href="#">Konto Progamu Zdrowja</a></li>
            <li><a href="#">Przystąp do Programu Zdrowja</a></li>
            <li><a href="#">Instrukcje</a></li>
            <li><a href="#">Informator Medyczny</a></li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-6 margin-top-20">
          <h4>Serwis</h4>
          <ul>
            <li><a href="#">O nas</a></li>
            <li><a href="#">Prywatność</a></li>
            <li><a href="#">Regulamin serwisu</a></li>
            <li><a href="#">Partnerzy technologiczni</a></li>
            <li><a href="#">Ogłoszenia</a></li>
            <li><a href="#">Dla Prasy</a></li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-12 margin-top-20">
          <h4>Kontakt</h4>
          <div class="text-widget"><span>Grupa Medycyna Polska S.A.</span><br>Biuro:<span>ul. Żytomierska 5</span><br>03-360 Warszawa, Polska<br><a href="#">biuro@medycynapolska.pl</a><br></div>
          <ul class="social-list margin-top-20">
            <li><a href="#"><i class="im im-icon-Facebook"></i></a></li>
            <li><a href="#"><i class="im im-icon-Twitter"></i></a></li>
            <li><a href="#"><i class="im im-icon-Linkedin"></i></a></li>
          </ul>
        </div>
      </div>
      <!-- Copyright-->
      <div class="row">
        <div class="col-md-12">
          <div class="copyrights">© 2017 Grupa Medycyna Polska</div>
        </div>
      </div>
    </div>
  </Footer>
  <!-- Footer / End-->
  <!-- Back To Top Button-->
  <div id="backtotop"><a href="#"></a></div>
</body>
