sitemap.pug
include header
body.container
    .row
        .col-md-12
            h2 Front
            ul
                li
                    a(href='index.html') Index
                li
                    a(href='listings-places.html') Places
                li
                    a(href='listings-list-with-sidebar.html') Search and listings
                li
                    a(href='listings-single-page.html') Single Page
                li
                    a(href='listings-vendor.html') Vendor
                li
                    a(href='pages-404.html') 404
                li
                    a(href='pages-contact.html') Contact
                li
                    a(href='pages-full-width.html') Full Width
                li
                    a(href='pages-health-form.html') Health Form
                li
                    a(href='pages-health-form-success.html') Health Form  Success
            h2 Register Form
            ul
                li
                    a(href='pages-register.html') Register 1
                li
                    a(href='pages-register-step2.html') Register 2
                li
                    a(href='pages-register-step3.html') Register 3
                li
                    a(href='pages-register-step4.html') Register 4
            h2 Konto Basic
            ul
                li
                    a(href='acount-basic.html') Basic
                li
                    a(href='acount-settings.html') Settings
                li
                    a(href='acount-logout.html') Logout

            h2 Konto Premium
            ul
                li
                    a(href='acount-basic.html') Basic
                li
                    a(href='acount-hospital.html') Hospital
                li
                    a(href='acount-logout.html') Logout
                li
                    a(href='acount-places.html') Places
                li
                    a(href='acount-points.html') Points
                li
                    a(href='acount-premium.html') Premium
                li
                    a(href='acount-questions.html') Questions
                li
                    a(href='acount-settings.html') Settings

            h2 Konto Operatora
            ul
                li
                    a(href='acount-operator-contact.html') Contact
                li
                    a(href='acount-operator-workers.html') Workers
                li
                    a(href='acount-operator-specs.html') Specs
                li
                    a(href='acount-operator-services.html') Services
                li
                    a(href='acount-operator-zdrowja.html') Zdrowja
                li
                    a(href='acount-operator-register.html') Register
                li
                    a(href='acount-operator-places.html') Places
                li
                    a(href='acount-operator-list.html') List

sitemap.html
<!DOCTYPE html>
<head>
  <!--
  Basic Page Needs
  ==================================================
  -->
  <title>Listeo</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <!--
  CSS
  ==================================================
  -->
  <link rel="stylesheet" href="css/style.min.css">
  <link id="custom" rel="stylesheet" href="css/custom.min.css">
  <link rel="stylesheet" href="css/jquery-ui.min.css">
</head>
<body class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>Front</h2>
      <ul>
        <li><a href="index.html">Index</a></li>
        <li><a href="listings-places.html">Places</a></li>
        <li><a href="listings-list-with-sidebar.html">Search and listings</a></li>
        <li><a href="listings-single-page.html">Single Page</a></li>
        <li><a href="listings-vendor.html">Vendor</a></li>
        <li><a href="pages-404.html">404</a></li>
        <li><a href="pages-contact.html">Contact</a></li>
        <li><a href="pages-full-width.html">Full Width</a></li>
        <li><a href="pages-health-form.html">Health Form</a></li>
        <li><a href="pages-health-form-success.html">Health Form  Success</a></li>
      </ul>
      <h2>Register Form</h2>
      <ul>
        <li><a href="pages-register.html">Register 1</a></li>
        <li><a href="pages-register-step2.html">Register 2</a></li>
        <li><a href="pages-register-step3.html">Register 3</a></li>
        <li><a href="pages-register-step4.html">Register 4</a></li>
      </ul>
      <h2>Konto Basic</h2>
      <ul>
        <li><a href="acount-basic.html">Basic</a></li>
        <li><a href="acount-settings.html">Settings</a></li>
        <li><a href="acount-logout.html">Logout</a></li>
      </ul>
      <h2>Konto Premium</h2>
      <ul>
        <li><a href="acount-basic.html">Basic</a></li>
        <li><a href="acount-hospital.html">Hospital</a></li>
        <li><a href="acount-logout.html">Logout</a></li>
        <li><a href="acount-places.html">Places</a></li>
        <li><a href="acount-points.html">Points</a></li>
        <li><a href="acount-premium.html">Premium</a></li>
        <li><a href="acount-questions.html">Questions</a></li>
        <li><a href="acount-settings.html">Settings</a></li>
      </ul>
      <h2>Konto Operatora</h2>
      <ul>
        <li><a href="acount-operator-contact.html">Contact</a></li>
        <li><a href="acount-operator-workers.html">Workers</a></li>
        <li><a href="acount-operator-specs.html">Specs</a></li>
        <li><a href="acount-operator-services.html">Services</a></li>
        <li><a href="acount-operator-zdrowja.html">Zdrowja</a></li>
        <li><a href="acount-operator-register.html">Register</a></li>
        <li><a href="acount-operator-places.html">Places</a></li>
        <li><a href="acount-operator-list.html">List</a></li>
      </ul>
    </div>
  </div>
</body>
